<template>
  <section class="w-75">
    <div class="row row-cols-2">
      <!--<div
      v-if="user.unread_notifications.length > 0"
      class="d-flex w-100 alert alert-blue-light align-items-center py-3"
      role="alert"
    >
      <i class="las la-info-circle mr-3" style="font-size: 1.5rem;"></i>
      <span v-if="user.unread_notifications.length == 1">
        Imate
        <b>{{ user.unread_notifications.length }}</b> aktivnu porudžbinu.
      </span>
      <span
        v-else-if="
          user.unread_notifications.length > 1 &&
          user.unread_notifications.length < 5
        "
      >
        Imate
        <b>{{ user.unread_notifications.length }}</b> aktivne porudžbine.
      </span>
      <span v-else>
        Imate
        <b>{{ user.unread_notifications.length }}</b> aktivnih porudžbina.
      </span>
      <nuxt-link
        :to="{ name: 'shop-orders-new' }"
        class="btn btn-blue text-white ml-auto"
      >
        Vidi porudžbine
      </nuxt-link>
    </div>-->
      <div class="col-5">
        <Shortcuts
          :products="products"
          :orders="orders"
          :active-orders="activeOrders"
          :user="user"
        />
      </div>
      <div class="col-6 pl-5">
        <Statistics />
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Dashboard',
  props: {
    products: {
      type: Number,
      required: true,
    },
    orders: {
      type: Number,
      required: true,
    },
    activeOrders: {
      type: Number,
      required: true,
    },
    user: {
      type: [Array, Object],
      required: true,
    },
  },
}
</script>
