<template>
  <section class="w-75">
    <div class="d-flex flex-column expand">
      <OrderCard
        :order="order"
        @expand="expandOrder"
        @minimize="minimizeOrder"
      />
    </div>
    <!--<transition name="expand">
      <Order v-if="expanded" :order="selectedOrder" />
    </transition>-->
  </section>
</template>

<script>
import moment from 'moment'

export default {
  name: 'VendorOrder',
  filters: {
    postedAgo(created_at) {
      moment.locale('sr')
      return moment(new Date(created_at).valueOf()).fromNow()
    },
  },
  props: {
    orders: {
      type: [Array, Object],
      required: true,
    },
  },
  data() {
    return {
      expanded: false,
      selectedOrder: false,
    }
  },
  computed: {
    order() {
      let hash = this.$route.hash.split('-')
      let orderId = hash[hash.length - 1]

      return this.orders.find((o) => o._id === orderId)
    },
  },
  methods: {
    expandOrder(order) {
      this.expanded = true
      this.selectedOrder = order
    },
    minimizeOrder() {
      this.expanded = false
      this.selectedOrder = false
    },
  },
}
</script>
