<template>
  <section class="w-75">
    <div class="row row-cols-3">
      <div v-for="(product, i) in products" :key="i" class="d-flex col-4">
        <AdEdit :product="product" />
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Products',
  props: {
    products: {
      type: [Array, Object],
      required: true,
    },
  },
  data() {
    return {
      loading: true,
      error: false,
    }
  },
}
</script>
