<template>
  <div class="sticky-top pt-5 mt-n5">
    <div class="nav list-group px-0 px-sm-3 py-0 w-75 mw-100">
      <nuxt-link
        :to="{ name: 'dashboard', hash: '/#dashboard' }"
        class="d-flex list-group-item list-group-item-action mb-4 px-sm-4"
        :class="{ 'bg-default active': dashboard }"
        prefetch
      >
        <img src="~/assets/icons/dashboard.png" height="32px" />
        <span class="d-none d-lg-block ml-2">Kontrolna Tabla</span>
      </nuxt-link>

      <!--<nuxt-link
        :to="{ name: 'dashboard', hash: '/#publish' }"
        class="d-flex list-group-item list-group-item-action px-sm-4 mb-1"
        :class="{ 'bg-default active': publish }"
        prefetch
      >
        <img src="~/assets/icons/plus.png" height="32px" />
        <span class="d-none d-lg-block ml-2">Dodaj Proizvod</span>
      </nuxt-link>-->

      <nuxt-link
        :to="{ name: 'dashboard', hash: '/#products' }"
        class="d-flex list-group-item list-group-item-action px-sm-4 mb-1"
        :class="{ 'bg-default active': products }"
        prefetch
      >
        <img src="~/assets/icons/warehouse.png" height="32px" />
        <span class="d-none d-lg-block ml-2">Proizvodi</span>
      </nuxt-link>

      <nuxt-link
        :to="{ name: 'dashboard', hash: '/#orders' }"
        class="d-flex list-group-item list-group-item-action px-sm-4 mb-1"
        :class="{ 'bg-default active': orders }"
        prefetch
      >
        <img src="~/assets/icons/product-documents.png" height="32px" />
        <span class="d-none d-lg-block ml-2">Porudžbine</span>
      </nuxt-link>

      <!--<nuxt-link
        :to="{ name: 'dashboard', hash: '/#messages' }"
        class="d-flex list-group-item list-group-item-action px-sm-4 mb-1"
        :class="{ 'bg-default active': messages }"
        prefetch
      >
        <img src="~/assets/icons/messages.png" height="32px" />
        <span class="d-none d-lg-block ml-2">Poruke</span>
      </nuxt-link>-->

      <nuxt-link
        :to="{ name: 'dashboard', hash: '/#settings' }"
        class="d-flex list-group-item list-group-item-action px-sm-4 mb-1"
        :class="{ 'bg-default active': settings }"
        prefetch
      >
        <img src="~/assets/icons/settings.png" height="32px" />
        <span class="d-none d-lg-block ml-2"> Podešavanja </span>
      </nuxt-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'VendorSidebar',
  props: {
    page: {
      type: String,
      required: true,
    },
  },
  computed: {
    dashboard() {
      if (this.page == 'dashboard') {
        return true
      }
      return false
    },
    publish() {
      if (this.page == 'publish') {
        return true
      }
      return false
    },
    settings() {
      if (this.page == 'settings') {
        return true
      }
      return false
    },
    products() {
      if (this.page == 'products') {
        return true
      }
      return false
    },
    messages() {
      if (this.page == 'messages') {
        return true
      }
      return false
    },
    orders() {
      if (this.page == 'orders') {
        return true
      }
      return false
    },
    transactions() {
      if (this.page == 'transactions') {
        return true
      }
      return false
    },
  },
}
</script>

<style lang="scss" scoped>
.sticky-top {
  z-index: 50 !important;
}

.list-group-item {
  padding-top: 8px;
  padding-bottom: 8px;

  & img {
    filter: grayscale(1);
  }

  &:hover img {
    filter: grayscale(0.5);
  }

  &.active img {
    filter: grayscale(0);
  }
}
</style>
