<template>
  <section class="w-75">
    <transition v-if="orders.length > 0" name="fadeInUp" appear>
      <div class="card bg-lighter p-0 mb-4">
        <div class="card-header bg-lighter border-0">
          <div class="d-flex w-100 justify-content-between align-items-center">
            <h5 class="d-flex align-self-center card-title m-0">Porudžbine</h5>
          </div>
        </div>
        <div class="card-body pt-2 text-default">
          <div class="p-0 mt-3">
            <grid
              :from="from"
              :search="search"
              :pagination="pagination"
              :sort="sort"
            ></grid>
            <table class="table table-shopping-cart">
              <thead class="text-default thead-light">
                <tr>
                  <th>Izveštaj</th>
                  <th>Datum</th>
                  <th>Status</th>
                  <th>Iznos</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(order, index) in orders" :key="index">
                  <td class="col-auto align-left" align="left">
                    <nuxt-link
                      :to="{ name: 'dashboard', hash: '/#order-' + order._id }"
                      class="btn d-inline-flex justify-content-start"
                    >
                      <b-icon icon="receipt" font-scale="1.5"></b-icon>
                      <label class="d-none d-lg-block">Račun</label>
                    </nuxt-link>
                  </td>
                  <td class="col-auto align-middle" align="left">
                    {{ order | postedAgo }}
                  </td>
                  <td class="col-auto align-middle" align="left">
                    <span
                      v-if="order.status == 0"
                      class="badge badge-red-light badge-sm"
                    >
                      <b-icon icon="x-circle" class="mt-n1 mr-1"></b-icon>
                      {{ order.status | status }}
                    </span>
                    <span
                      v-else-if="order.status == 1"
                      class="badge badge-warning-light badge-sm"
                    >
                      <b-icon icon="hourglass" class="mt-n1 mr-1"></b-icon>
                      {{ order.status | status }}
                    </span>
                    <span
                      v-else-if="order.status == 2"
                      class="badge badge-default-light badge-sm"
                    >
                      <b-icon icon="box-seam" class="mt-n1 mr-1"></b-icon>
                      {{ order.status | status }}
                    </span>
                    <span
                      v-else-if="order.status == 3"
                      class="badge badge-info-light badge-sm"
                    >
                      <b-icon icon="truck" class="mt-n1 mr-1"></b-icon>
                      {{ order.status | status }}
                    </span>
                    <span v-else class="badge badge-darkgreen-light badge-sm">
                      <b-icon icon="check2-circle" class="mt-n1 mr-1"></b-icon>
                      {{ order.status | status }}
                    </span>
                  </td>
                  <td class="col-auto align-middle" align="left">
                    {{ order.product.price }} {{ order.product.currency }}
                  </td>
                  <td class="d-none col-auto align-middle" align="right">
                    <div class="dropdown dropdown-menu-right">
                      <button
                        class="btn btn-light text-dark px-3 rounded-circle"
                        type="button"
                        data-toggle="dropdown"
                      >
                        <i class="fas fa-ellipsis-v"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#"
                          ><i class="las la-pen-square"></i> Izmeni</a
                        >
                        <a class="dropdown-item" href="#"
                          ><i class="las la-eye-slash"></i> Sakrij</a
                        >
                        <a class="dropdown-item" href="#"
                          ><i class="las la-trash-alt"></i> Obriši</a
                        >
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </transition>
    <StatusMessage v-else message="Nema obrađenih porudžbina">
      <template #icon>
        <b-icon icon="truck-flatbed" font-scale="2.5"></b-icon>
      </template>
    </StatusMessage>
  </section>
</template>

<script>
import moment from 'moment'

export default {
  name: 'AllOrders',
  filters: {
    status(status) {
      if (status === 0) {
        return 'Otkazano'
      } else if (status === 1) {
        return 'Na čekanju'
      } else if (status === 2) {
        return 'U Pripremi'
      } else if (status === 3) {
        return 'Poslato'
      } else if (status === 4) {
        return 'Dostavljeno'
      }
      return false
    },
    earnings(orders) {
      let income = 0
      let items = Object.values(orders.order)

      items.forEach((item) => {
        return (income += item.price)
      })

      return income
    },
    postedAgo(order) {
      moment.locale('sr')
      let created_at = order.created_at
      return moment(new Date(created_at).valueOf()).fromNow()
    },
  },
  props: {
    orders: {
      type: [Array, Object],
      required: true,
    },
  },
  data() {
    return {
      pagination: true,
      search: true,
      sort: true,
      from: '.table',
    }
  },
}
</script>
