<template>
  <section class="w-75">
    <CardHolder title="Podešavanja">
      <div class="col">
        <p class="text small">
          <b>Osnovne informacije</b>
        </p>
      </div>

      <div class="col">
        <div class="form-label-group">
          <input
            id="name"
            ref="name"
            v-model="name"
            type="text"
            placeholder="Naziv"
            autocomplete="off"
            required="required"
            class="form-control"
          />
          <label for="name">Naziv</label>
        </div>
      </div>

      <div class="col">
        <div class="d-inline-flex w-100 align-items-center">
          <div class="form-label-group w-100">
            <input
              id="username"
              ref="username"
              v-model="username"
              autocomplete="off"
              required="required"
              class="form-control"
              pattern="([^\s][A-z0-9À-ž\s]+)"
              disabled
            />
            <label for="username">Korisničko ime</label>
          </div>
          <span
            v-if="checking"
            class="spinner-border spinner-border-sm text-default ml-2 mt-n3"
            role="status"
            aria-hidden="true"
          />
        </div>
      </div>

      <div class="col">
        <div class="form-label-group">
          <textarea
            id="description"
            ref="description"
            v-model="description"
            placeholder="Opis"
            autocomplete="off"
            required="required"
            class="form-control"
          />
          <label for="description">Opis</label>
        </div>
      </div>

      <div class="col mt-5">
        <div class="d-flex justify-content-end">
          <div class="form-group">
            <button
              name="submit"
              type="submit"
              class="btn btn-blue rounded-pill"
              :class="{ disabled: status }"
              @click="save"
            >
              <span
                v-if="status"
                class="spinner-border spinner-border-sm mr-2"
                role="status"
                aria-hidden="true"
              />
              Sačuvaj izmene
            </button>
          </div>
        </div>
      </div>
    </CardHolder>

    <div class="card bg-lighter mt-5">
      <div class="card-body text-default">
        <div class="col">
          <h5>Verifikacija</h5>
        </div>
        <div v-if="verified" class="col mt-4">
          <div class="d-inline-flex w-100 align-items-center">
            <div class="form-label-group w-100">
              <input
                id="phone"
                ref="phone"
                v-model="phone_number"
                type="number"
                placeholder="Broj telefona"
                autocomplete="off"
                class="form-control"
              />
              <label for="phone">Broj Telefona</label>
            </div>
          </div>
        </div>

        <div v-else class="col py-3">
          <IconButton
            color="blue"
            class="d-inline-flex rounded-pill px-4"
            @click.stop.prevent=""
          >
            <b-icon icon="patch-check" font-scale="1.5"></b-icon>
            <label class="d-none d-lg-block"
              >Započnite proces verifikacije</label
            >
          </IconButton>
        </div>

        <div class="col mt-5">
          <h5>Verifikacija</h5>
        </div>

        <div class="row">
          <div class="col-auto py-3">
            <IconButton
              theme="light"
              color="yellow"
              :inline="true"
              :rounded="true"
              @click.stop.prevent=""
            >
              <b-icon icon="pause" font-scale="1.5"></b-icon>
              <label class="d-none d-lg-block">Zamrznite prodavnicu</label>
            </IconButton>
          </div>
          <div class="col-auto py-3">
            <IconButton
              color="danger"
              theme="light"
              :inline="true"
              :rounded="true"
              @click.stop.prevent=""
            >
              <b-icon icon="door-closed" font-scale="1.5"></b-icon>
              <label class="d-none d-lg-block">Zatvorite prodavnicu</label>
            </IconButton>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'VendorSettings',
  props: {
    shop: {
      type: [Object, Boolean],
      required: true,
      default: false,
    },
  },
  data() {
    return {
      name: false,
      username: null,
      description: false,
      phone_number: false,
      verified: false,
      status: false,
      checking: false,
      error: false,
    }
  },
  watch: {
    name: function (name) {
      let re = /[^A-Z0-9]/gi

      if (this.name != this.shop.display_name) {
        name = name.replace(re, '').toLowerCase()

        if (name.length >= 5) {
          this.username = name

          setTimeout(() => {
            this.checking = true
            this.checkUsername()
          }, 1500)
        }
      }
    },
  },
  mounted() {
    this.init()
  },
  methods: {
    async init() {
      const shop = this.shop

      this.name = shop.display_name
      this.description = shop.description
      this.phone_number = shop.phone_number
      this.verified = shop.verified
      this.username = shop.name
    },
    async checkUsername() {
      try {
        let username = this.$refs.username
        const res = await this.$axios.$get('shops/' + username.value)

        if (
          (res.status == 0 && username.value.length > 4) ||
          username.value == this.shop.name
        ) {
          username.classList.remove('is-invalid')
          username.classList.add('is-valid')
        } else {
          username.classList.remove('is-valid')
          username.classList.add('is-invalid')
        }
        this.checking = false
      } catch (e) {
        this.error = e
      }
    },
    async save() {
      this.status = true

      try {
        let formData = new FormData()
        formData.append('display_name', this.name)
        formData.append('name', this.username)
        formData.append('description', this.description)
        formData.append('phone_number', this.phone_number)
        formData.append('_method', 'PATCH')

        await this.$axios.$post('shop/' + this.shops._id, formData, {
          headers: {
            'Content-Type': 'multipart/form-data',
          },
        })

        this.status = false
      } catch (e) {
        this.status = false
        this.error = e
      }
    },
  },
}
</script>
