.font-size-xs {
    font-size: .8rem !important;
}

.font-size-sm,
.font-sm {
    font-size: .875rem !important;
}

.font-size-md,
.font-md {
    font-size: 1em !important;
}

.font-rg {
    font-size: 1.25rem;
}

.font-lg,
.font-size-lg {
    font-size: 1.5rem !important;
}

.font-size-xl,
.font-xl {
    font-size: 2rem !important;
}

.fw-sm,
.font-weight-sm,
.font-weight-medium {
    font-weight: 500 !important;
}

.fw-md,
.font-weight-md,
.font-weight-semibold {
    font-weight: 600 !important;
}

.fw-xs,
.font-weight-xs,
.font-weight-light {
    font-weight: 400 !important;
}

.fw-lg,
.font-weight-lg,
.font-weight-bold {
    font-weight: 700 !important;
}

.fw-xl,
.font-weight-xl,
.font-weight-black {
    font-weight: 800 !important;
}

.gg-sm {
    --ggs: 1.2
}

.gg-md {
    --ggs: 1.5;
}

.gg-lg {
    --ggs: 2;
}

.gg-xl {
    --ggs: 2.5;
}