<template>
  <article class="card p-0 mb-4" :class="{ expanded: expanded }">
    <div class="card-header bg-lighter px-3 py-2 border-0">
      <div class="d-flex justify-content-between">
        <h1
          class="h4 d-flex card-title mb-0 align-items-center d-inline-block text-truncate"
        >
          Porudžbina
          <small class="d-inline-block ml-4 text-truncate mb-0">
            #{{ order._id }}
          </small>
        </h1>

        <a
          v-if="!expanded"
          href="#"
          role="button"
          class="btn btn-default-light rounded-circle px-2"
          @click.prevent="expand(order)"
        >
          <b-icon icon="collection" font-scale="1.5"></b-icon>
        </a>
        <template v-else>
          <small class="ml-1 text-muted d-flex align-items-center">
            <i class="las la-calendar-day mr-1"></i>
            <b>{{ order.created_at | postedAgo }}</b>
          </small>
          <a
            href="#"
            role="button"
            class="btn btn-default-light px-1"
            @click.prevent="minimize(order)"
          >
            <b-icon icon="view-list" font-scale="1.5"></b-icon>
          </a>
        </template>
      </div>
    </div>

    <div class="card-body px-2 py-1">
      <VendorActions :order="order" />
      <OrderItem :order="order" />

      <div v-if="expanded" class="card-body bg-light px-3 py-2 mb-2">
        <p class="d-flex card-title mb-2 align-items-center">
          Podaci za dostavu
        </p>
        <p class="mb-2">
          <i class="font-weight-bold">Adresa</i>: {{ order.address }}<br />
          <i class="font-weight-bold">Kontakt telefon</i>: {{ order.phone
          }}<br />
          <i class="font-weight-bold">Komentar</i><br />{{ order.comment
          }}<br />
        </p>
      </div>
    </div>
  </article>
</template>

<script>
import moment from 'moment'

export default {
  name: 'Order',
  filters: {
    postedAgo(created_at) {
      moment.locale('sr')
      return moment(new Date(created_at).valueOf()).fromNow()
    },
  },
  props: {
    order: {
      type: [Array, Object],
      required: true,
    },
  },
  data() {
    return {
      expanded: true,
      selectedOrder: false,
    }
  },
  methods: {
    minimize() {
      this.expanded = false
      this.$emit('minimize', true)
    },
    expand(order) {
      this.expanded = true
      this.$emit('expand', order)
    },
  },
}
</script>

<style>
.d-flex.expand .card {
  display: none !important;
  width: 0px;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}
.d-flex.expand .card.expanded {
  display: block !important;
  width: 100%;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
</style>
