<template>
  <div class="d-flex itemside mb-3 px-0 py-1" style="border-radius: 10px">
    <div class="d-flex side align-items-center">
      <figure class="picture my-auto">
        <div
          class="border img-sm lazyload"
          :style="{ backgroundImage: 'url(' + coverImage + ')' }"
          :alt="order.product.name"
        ></div>
      </figure>
    </div>
    <div class="info py-2 hide">
      <p class="mb-1">
        {{ order.product.name }}
      </p>
      <span v-if="status !== false" class="badge badge-info-light badge-sm">
        {{ status }}
      </span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    order: {
      type: [Object, Array],
      required: true,
      default: null,
    },
  },
  computed: {
    status() {
      if (this.order.status === 0) {
        return 'Otkazano'
      } else if (this.order.status === 1) {
        return 'Na čekanju'
      } else if (this.order.status === 2) {
        return 'U Pripremi'
      } else if (this.order.status === 3) {
        return 'Poslato'
      } else if (this.order.status === 4) {
        return 'Dostavljeno'
      }
      return false
    },
    coverImage() {
      let path = this.order.product.gallery[0].path
      let fullPath = path.split('/')
      let fileName = fullPath[4].split('.')
      let name = fileName[0] + '-256x225.' + fileName[1]
      let resized = path.replace('obba-products', 'obba-products-resized')

      if (path.includes('obba.test')) {
        //return path.replace("https://", "http://")
        return path.replace('obba.test', 'obba.website')
      }
      return resized.replace(fullPath[4], name)
    },
  },
}
</script>

<style scoped>
.img-sm {
  width: 75px;
  height: 75px;
}

.img-xs,
.img-sm,
.img-md,
.img-lg {
  background-size: cover;
  background-position: center;
  -o-object-fit: cover;
  object-fit: cover;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

.itemside .side {
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.itemside {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.btn.icontext {
  box-shadow: none !important;
}
</style>
