<template>
  <section class="w-75">
    <transition name="fadeIn" appear>
      <div class="d-flex justify-content-between">
        <div class="row row-cols-1 row-cols-lg-2 w-100">
          <div class="col-auto w-100">
            <a
              class="card card-blue h-100"
              data-toggle="modal"
              data-target="#addAddress"
              role="holder"
              @click="showModal = true"
            >
              <div class="content-center">
                <svg
                  width="1.5em"
                  height="1.5em"
                  viewBox="0 0 16 16"
                  class="bi bi-map mr-3"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    d="M15.817.113A.5.5 0 0 1 16 .5v14a.5.5 0 0 1-.402.49l-5 1a.502.502 0 0 1-.196 0L5.5 15.01l-4.902.98A.5.5 0 0 1 0 15.5v-14a.5.5 0 0 1 .402-.49l5-1a.5.5 0 0 1 .196 0L10.5.99l4.902-.98a.5.5 0 0 1 .415.103zM10 1.91l-4-.8v12.98l4 .8V1.91zm1 12.98l4-.8V1.11l-4 .8v12.98zm-6-.8V1.11l-4 .8v12.98l4-.8z"
                  />
                </svg>
                Dodaj adresu
              </div>
            </a>
          </div>
          <div
            v-for="(location, index) in address"
            :key="index"
            class="col-auto w-100"
          >
            <AddressCard :order="index + 1" :address="location" />
          </div>
        </div>
      </div>
    </transition>
    <AddAddress v-show="showModal" />
  </section>
</template>

<script>
export default {
  name: 'Address',
  data() {
    return {
      showModal: false,
      loading: true,
    }
  },
  computed: {
    address() {
      const addresses = this.$store.getters['getAddress']
      return _.filter(addresses, { deleted_at: null })
    },
  },
  mounted() {
    this.$nextTick(() => {
      this.loading = false
      $('[data-role="tooltip"]').tooltip()
    })
  },
}
</script>
