<template>
  <section class="w-75">
    <div v-if="orders.length > 0">
      <UserOrder
        v-for="(order, index) in orders"
        :key="index"
        :data="order"
        class="mb-3"
      />
    </div>
    <StatusMessage v-else message="Nema aktivnih porudžbina">
      <template #icon>
        <b-icon icon="truck-flatbed" font-scale="2.5"></b-icon>
      </template>
    </StatusMessage>
  </section>
</template>

<script>
export default {
  name: 'Orders',
  filters: {
    status(status) {
      if (status == 0) {
        return 'Na čekanju'
      } else if (status == 1) {
        return 'Poslato'
      }
    },
  },
  props: {
    orders: {
      type: [Array, Object],
      required: true,
    },
  },
  data() {
    return {
      status: false,
      available: false,
      loading: true,
      error: false,
      baseUrl: process.env.storageUrl,
    }
  },
  computed: {
    address() {
      const addresses = this.$store.getters['getAddress']
      // eslint-disable-next-line no-undef
      return _.filter(addresses, { deleted_at: null })
    },
  },
  mounted() {
    this.$nextTick(() => {
      this.loading = false
      // eslint-disable-next-line no-undef
      $('[data-role="tooltip"]').tooltip()
    })
  },
}
</script>
