<template>
  <section class="w-75">
    <div class="card bg-lighter text-default mb-3">
      <div class="card-body">
        <div class="d-inline-flex align-items-center py-3">
          <div v-if="user.avatar" class="icon">
            <img
              class="rounded-circle"
              height="75px"
              :src="user.avatar | avatar"
            />
          </div>
          <div class="text ml-3">
            <h4>{{ user.name }}</h4>
          </div>
        </div>

        <div v-if="defaultAddress" class="pl-1">
          <p class="text small text-default">
            <b>Primarna adresa</b>
          </p>
          <div
            v-if="!editAddress"
            class="d-flex align-items-center justify-content-left"
          >
            <b-icon icon="geo-alt" font-scale="1.25" class="mr-2"></b-icon>
            <b> {{ defaultAddress.city }}</b
            >,
            {{ defaultAddress.street }}
            {{ defaultAddress.number }},
            {{ defaultAddress.postal_code }}
            <a href="#" class="btn-link ml-2" @click="editAddress = true">
              <b-icon
                icon="pencil-square"
                font-scale="1.35"
                class="text-default"
              ></b-icon>
            </a>
          </div>

          <div v-else class="form-group w-50">
            <div class="input-group shadow-ov">
              <select
                ref="defaultAddressId"
                v-model="defaultAddressId"
                class="custom-select shadow-none"
              >
                <option
                  v-for="address in user.address"
                  :key="address._id"
                  :value="address._id"
                >
                  {{ address.city }},
                  {{ address.street }}
                  {{ address.number }},
                  {{ address.postal_code }}
                </option>
              </select>
              <div class="input-group-append">
                <a
                  href="#"
                  class="btn btn-primary px-3"
                  :class="{ disabled: status }"
                  @click="saveAddress"
                >
                  <span
                    v-if="status"
                    class="spinner-border spinner-border-sm"
                    role="status"
                    aria-hidden="true"
                  />
                  <b-icon v-else icon="check2" font-scale="1.5"></b-icon>
                </a>
              </div>
            </div>
          </div>
        </div>

        <hr />

        <div class="card-group shadow-op">
          <div class="card bg-lighter shadow-none text-center">
            <div class="p-3">
              <h5 class="card-title">
                {{ orders | active }}
              </h5>
              <span>Aktivne Porudžbine</span>
            </div>
          </div>
          <div class="card bg-lighter shadow-none text-center">
            <div class="p-3">
              <h5 class="card-title">
                {{ orders | onRoad }}
              </h5>
              <span>Porudžbine na Putu</span>
            </div>
          </div>
          <div class="card bg-lighter shadow-none text-center">
            <div class="p-3">
              <h5 class="card-title">
                {{ orders | delivered }}
              </h5>
              <span>Dostavljene Porudžbine</span>
            </div>
          </div>
        </div>
      </div>
      <div v-if="orders.length > 0" class="mt-3">
        <UserOrder
          v-for="(order, index) in orders.slice(0, 1)"
          :key="index"
          :data="order"
          :detailed="false"
        />
      </div>
      <div v-else class="card bg-lighter text-default">
        <div class="card-body p-4 content-center mt-1">
          <div class="content-center">
            <b-icon icon="truck-flatbet" font-scale="5" class="mr-3"></b-icon>
            <p class="display-6 m-0">Nema aktivnih porudžbina</p>
          </div>
        </div>
        <div class="card-footer bg-lighter border-0">
          <nuxt-link
            :to="{ name: 'index' }"
            class="btn btn-light text-default content-center rounded-pill d-inline-flex px-3"
          >
            <b-icon icon="chevron-left" font-scale="1.5" class="mr-2"></b-icon>
            Nastavi kupovinu
          </nuxt-link>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Profile',
  filters: {
    active(orders) {
      let active = orders.filter((item) => item.status < 4)
      return active.length
    },
    onRoad(orders) {
      let onRoad = orders.filter((item) => item.status == 3)
      return onRoad.length
    },
    delivered(orders) {
      let delivered = orders.filter((item) => item.status == 4)
      return delivered.length
    },
    backgroundImage(path) {
      const fullPath = process.env.storageUrl + path
      const style = {
        backgroundImage: 'url(' + fullPath + ')',
      }

      return style
    },
    avatar(path) {
      return process.env.storageUrl + path
    },
  },
  props: {
    user: {
      type: [Array, Object],
      required: true,
    },
    orders: {
      type: [Array, Object],
      required: true,
    },
  },
  data() {
    return {
      editAddress: false,
      defaultAddress: false,
      defaultAddressId: false,
    }
  },
  mounted() {
    this.init()
  },
  methods: {
    async init() {
      await this.$store.dispatch('fetchAddress')
      if (this.$store.getters['getDefaultAddress']) {
        this.defaultAddress = this.$store.getters['getDefaultAddress']
        this.defaultAddressId = this.$store.getters['getDefaultAddress']._id
      }
    },
    async saveAddress() {
      this.status = true

      const data = {
        default: true,
        _method: 'PATCH',
      }

      const res = await this.$axios.$post(
        'address/' + this.defaultAddressId,
        data
      )

      if (res.data.status == 'success') {
        this.status = false
        this.init()
        this.editAddress = false
      }
    },
  },
}
</script>
