<template>
  <section class="w-75">
    <CardHolder title="Podešavanja">
      <div class="col">
        <p class="text small">
          <b>Promenite vaše lične podatke</b>
        </p>
      </div>

      <div class="col">
        <div class="form-label-group">
          <input
            id="name"
            ref="name"
            v-model="name"
            type="text"
            placeholder="Ime i prezime"
            autocomplete="off"
            required="required"
            class="form-control"
          />
          <label for="name">Ime i prezime</label>
        </div>
      </div>

      <div class="col">
        <div class="form-label-group">
          <input
            id="email"
            ref="email"
            v-model="email"
            type="email"
            placeholder="Email"
            autocomplete="off"
            required="required"
            class="form-control"
          />
          <label for="email">Email</label>
        </div>
      </div>

      <div class="col">
        <div class="d-inline-flex w-100 align-items-center">
          <div class="form-label-group w-100">
            <input
              id="username"
              ref="username"
              v-model="username"
              placeholder="Korisničko ime"
              autocomplete="off"
              required="required"
              class="form-control"
              pattern="([^\s][A-z0-9À-ž\s]+)"
            />
            <label for="username">Korisničko ime</label>
          </div>
          <span
            v-if="available"
            class="spinner-border spinner-border-sm text-default ml-2 mt-n3"
            role="status"
            aria-hidden="true"
          />
        </div>
      </div>

      <div class="col">
        <div class="d-inline-flex w-100 align-items-center">
          <div class="form-label-group w-100">
            <input
              id="phone"
              ref="phone"
              v-model="phone"
              type="number"
              placeholder="Broj telefona"
              autocomplete="off"
              class="form-control"
            />
            <label for="phone">Broj Telefona</label>
          </div>
        </div>
      </div>

      <div class="col mt-5">
        <p class="text small">
          <b>Prikaz profila na mreži</b>
        </p>
      </div>

      <div class="col">
        <client-only>
          <div class="form-group row">
            <label for="select" class="col-4 col-form-label"
              >Prikaži ime javno kao</label
            >
            <div class="col-8">
              <select
                id="select"
                name="select"
                class="custom-select shadow-sm border-0"
              >
                <option value="name">
                  {{ user.name }}
                </option>
                <option v-if="username" value="username">
                  {{ username }}
                </option>
              </select>
            </div>
          </div>
        </client-only>

        <div class="form-group row">
          <label for="name" class="col-4 col-form-label">Avatar</label>
          <div class="col-8">
            <div class="custom-file shadow-sm border-0">
              <input
                id="avatar"
                ref="avatar"
                type="file"
                class="custom-file-input shadow-none border-0"
                @change="handleFileUpload()"
              />
              <label class="custom-file-label border-0 shadow-none" for="avatar"
                >Odaberi sliku</label
              >
            </div>
          </div>
        </div>
      </div>

      <div class="form-group d-flex justify-content-end mt-4">
        <button
          name="submit"
          type="submit"
          class="btn btn-blue rounded-pill mt-3"
          :class="{ disabled: status }"
          @click="save"
        >
          <span
            v-if="status"
            class="spinner-border spinner-border-sm mr-2"
            role="status"
            aria-hidden="true"
          />
          Sačuvaj izmene
        </button>
      </div>
    </CardHolder>
  </section>
</template>

<script>
export default {
  name: 'UserSettings',
  data() {
    return {
      name: this.$auth.$state.user.name,
      email: this.$auth.$state.user.email,
      username: this.$auth.$state.user.username,
      phone: this.$auth.$state.user.phone,
      avatar: '',
      status: false,
      available: false,
      loading: true,
    }
  },
  computed: {
    user() {
      return this.$store.getters['getUser']
    },
  },
  watch: {
    username: function () {
      let re = /[^A-Z0-9]/gi
      let username = this.$refs.username.value
      username = username.replace(re, '')

      this.username = username
      this.available = true

      setTimeout(() => {
        this.checkUsername()
      }, 1000)
    },
  },
  mounted() {
    // eslint-disable-next-line no-undef
    if (!_.isEmpty(this.user)) {
      this.loading = false
    }
  },
  methods: {
    handleFileUpload() {
      this.avatar = this.$refs.avatar.files[0]
    },
    async checkUsername() {
      let username = this.$refs.username
      const res = await this.$axios.$get('user/' + this.username)

      if (res.status == 0) {
        username.classList.remove('is-invalid')
        username.classList.add('is-valid')
      } else {
        username.classList.remove('is-valid')
        username.classList.add('is-invalid')
      }

      if (username.value.length < 5) {
        username.classList.remove('is-valid')
        username.classList.remove('is-invalid')
        username.classList.add('is-invalid')
      }
      this.available = false
    },
    async save() {
      this.status = true

      try {
        let formData = new FormData()
        formData.append('file', this.avatar)
        formData.append('email', this.email)
        formData.append('name', this.name)
        formData.append('phone', this.phone)
        formData.append('username', this.username)
        formData.append('_method', 'PATCH')

        const res = await this.$axios.$post('user/update', formData, {
          headers: {
            'Content-Type': 'multipart/form-data',
          },
        })

        if (res.success === 1) {
          this.$store.dispatch('fetchUser')
          this.status = false
        }
      } catch (e) {
        this.status = false
        this.error = e
      }
    },
  },
}
</script>
