<template>
  <div class="sticky-top pt-5 mt-n5">
    <div class="nav list-group px-0 px-sm-3 py-0 w-75 mw-100">
      <nuxt-link
        :to="{ name: 'user', hash: '/#profile' }"
        class="d-flex list-group-item list-group-item-action mb-4 px-sm-4"
        :class="{ 'bg-default active': profile }"
        prefetch
      >
        <b-icon icon="person-circle" font-scale="1.5"></b-icon>
        <span class="d-none d-lg-block ml-3">Profil</span>
      </nuxt-link>

      <nuxt-link
        :to="{ name: 'user', hash: '/#orders' }"
        class="d-flex list-group-item list-group-item-action px-sm-4 mb-1"
        :class="{ 'bg-default active': orders }"
        prefetch
      >
        <b-icon icon="truck" font-scale="1.5"></b-icon>
        <span class="d-none d-lg-block ml-3">Porudžbine</span>
      </nuxt-link>

      <nuxt-link
        :to="{ name: 'user', hash: '/#address' }"
        class="d-flex list-group-item list-group-item-action px-sm-4 mb-1"
        :class="{ 'bg-default active': address }"
        prefetch
      >
        <b-icon icon="geo-alt" font-scale="1.5"></b-icon>
        <span class="d-none d-lg-block ml-3">Adrese</span>
      </nuxt-link>

      <nuxt-link
        :to="{ name: 'user', hash: '/#settings' }"
        class="d-flex list-group-item list-group-item-action px-sm-4 mb-1"
        :class="{ 'bg-default active': settings }"
        prefetch
      >
        <b-icon icon="gear" font-scale="1.5"></b-icon>
        <span class="d-none d-lg-block ml-3">Podešavanja</span>
      </nuxt-link>

      <!--<a
      class="d-flex list-group-item list-group-item-action px-md-3"
      href="#"
    >
      <i class="las la-life-ring"></i>
      <span class="d-none d-lg-block ml-4">Podrška</span> </a
    >-->
    </div>
  </div>
</template>

<script>
export default {
  name: 'UserSidebar',
  props: {
    page: {
      type: [String, Boolean],
      required: true,
    },
  },
  computed: {
    profile() {
      if (this.page == 'profile') {
        return true
      }
      return false
    },
    settings() {
      if (this.page == 'settings') {
        return true
      }
      return false
    },
    address() {
      if (this.page == 'address') {
        return true
      }
      return false
    },
    orders() {
      if (this.page == 'orders') {
        return true
      }
      return false
    },
  },
}
</script>

<style lang="scss" scoped>
.sticky-top {
  z-index: 50 !important;
}
</style>
