<template>
  <div class="card text-primary filter">
    <div class="card-header px-3 pb-1">
      <a
        href="#"
        data-toggle="collapse"
        data-target="#brands"
        aria-expanded="true"
        class="text-decoration-none text-default"
      >
        <b-icon icon="chevron-down" font-scale="1"></b-icon>
        <h6 class="title d-inline-block ml-1">Brend</h6>
      </a>
    </div>
    <div id="brands" class="filter-content collapse show">
      <div class="card-body">
        <label
          v-for="(brand, index) in brands"
          :key="index"
          class="custom-control custom-checkbox"
          :for="index"
        >
          <input
            :id="index"
            v-model="selected"
            type="checkbox"
            class="custom-control-input"
            :value="index"
            number
          />
          <div class="custom-control-label">
            {{ index }}
            <b class="badge badge-default badge-pill badge-light float-right">
              {{ brand }}
            </b>
          </div>
        </label>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'BrandsFilter',
  props: {
    brands: {
      type: [Object, Boolean],
      required: true,
      default: false,
    },
  },
  data() {
    return {
      selected: [],
    }
  },
  watch: {
    selected: function () {
      this.$emit('selected', this.selected)
    },
  },
}
</script>
