<template>
  <div class="card text-primary mb-5 filter">
    <div class="filter-group">
      <div class="card-header bg-default">
        <a
          href="#"
          data-toggle="collapse"
          data-target="#collapse_5"
          aria-expanded="false"
          class="text-decoration-none text-white"
        >
          <b-icon icon="chevron-down" font-scale="1"></b-icon>
          <h6 class="title d-inline-block ml-2">More filter</h6>
        </a>
      </div>
      <div id="collapse_5" class="filter-content collapse in" style="">
        <div class="card-body">
          <label class="custom-control custom-radio">
            <input
              type="radio"
              name="myfilter_radio"
              checked=""
              class="custom-control-input"
            />
            <div class="custom-control-label">Any condition</div>
          </label>

          <label class="custom-control custom-radio">
            <input
              type="radio"
              name="myfilter_radio"
              class="custom-control-input"
            />
            <div class="custom-control-label">Brand new</div>
          </label>

          <label class="custom-control custom-radio">
            <input
              type="radio"
              name="myfilter_radio"
              class="custom-control-input"
            />
            <div class="custom-control-label">Used items</div>
          </label>

          <label class="custom-control custom-radio">
            <input
              type="radio"
              name="myfilter_radio"
              class="custom-control-input"
            />
            <div class="custom-control-label">Very old</div>
          </label>
        </div>
        <!-- card-body.// -->
      </div>
    </div>
  </div>
</template>
