<template>
  <div class="d-flex d-lg-block flex-row flex-wrap mt-2">
    <div v-if="options" class="filters flex-grow-1">
      <price-filter :prices="priceRange" @slided="filterPrice"></price-filter>
      <brands-filter :brands="brands" @selected="filterBrands"></brands-filter>
      <size-filter
        :sizes="options[0]"
        instance="1"
        label="Opcije"
        @options="filterOptions"
      ></size-filter>
      <size-filter
        :sizes="options[1]"
        instance="2"
        label="Veličina"
        @options="filterOptions"
      ></size-filter>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Filters',
  props: {
    options: {
      type: [Array, Object, Boolean],
      required: true,
    },
    brands: {
      type: [Array, Object, Boolean],
      required: true,
    },
    priceRange: {
      type: [Array, Object, Boolean],
      required: true,
    },
  },
  methods: {
    filterBrands(brands) {
      this.$emit('brand', brands)
    },
    filterPrice(price) {
      this.$emit('price', price)
    },
    filterOptions(options) {
      this.$emit('option', options)
    },
  },
}
</script>
