<template>
  <div class="card text-primary filter">
    <div class="card-header px-3 pb-1">
      <a
        href="#"
        data-toggle="collapse"
        data-target="#price"
        aria-expanded="true"
        class="text-decoration-none text-default"
      >
        <b-icon icon="chevron-down" font-scale="1"></b-icon>
        <h6 class="title d-inline-block ml-1">Cena</h6>
      </a>
    </div>
    <div id="price" class="filter-content collapse show">
      <div class="card-body pb-0">
        <input
          ref="priceRange"
          v-model="range"
          type="range"
          class="custom-range"
          :min="prices[0]"
          :max="prices[1]"
        />
        <div class="form-row text-default">
          <div class="form-group col-md-6">
            <label>{{ prices[0] }} RSD</label>
          </div>
          <div class="form-group text-right col-md-6">
            <label>{{ prices[1] }} RSD</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    prices: {
      type: [Array, Boolean],
      required: true,
      default: false,
    },
  },
  data() {
    return {
      range: 1,
    }
  },
  watch: {
    range: function () {
      this.$emit('slided', this.range)
    },
  },
}
</script>
