<template>
  <div class="card text-primary filter">
    <div class="card-header px-3 pb-1">
      <a
        href="#"
        data-toggle="collapse"
        :data-target="'#size_' + instance"
        aria-expanded="true"
        class="text-decoration-none text-default"
      >
        <b-icon icon="chevron-down" font-scale="1"></b-icon>
        <h6 class="title d-inline-block ml-1">{{ label }}</h6>
      </a>
    </div>
    <div :id="'size_' + instance" class="filter-content collapse show">
      <div class="card-body">
        <label
          v-for="(size, index) in sizes"
          :key="index"
          class="custom-control custom-checkbox"
          :for="label + '_' + instance + '_' + index"
        >
          <input
            :id="label + '_' + instance + '_' + index"
            v-model="selected"
            type="checkbox"
            class="custom-control-input"
            :value="size"
          />
          <div class="custom-control-label">
            {{ size }}
          </div>
        </label>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    sizes: {
      type: [Array, Boolean],
      required: true,
      default: false,
    },
    instance: {
      type: [String, Number],
      required: true,
      default: 1,
    },
    label: {
      type: [String, Number],
      required: true,
      default: 1,
    },
  },
  data() {
    return {
      selected: [],
    }
  },
  watch: {
    selected: function () {
      this.$emit('options', this.selected)
    },
  },
}
</script>
