<template>
  <div class="container-fluid p-0">
    <div
      v-if="loading"
      class="d-flex align-items-center justify-content-center"
    >
      <img src="~/assets/img/logo.png" class="m-auto rotating" height="75px" />
    </div>
    <div v-else>
      <div class="overflow-hidden w-100 bg-gray" role="banner">
        <div class="headerImage">
          <!--<div class="headerImage" :style="shop.header | backgroundImage">-->
          <div class="container container-xlg">
            <div
              class="d-inline-flex mt-4 pt-2 position-absolute"
              style="z-index: 50"
            >
              <div class="card float-left shadow logo mt-1">
                <div class="card-body">
                  <img
                    height="87px"
                    class="rounded-circle"
                    :src="shop.logo | logo"
                  />
                  <span
                    v-if="shop.verified"
                    data-toggle="tooltip"
                    data-original-title="Ukloni adresu"
                    class="badge badge-circle badge-floating badge-primary-light"
                  >
                    <b-icon icon="award" font-scale="1.75"></b-icon>
                  </span>
                </div>
              </div>
              <div class="d-block h-100 ml-4 my-auto">
                <h4 class="h4 text-light font-weight-semibold mb-1">
                  {{ shop.display_name }}
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="container container-xlg shop-wrapper mb-5">
        <div class="card bg-light">
          <div class="row no-gutters">
            <div class="col-3">
              <div class="card-body px-3 pt-3 br-0 border-right h-100">
                <ShopDetails />
              </div>
            </div>
            <div class="col-9">
              <div class="card-header bg-light p-2">
                <SearchField @searched="search" />
              </div>
              <div class="card-body text-default">
                <div
                  v-if="!shop.products"
                  class="d-flex align-items-center justify-content-center"
                  style="min-height: 50vh"
                >
                  <img
                    src="~/assets/img/logo.png"
                    class="m-auto rotating"
                    height="75px"
                  />
                </div>
                <div v-else class="d-flex align-items-center mt-0 mb-2">
                  <h4 class="card-title">Proizvodi</h4>
                  <span
                    class="badge badge-blue-light font-size-lg ml-3 mt-n3"
                    >{{ shop.products.length }}</span
                  >
                </div>
                <transition name="fadeIn" appear>
                  <main>
                    <div class="row row-cols-4">
                      <div
                        v-for="product in results[page]"
                        :key="product._id"
                        class="d-flex col-3"
                      >
                        <Ad :product="product" />
                      </div>
                    </div>
                    <div class="d-flex flex-wrap justify-content-center mt-4">
                      <Pagination :results="results" @page="changePage" />
                    </div>
                  </main>
                </transition>
              </div>
            </div>
          </div>
        </div>
      </section>
      <Services />
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'MyStore',
  filters: {
    backgroundImage(path) {
      const fullPath = process.env.baseUrl + path
      const style = {
        backgroundImage: 'url(' + fullPath + ')',
      }

      return style
    },
    logo(path) {
      return process.env.baseUrl + path
    },
  },
  data() {
    return {
      results: false,
      shop: false,
      loading: true,
      page: 0,
      totalPages: null,
    }
  },
  computed: {
    isCurrentPage() {
      let current = this.$route.fullPath.split('#')
      if (this.page == current[1]) {
        return true
      }
      return false
    },
  },
  mounted() {
    this.fetchShop()
    this.$nextTick(() => {
      $('[data-toggle="tooltip"]').tooltip()

      let current = this.$route.fullPath.split('#')
      if (!_.isEmpty(current[1]) && current[1] != 0) {
        this.page = current[1]
      }
    })
  },
  methods: {
    async fetchShop() {
      const res = await this.$axios.$get('shop')
      const shop = res.data.shop

      this.shop = shop
      this.$store.commit('shops/add', shop)

      if (this.paginate(shop.products)) {
        this.loading = false
      }
    },
    changePage(page) {
      this.page = page
    },
    search(search) {
      let products = this.shop.products
      let results = products.filter((item) =>
        item.name.toLowerCase().includes(search.toLowerCase())
      )

      this.paginate(results)
    },
    paginate(list) {
      let pages = Math.ceil(list.length / 12)

      let results = []
      if (!_.isEmpty(list) && list.length > 12) {
        for (var i = 0; i < pages; i++) {
          results.push(list.slice(i * 12, (i + 1) * 12))
        }

        this.results = results
      } else {
        this.results = [list]
      }

      this.totalPages = pages - 1
      return true
    },
  },
}
</script>

<style scoped lang="scss">
.shop-wrapper {
  margin-top: -5rem;
}

.headerImage .logo img.rounded-circle {
  border: 2px solid #fff;
}

.badge-circle {
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1px !important;
  width: 35px;
  height: 35px;
  font-weight: 600;
}

.badge-floating {
  position: absolute;
  padding: 0.25em 0.6em;
  right: -10px;
}
</style>
