$font: 'Inter', sans-serif;

// Colors
$blue:#0055ff;
$default: #3e4f69;
$default2: #425675;
$indigo:#2800F2;
$purple: #7742EF; 
$pink: #ff00d4;
$red: #EE0F1A;
$red-light: #fb5757;
$orange: #fd7e14;
$yellow: #eec028;
$darkgreen: #29ba4b;
$green: #00D859;
$teal: #00e79a;
$cyan: #39B6DF;
$darkish: #001418ee;
$dark: #001418;
$black: #0c0f0a;
$darkgray: #373f50;
$lightgray: #dce2eb;
$gray: #3a3f4a;
$lighter: rgba(252, 253, 255, 1);
$info: #3a86ff;
$secondary: #e96930;

$body-bg: #f4f5f7;
$body-color: $gray;

$theme-colors: (
  "default": $default2,
  "primary": $blue,
  "purple": $purple,
  "blue": $blue,
  "secondary": $secondary,
  "success": $darkgreen,
  "green": $green,
  "info": $info,
  "red": $red,
  "teal": $teal,
  "cyan": $cyan,
  "black": $black,
  "yellow": $yellow,
  "warning": $orange,
  "danger" : $red-light,
  "dark": $dark,
  "gray": $gray,
  "darkgray": $darkgray,
  "lightgray": $lightgray,
  "lighter": $lighter,
  "light": $body-bg,
);

$enable-responsive-font-sizes: true;

$card-width: 100%;
$card-margin: ($card-width/100)*3;

$img-shadow: 0 6px 18px rgba(27, 33, 117, 0.05), 0 3px 6px rgba(0, 0, 0, .03);

$shadow-op: 0 6px 18px rgba(27, 33, 117, 0.08), 0 3px 6px rgba(0, 0, 0, .06);
$shadow-hv:  0 8px 24px rgba(27, 33, 117, 0.07),  0 7px 15px rgba(0, 0, 0, .05);

$shadow-sm:  0 3px 9px rgba(27, 33, 117, 0.08), 0 3px 6px rgba(0, 0, 0, .06);
$shadow-md: 0 8px 20px rgba(0, 0, 0, 0.09);
$shadow-lg: 0 30px 60px rgba(0, 0, 0, 0.12);

$btn-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);

$jumbotron-padding: 2rem;

$border-radius: .25rem;
$border-radius-5: .5rem;
$border-radius-7:  1rem;

$transform: all .4s cubic-bezier(.4, 0, .2, 1) 100ms;
$transform-faster: all .2s cubic-bezier(.2, 0, .1, .5) 50ms;
$regular-transition: all 0.35 ease-in-out;