:root {
    --input-padding-x: .5rem;
    --input-padding-y: .5rem;
    --ggs: 1.1;
    --br-sm: .2rem;
    --br-md: .5rem;
    --br-lg: 1rem;
    --header-height: 55px;
    --bg-color: #f4f5f7;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 1px;
}

::-webkit-scrollbar-track {
    width: 10px;
    border-radius: 10px;
    background-color: rgba(0,0,0, .075);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0,0,0, .15);
}

::-webkit-scrollbar-track:hover {
    background-color: rgba(0,0,0, .2);
}

::-webkit-scrollbar-thumb:hover {
    transition: $transform-faster;
    background-color: rgba(0,0,0, .3);
}

.cs {
    height: 100%;

    & .cnt {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 95vh;

        &::-webkit-scrollbar,
        &::-webkit-scrollbar-track,
        &::-webkit-scrollbar-thumb {
            background: rgba(0,0,0, 0);
        }
    }

    &:hover .cnt {
        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-track {
            background: rgba(0,0,0, 0);

            &:hover {
                background: rgba(0,0,0, .075);
            }
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: rgba(0,0,0, .25) !important;
        }
    }
}


main {
    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        width: 10px;
        border-radius: 10px;
        background-color: rgba(0,0,0, 0);
    }

    &::-webkit-scrollbar-thumb {
        transition: $transform;
        border-radius: 10px;
        background-color: rgba(0,0,0, .25) !important;
    }

    &::-webkit-scrollbar-track:hover {
        background: rgba(0,0,0, .075);
    }
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

html,
body {
    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    height: 100%;
}

body {
    //background-color: $body-bg !important;
    background-color: var(--bg-color);
}

main {
    min-height: 700px;
}

a {
    transition: $transform-faster;
}

form label {
    font-weight: 600;
    color: #525f7f;
}

header {
    position: relative !important;
    z-index: 1000;
}

figure {
    margin: 0;
}

.rounded-lg {
    border-radius: $border-radius-7 !important;
}

.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 55vh
}

.br-0 {
    border-radius: 0 !important;
}


.swatch-300 {
    background: $gray-200 !important;
}

.display-5 {
    font-size: 2.5rem;
    font-weight: 300;
}

.display-6 {
    font-size: 2.25rem;
    font-weight: 300;
}

.w-auto {
    width: auto !important;
}

.w-48 {
    width: 48% !important;
}

.w-56 {
    width: 56% !important;
}

.w-60 {
    width: 60% !important;
}


.inverted {
    filter: invert(1) brightness(100);
}

.container-xxl {
    max-width: 1600px;
}

.container-xlg {
    max-width: 1500px;
}

.container-wide {
    max-width: 1440px;
}

.container-wider {
    max-width: 1200px;
}

.breadcrumb {
    background: transparent;
}

[data-toggle="collapse"] svg {
    transition: $transform-faster;
}

.collapsed svg {
    transform: rotate(-90deg);
  }

.content-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tns-nav {
    justify-content: center;
    display: flex;
    margin-top: 1rem;

    & button {
        width: 10px;
        height: 12px;
        border: 0px;
        margin-right: 7px;
        border-radius: 50%;
        background: rgba(0,0,0, .2);
        transition: $transform;
        outline: none !important;

        &:hover {
            background: rgba($default, .7)
        }

        &.tns-nav-active {
            background: $default;
        }
    }
}

.tns-controls button {
    background: transparent;
    border: 0;
    top: 25%;
    vertical-align: middle;
    font-size: 2rem;
    position: absolute;
    z-index: 50;
    transition: $transform-faster;

    &:disabled {
        opacity: .5 !important;
    }

    &:not(:disabled) {
        opacity: .7;
    }

    &:hover:not(:disabled) {
        opacity: 1;
    }

    &[data-controls=prev] {
        left: 5px;
    }

    &[data-controls=next] {
        right: 5px;
    }
}

.img-xs,
.img-sm,
.img-md,
.img-lg {
  background-size: cover;
  background-position: center;
  -o-object-fit: cover;
  object-fit: cover;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

.shadow {
    box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07)!important;
}

.navbar-nav .nav-item.show [data-toggle=dropdown]:after {
    transform: rotate(180deg);
}

:focus,
.focus {
    outline: none !important;
}

.shadow-op {
    box-shadow: $shadow-op !important;
}

.border-bottom {
    border-bottom: 1px solid #e4e4e4 !important;
}

.alert {
    border-radius: $border-radius-7;
}

// Generate alert modifier classes
@each $color, $value in $theme-colors {
    .bg-#{$color}-faded {
        border-radius: $border-radius-7;
        @include alert-variant(theme-color-level($color, -11), #FFF, #FFF);
        text-shadow: 1px 1px 4px rgba($value, .45);
        border: 0px !important;
    }
}

// Generate alert modifier classes
@each $color, $value in $theme-colors {
    .bg-#{$color}-light {
        border-radius: $border-radius-7;
        @include alert-variant(theme-color-level($color, -12), #FFF, #FFF);
        border: 0px !important;
    }
}

// Generate alert modifier classes
@each $color, $value in $theme-colors {
    .alert-#{$color} {
        @include alert-variant(theme-color-level($color), #FFF, #FFF);
        border: 0px !important;
    }
}

// Generate alert modifier classes
@each $color, $value in $theme-colors {
    .alert-#{$color}-light {
        border-radius: $border-radius-7;
        @include alert-variant(theme-color-level($color, -10), $value, $value);
        border: 0px !important;
    }
}

.pagination {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
    border-radius: $border-radius-5;

    & .page-link {
        border: 1px solid rgba($default, .15) !important;
        border-color: rgba($default, .15) !important;
        font-weight: 500;
        @include font-size(1em);
        color: $default;
        padding: .55rem .95rem;

        &:hover {
            background: rgba($lightgray, .1);
            border: 1px solid rgba($default, .15) !important;
            border-color: rgba($default, .15) !important;
        }

        &:focus {
            box-shadow: none;
            outline: none;
        }

        & .active {
            background: $default;
            color: #FFF;
        }
    }

    & .page-item {
      &:first-child {
        .page-link {
          margin-left: 0;
          @include border-left-radius($border-radius-5);
        }
      }

      &:last-child {
        .page-link {
          @include border-right-radius($border-radius-5);
        }
      }
    }
}

.dropzone {
    cursor: pointer;
    border: 2px dashed rgba($gray, .3) !important;
    border-radius: $border-radius-7;
    transition: $transform-faster;

    &:hover {
        border: 2px dashed rgba($gray, .6) !important;
    }
}

.btn.icon {
    font-size: 1rem;
    padding: 0.5rem 0.8rem;
    z-index: 2;
    box-shadow: none;

    & i {
        font-size: 1.25rem;
    }
}

.heading-line {
    position: relative;

    & .title-section {
        position: relative;
        display: inline-block;
        padding-right: 15px;
        background-color: #f6f7f9;
        z-index: 2;
    }

    &::before {
        top: 35%;
        border-radius: 7px;
        border-top-style: solid;
        content: "";
        position: absolute;
        left: auto;
        right: 0;
        width: 100%;
        height: 0;
        border: 3px solid #dcdee3;
        overflow: hidden;
    }
}

.section-heading {
    margin-bottom: 10px;
    margin-top: 10px;
}

a.navbar-brand {
    & img {
        transition: $transform;
        transition-duration: .3s;
        filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.2));
    }

    & .primary,
    & .secondary {
        font-style: italic;
        margin-left: .75rem;
        margin-top: 0px;
        margin-bottom: 3px;
        padding: 0;
    }

    & .primary {
        background: -webkit-linear-gradient(50deg, $blue, $cyan);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 700;
        color: $blue;
        transition: $transform;
        display: inline-block;
        animation-direction: alternate-reverse;
        text-shadow: 0 2px 5px rgba(0,0,0, 0.15);
    }

    & .secondary {
        background: -webkit-linear-gradient(50deg, #e96930, #ffd16e);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 700;
        color: #e96930;
        transition: $transform;
        display: inline-block;
        animation-direction: alternate-reverse;
        text-shadow: 0 2px 5px rgba(0,0,0, 0.15);
    }

    &:focus img{
        transition: $transform;
        transition-duration: .6s;
        -webkit-transform: rotate(360deg);
        transform: rotate2(360deg);
    }
}

.items span {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.itemside {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;

    & .aside {
        position: relative;
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }

    & .info {
        padding-left: 15px;
        padding-right: 7px;
    }

    & .title {
        display: block;
        margin-bottom: 5px;
        color: #212529;
    }
}

.icontext {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    vertical-align: middle;
  }

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    box-shadow: none !important;
    max-height: 40px;
    line-height: 40px !important;
}

.icon-xs,
.icon-sm,
.icon-md,
.icon-lg {
    display: inline-block;
    text-align: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
}

.icon-sm {
    width: 48px;
    height: 48px;
    line-height: 48px !important;
    font-size: 20px;
}

.icon-xs {
    width: 32px;
    height: 32px;
    line-height: 32px !important;
}


.drift-zoom-pane.drift-inline {
    width: 250px !important;
    height: 250px !important;
    border-radius: 125px !important;
}

#ml {
    cursor:pointer;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 10000;
}
.mlbg{
    position:fixed;
    width:100%;
    height:100%;
    background:#0a0a0a;
    opacity:0;
    will-change:opacity;
    transition:opacity .4s ease;
}

.scroller-at-bottom {
    height: 575px;
    max-height: 575px;
    max-width: 95% !important;
    display: flex !important;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    border-radius: $border-radius-7;

    & #silentbox-gallery {
        width: 100% !important;
        height: 100px !important;
        min-width: 20vw !important;
        min-height: 100px !important;
        visibility: visible !important;
        text-align: center;
        justify-content: center;
        display: flex !important;
        position: absolute;
        bottom: -10px;
        left: 0;

        /*& . img:first-child {
            transition: $transform;

            &:hover {
                transform: translateX(-2px)
            }
        }

        & img:last-child {
            transition: $transform;

            &:hover {
                transform: translateX(2px)
            }
        }*/

        & .silentbox-item img {
            width: 60px;
            height: 60px;
            border: 2px solid transparent;
            border-radius: 6px;
            margin: 3px;
            display: inline-block;
            overflow: hidden;
            -o-object-fit: cover;
            object-fit: cover;
            border-radius: 4px;
            cursor: pointer;
            box-shadow: 0 3px 7px rgba(50,50,93,.1), 0 8px 18px rgba(0,0,0,.07) !important;
            transition: $transform-faster;

            &:hover {
                border: 2px solid $blue;
            }
        }
    }

    & .responsive-image {
        //box-shadow: 0 3px 6px rgba(50,50,93,.1), 0 5px 12px rgba(0,0,0,.07) !important;
        max-width: 100%;
        max-height: 90%;
        border-radius: $border-radius-7;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: center;
        margin: auto;
        margin-top: -3rem;
        margin-bottom: 3rem;
        text-align: center;
        display: block !important;
        cursor: -webkit-zoom-in;
        cursor: zoom-in;
    }
}

.gallery-wrap {
    & .img-big-wrap {
        margin-bottom: 10px;
        border-radius: 0.37rem;
        overflow: hidden;
        background-color: #fff;

        & a {
            text-align: center;
            display: block;
        }

        & img {
            height: 450px;
            width: auto;
            display: inline-block;
            cursor: -webkit-zoom-in;
            cursor: zoom-in;
        }
    }

    & .thumbs-wrap {
        text-align: center;
        margin-bottom: 20px;

        & .item-thumb {
            width: 60px;
            height: 60px;
            border: 1px solid #ddd;
            border-radius: 6px;
            margin: 3px;
            display: inline-block;
            overflow: hidden;

            & img {
                max-width: 100%;
                max-height: 100%;
                -o-object-fit: cover;
                object-fit: cover;
                border-radius: 4px;
                cursor: -webkit-zoom-in;
                cursor: zoom-in;

                &:hover {
                    -webkit-filter: brightness(1.1);
                    filter: brightness(1.1);
                    cursor: -webkit-zoom-in;
                    cursor: zoom-in;
                }
            }
        }
    }
}

.item-option-select {
    margin-bottom: 1rem;
    display: inline-block;
    margin-right: 15px;

    & .btn {
        min-width: 80px;
    }
}

.share span {
    cursor: pointer !important;
    padding-left: 5px;
    padding-right: 5px;
}

.section-footer ul li {
  margin-bottom: 5px; }
.section-footer ul a {
  color: inherit; }
  .section-footer ul a:hover {
    color: #3167eb; }
.section-footer .logo-footer {
  height: 40px; }
.section-footer .title {
  font-weight: 600;
  margin-bottom: 16px;
  color: #212529; }

.footer-bottom {
  padding-top: 15px;
  padding-bottom: 15px; }

.footer-copyright {
  padding-top: 20px;
  padding-bottom: 20px; }

.headerImage {
    height: 15rem;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .headerImage::before {
    content: " ";
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background: -moz-linear-gradient(
      top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.3) 110%
    );
    background: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.3) 110%
    );
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.3) 110%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
  }

  .headerImage .logo {
    text-align: center;
    display: inline-block;
    border-radius: 50% !important;
    width: 87px;
    height: 87px;
    text-align: center;
    vertical-align: middle;
  }
  .headerImage .logo .card-body {
    padding: 0rem;
  }

.tooltip {
    &.show {
        opacity: 0.8;
    }

    & .arrow {
        display: none;
    }
}

.vue-input-tag-wrapper {
    padding-left: .2rem !important;
    height: auto !important;

    & .new-tag {
        margin-bottom: 0px !important;
    }

    & .input-tag {
        background: rgba($default, 0.3) !important;
        border-radius: $border-radius-5 !important;
        border: none !important;
        height: 28px;
        padding: .2rem .4rem !important;
        margin-top: 3px !important;
        margin-bottom: auto !important;
        color: $default !important;
        box-shadow: 0 3px 7px rgba($default, 0.1) !important;
        transition: $transform-faster;

        &:hover {
            cursor: pointer;
            background: rgba($default, 0.35) !important;
        }

        & .remove {
            color: rgba($default, 0.6) !important;
            margin-left: 3px;

            &:hover {
                color: $default !important;
            }
        }
    }
}

.search-form {
    width: 100%;
    border-radius: 2rem !important;
    transition: all 0.1s ease-in-out;

    .input-group {
        transition: all 0.1s ease-in-out;
        background: transparent;
        border-radius: $border-radius-7;

        & .form-control,
        & .form-control:focus,
        & .form-control:active {
            padding-left: 5px;
            box-shadow: none !important;
            color: var(--default);
        }

        & a:first-of-type,
        & .input-group-prepend a:first-of-type {
          transition: all 0.1s ease-in-out;
          cursor: default !important;
          border-radius: $border-radius-7 0 0 $border-radius-7 !important;
        }

        & button:first-of-type,
        & .input-group-append button:first-of-type {
          transition: all 0.1s ease-in-out;
        }

        &.active {
            background: transparent;
            border-radius: var(--br-lg);
            box-shadow: none;

            & .input-group-prepend {
                border-radius: $border-radius-7 0 0 $border-radius-7 !important;
            }

            & .input-group-append {
              border-radius: 0 $border-radius-7 $border-radius-7 0 !important;
            }
        }
    }

    & .search-history {
      transition: all 0.1s ease-in-out;
      border-radius: var(--br-lg);
      position: absolute;
      width: 100%;
      z-index: 40 !important;
      top: 0;

      & .search-item {
        text-decoration: none;
        display: flex;
        width: 100%;
        justify-items: center;
        justify-content: space-between;
        cursor: pointer;
        padding: 0.45rem 1.1rem;
        background: #fff;

        &:hover:not(.clear-history),
        &:hover:not(.suggested) {
          background: var(--light) !important;
        }

        &.clear-history:hover {
          background: #fff;
        }

        &.suggested {
          justify-content: start;
          background: rgba($info, 0.15) !important;

          &:hover {
            background: rgba($info, 0.3) !important;
          }

          & span,
          & span svg,
          & span label {
            cursor: pointer;
          }

          &:first-child {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
