<template>
  <article
    :size="size"
    class="card bg-light product"
    :aria-label="product.name"
    :itemid="product._id"
  >
    <figure class="picture">
      <div
        class="card-img-top lazyload"
        :style="{ backgroundImage: 'url(' + coverImage + ')' }"
        :alt="product.name"
      ></div>
    </figure>

    <div class="card-body br-0" :class="[isDefault ? '' : ' px-3 pt-3 pb-2']">
      <p v-if="category" class="card-subtitle mb-0">
        <nuxt-link
          :to="'/category/' + category.slug"
          class="text-decoration-none text-blue"
        >
          {{ category.name }}
        </nuxt-link>
      </p>
      <p class="card-title mb-0">
        <nuxt-link
          :to="product | generateURL"
          class="text-decoration-none text-default stretched-link"
          prefetch
        >
          {{ product.name }}
        </nuxt-link>
      </p>
      <div v-if="size == 'xxl'" class="mt-4 mb-0">
        <p class="font-size-xs mb-1">
          {{ product.description | truncate(100, '...') }}
        </p>
      </div>
    </div>

    <div class="card-footer bg-light content-center border-0 p-0">
      <div class="d-flex w-50 price-wrap px-0">
        <span class="price text-blue m-auto">
          {{ product.price }} {{ product.currency }}
        </span>
      </div>
      <IconButton
        color="default"
        theme="light"
        class="ml-auto details"
        aria-label="Detalji"
      >
        <b-icon icon="arrow-up-right-square" font-scale="1.25"></b-icon>
        <label class="d-none d-lg-block ml-2 font-weight-md">Detalji</label>
      </IconButton>
    </div>
  </article>
</template>

<script>
export default {
  name: 'Ad',
  filters: {
    backgroundImage(path) {
      const style = {
        backgroundImage: 'url(' + path + ')',
      }

      return style
    },
    generateURL(product) {
      let name = encodeURIComponent(product.name.replaceAll(' ', '-'))
      return '/product/' + name + '-' + product._id
    },
    logo(path) {
      return process.env.baseUrl + path
    },
    truncate(text, length, suffix) {
      if (text.length > length) {
        text = text.substring(0, length) + suffix
      }

      return text.trim()
    },
    /*postedAgo(created_at) {
      moment.locale("sr")
      return moment(new Date(created_at).valueOf()).fromNow()
    },*/
  },
  props: {
    product: {
      type: [Object, Array, Boolean],
      required: false,
      default: false,
    },
    size: {
      type: String,
      required: false,
      default: 'default',
    },
  },
  data() {
    return {
      active: true,
      intersectionOptions: {
        root: null,
        rootMargin: '0px 0px 0px 0px',
        threshold: [0, 1], // [0.25, 0.75] if you want a 25% offset!
      },
    }
  },
  computed: {
    category() {
      return this.$store.getters['main/getById'](this.product.category_id)[0]
    },
    coverImage() {
      let path = this.product.gallery[0].path
      let fullPath = path.split('/')
      let fileName = fullPath[4].split('.')
      let name = fileName[0] + '-256x225.' + fileName[1]
      let resized = path.replace('obba-products', 'obba-products-resized')

      return resized.replace(fullPath[4], name)
    },
    isDefault() {
      return this.size === 'default' ? true : false
    },
  },
  methods: {
    async addToCart() {
      await this.$store.commit('main/add', this.product)
    },
    async onWaypoint({ going, direction }) {
      // going: in, out
      // direction: top, right, bottom, left
      if (going === this.$waypointMap.GOING_IN) {
        this.active = true
      }

      if (direction === this.$waypointMap.DIRECTION_TOP) {
        this.active = false
      }

      if (direction === this.$waypointMap.DIRECTION_BOTTOM) {
        this.active = true
      }
    },
  },
}
</script>

<style scoped lang="scss">
.card {
  margin-bottom: 1.25rem;

  & .price {
    font-weight: 600;
    font-size: 1.15em;
  }

  & .price-wrap {
    line-height: 1;
  }

  &[size='small'] {
    max-width: 14rem;
    min-width: 14rem;
    min-height: 11rem;

    & .card-img-top {
      height: 11rem;
      background-size: cover;
      background-position: center;
      max-width: 100%;
    }
  }

  &[size='default'] {
    max-width: 14.75rem;
    min-width: 14.75rem;
    min-height: 11rem;

    & .card-img-top {
      height: 11rem;
      background-size: cover;
      background-position: center;
      max-width: 100%;
    }

    & .card-body {
      padding: 1rem 0.75rem 1rem 0.75rem;
    }

    &:hover .details {
      opacity: 1;
    }
  }

  &[size='medium'] {
    max-width: 17rem;
    min-width: 17rem;
    min-height: 13rem;

    & .card-img-top {
      height: 13rem;
      background-size: cover;
      background-position: center;
      max-width: 100%;
    }

    & .price {
      font-size: 1.2rem !important;
    }

    &:hover .details {
      opacity: 1;
    }
  }
}
</style>
