<template>
  <div
    id="addAddress"
    ref="addAddress"
    class="modal animated fadeInUp faster show"
    tabindex="-1"
    role="dialog"
    aria-labelledby="addAddressTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-light text-default border-0 py-3">
          <div class="d-flex align-items-center justify-content-between w-100">
            <i class="las la-map-marked mr-2"></i>
            <h5 id="addAddressTitle" class="m-0">Dodaj novu adresu</h5>
            <button
              type="button"
              class="close text-default"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <div class="modal-body bg-light text-default px-4 pt-4 pb-2">
          <div class="form-group row">
            <label for="country" class="col-3 col-form-label">Država</label>
            <div class="col-9">
              <div class="form-label-group">
                <input
                  id="country"
                  ref="country"
                  v-model="country"
                  list="countries"
                  placeholder="Država"
                  autocomplete="off"
                  required="required"
                  class="form-control"
                />
                <datalist id="countries">
                  <option
                    v-for="item in countries"
                    :key="item.code"
                    :value="item.name"
                  />
                </datalist>

                <label for="country">Država</label>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="city" class="col-3 col-form-label">Grad</label>
            <div class="col-9">
              <div class="form-label-group">
                <input
                  id="city"
                  ref="city"
                  v-model="city"
                  type="text"
                  placeholder="Grad"
                  autocomplete="off"
                  required="required"
                  class="form-control"
                />
                <label for="city">Grad</label>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="username" class="col-3 col-form-label">Ulica</label>
            <div class="col-5">
              <div class="form-label-group">
                <input
                  id="street"
                  ref="street"
                  v-model="street"
                  type="text"
                  placeholder="Ulica"
                  autocomplete="off"
                  required="required"
                  class="form-control"
                />
                <label for="street">Ulica</label>
              </div>
            </div>

            <label for="username" class="col-1 col-form-label">Broj</label>
            <div class="col-3">
              <div class="form-label-group">
                <input
                  id="number"
                  ref="number"
                  v-model="number"
                  type="number"
                  placeholder="Broj"
                  autocomplete="off"
                  required="required"
                  class="form-control"
                />
                <label for="number">Broj</label>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="username" class="col-3 col-form-label"
              >Poštanski kod</label
            >
            <div class="col-9">
              <div class="form-label-group">
                <input
                  id="postalCode"
                  ref="postalCode"
                  v-model="postalCode"
                  type="text"
                  placeholder="Poštanski kod"
                  autocomplete="off"
                  required="required"
                  class="form-control"
                />
                <label for="postalCode">Poštanski kod</label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer bg-light text-default border-0">
          <button
            type="button"
            class="btn btn-link rounded-pill"
            data-dismiss="modal"
          >
            Close
          </button>

          <button
            v-if="!id"
            type="button"
            class="btn btn-blue rounded-pill"
            :class="{ disabled: status }"
            @click="addAddress"
          >
            <span
              v-if="status"
              class="spinner-border spinner-border-sm mr-2"
              role="status"
              aria-hidden="true"
            />
            Dodaj adresu
          </button>
          <button
            v-else
            type="button"
            class="btn btn-blue rounded-pill"
            :class="{ disabled: status }"
            @click="update"
          >
            <span
              v-if="status"
              class="spinner-border spinner-border-sm mr-2"
              role="status"
              aria-hidden="true"
            />
            Sačuvaj izmene
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AddAddress',
  props: {
    id: {
      type: [String, Boolean],
      required: false,
      default: false,
    },
  },
  data() {
    return {
      country: null,
      street: null,
      number: null,
      city: null,
      postalCode: null,
      error: false,
      status: false,
      countries: [],
    }
  },
  computed: {
    address() {
      return this.$store.getters['getAddressById'](this.id)[0]
    },
  },
  watch: {
    id: function () {
      this.$refs.country.value = this.address.country
      this.$refs.city.value = this.address.city
      this.$refs.street.value = this.address.street
      this.$refs.number.value = this.address.number
      this.$refs.postalCode.value = this.address.postal_code
    },
  },
  created() {
    this.fetchCountries()
  },
  methods: {
    selectCountry(country) {
      this.country = country[0]
    },
    async fetchCountries() {
      const res = await this.$axios.$get('countries')

      /*   let countries = []
      // eslint-disable-next-line no-undef
      _.forEach(res.data, (value, key) => {
        let item = new Object()
        item.code = key
        item.name = value
        countries.push(item)
      })*/

      this.countries = res
    },
    async addAddress() {
      this.status = true

      try {
        const data = {
          country: this.country,
          street: this.street,
          number: this.number,
          city: this.city,
          postalCode: this.postalCode,
        }

        const res = await this.$axios.$post('address', data)

        if (res.statusCode == 200) {
          this.$store.dispatch('fetchAddress')
          this.status = false
          // eslint-disable-next-line no-undef
          $('#addAddress').modal('hide')
          return true
        }
      } catch (e) {
        this.status = false
        this.error = e.response.data.data
        this.error.message = e.response.statusText
      }
    },
  },
}
</script>

<style scoped>
.alert-danger {
  border-radius: 0px !important;
  background: rgba(244, 66, 66, 0.15);
  border: 1px solid #e62600;
  border-left: 0px;
  border-right: 0px;
}
.alert-success {
  border-radius: 0px !important;
  background: rgba(45, 206, 137, 0.15);
  border: 1px solid #2dce89;
  border-left: 0px;
  border-right: 0px;
}
</style>
