<template>
  <div
    class="card text-default flex-grow-1 address"
    :class="[address.default ? '' : 'order-' + order]"
  >
    <div class="card-body">
      <div class="row">
        <div class="col-2">
          <div class="content-center h-100">
            <b-icon icon="geo-alt" class="my-auto" font-scale="1.5"></b-icon>
          </div>
        </div>
        <div class="col-6 p-0 text-center">
          <div class="text-left">
            <b> {{ address.city }}, {{ address.country }} </b>
            <i v-if="address.default" class="fad fa-badge-check text-blue" />
            <br />
            {{ address.street }}
            {{ address.number }}<br />
            {{ address.postal_code }}
          </div>
        </div>

        <div class="offset-1 col-3 p-0">
          <div
            class="d-flex w-100 h-100 justify-content-center align-items-center"
          >
            <a
              href="#"
              role="button"
              data-toggle="tooltip"
              data-original-title="Ukloni adresu"
              class="btn icontext text-red"
              @click="removeAddress(address._id)"
            >
              <b-icon icon="trash" font-scale="1.75" class="my-auto"></b-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Address',
  props: {
    address: {
      type: Object,
      required: true,
    },
    order: {
      type: Number,
      required: true,
    },
  },
  mounted() {
    this.$nextTick(() => {
      // eslint-disable-next-line no-undef
      $('[data-toggle="tooltip"]').tooltip()
    })
  },
  methods: {
    async removeAddress(id) {
      await this.$store.dispatch('removeAddress', id)
    },
  },
}
</script>
