<template>
  <button
    class="badge border-0 my-auto"
    :class="[
      light ? 'badge-' + color + '-light' : 'btn-' + color,
      rounded ? 'rounded-pill' : '',
    ]"
    type="button"
  >
    <span class="my-auto">
      <slot></slot>
    </span>
  </button>
</template>

<script>
export default {
  name: 'Badge',
  props: {
    rounded: {
      type: Boolean,
      required: false,
      default: false,
    },
    light: {
      type: Boolean,
      required: false,
      default: false,
    },
    color: {
      type: String,
      required: false,
      default: 'default',
    },
  },
}
</script>
