<template>
  <div class="card bg-lighter">
    <div class="card-header bg-lighter border-0 pb-1">
      <h5>{{ title }}</h5>
    </div>
    <div class="card-body px-2 pb-2 text-default">
      <slot></slot>
    </div>
    <slot name="footer"></slot>
  </div>
</template>

<script>
export default {
  name: 'CardHolder',
  props: {
    title: {
      type: String,
      required: true,
    },
  },
}
</script>
