<template>
  <div v-if="selected" class="d-flex dropdown select pr-2">
    <Badge
      :light="true"
      :rounded="true"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
      class="p-2"
      >{{ selected.name | trimSlug }}</Badge
    >
    <div class="dropdown-menu dropdown-menu-right">
      <div class="dropdown-container pt-2">
        <div class="overflow-auto h-100">
          <a
            v-if="showAll"
            href="#"
            role="button"
            class="select-item"
            @click="selectAll()"
          >
            <b v-if="selected.slug == 'all'">Sve</b>
            <label v-else>Sve</label>
          </a>
          <a
            v-for="(item, i) in list"
            :key="i"
            href="#"
            role="button"
            class="select-item"
            @click="select(item)"
          >
            <b v-if="selected.slug == item.slug">{{ item.name }}</b>
            <label v-else>{{ item.name }}</label>
          </a>
        </div>
      </div>
    </div>
    <input v-model="selected.slug" type="hidden" name="category" />
  </div>
</template>

<script>
export default {
  name: 'CustomSelect',
  filters: {
    trimSlug(slug) {
      return slug.replace(/-/g, ' ')
    },
  },
  props: {
    list: {
      type: [Array, Boolean],
      required: true,
      default: false,
    },
    showAll: {
      type: Boolean,
      required: false,
      default: true,
    },
    preselect: {
      type: [Object, Boolean, String],
      required: false,
      default: false,
    },
  },
  data() {
    return {
      selected: null,
    }
  },
  watch: {
    selected: function () {
      let selected = this.selected
      this.$emit('selected', selected)
    },
  },
  created() {
    if (this.showAll && !this.preselect) {
      this.selectAll()
    } else if (!this.showAll && !this.preselect) {
      this.selected = this.list[0]
    } else {
      this.selected = this.preselect
    }
  },
  methods: {
    select(item) {
      this.selected = item
    },
    selectAll() {
      let item = new Object()
      item.slug = 'all'
      item.name = 'Sve'

      this.selected = item
    },
  },
}
</script>
