<template functional>
  <div class="content-center">
    <nuxt-link
      :to="{ name: 'login' }"
      aria-label="Prijavi se"
      class="nav-item btn btn-default-light content-center rounded-pill font-rg mr-2"
    >
      Prijavi se
    </nuxt-link>
    <nuxt-link
      :to="{ name: 'register' }"
      aria-label="Registracija"
      class="nav-item btn btn-blue content-center rounded-pill font-rg"
    >
      Registracija
    </nuxt-link>
  </div>
</template>

<script>
export default {
  name: 'Guest',
}
</script>
