<template>
  <a
    v-if="dropdown"
    href="#"
    role="button"
    class="btn content-center text-decoration-none"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
    :class="[
      isLight
        ? 'btn-' + color + '-light text-' + color + ' shadow-none'
        : 'btn-' + color,
      rounded ? 'rounded-pill' : '',
    ]"
  >
    <slot class="ml-3"></slot>
  </a>
  <a
    v-else
    href="#"
    role="button"
    class="btn content-center text-decoration-none"
    :class="[
      isLight
        ? 'btn-' + color + '-light text-' + color + ' shadow-none'
        : 'btn-' + color,
      rounded ? 'rounded-pill' : '',
    ]"
  >
    <slot class="ml-3 my-auto"></slot>
  </a>
</template>

<script>
export default {
  name: 'IconButton',
  props: {
    color: {
      type: String,
      required: false,
      default: '',
    },
    light: {
      type: Boolean,
      required: false,
      default: false,
    },
    rounded: {
      type: Boolean,
      required: false,
      default: false,
    },
    inline: {
      type: Boolean,
      required: false,
      default: false,
    },
    dropdown: {
      type: Boolean,
      required: false,
      default: false,
    },
    theme: {
      type: String,
      required: false,
      default: 'classic',
    },
  },
  computed: {
    isLight() {
      return this.theme === 'light'
    },
  },
}
</script>

<style scoped>
.btn {
  padding-top: 0.7rem;
  padding-left: 1.15rem;
  padding-right: 1.15rem;
  padding-bottom: 0.7rem;
}
</style>
