<template>
  <a
    href="#"
    role="button"
    :class="
      'btn content-center text-decoration-none rounded-pill py-1 btn-' +
      color +
      '-light text-' +
      color +
      ' shadow-none'
    "
  >
    <span :class="'my-auto rounded-circle text-white bg-' + color">
      <slot></slot>
    </span>
    <label class="d-none d-lg-block ml-2 my-auto">{{ text }}</label>
  </a>
</template>

<script>
export default {
  name: 'IconBtn',
  props: {
    color: {
      type: String,
      required: false,
      default: '',
    },
    text: {
      type: String,
      required: true,
    },
  },
}
</script>

<style scoped lang="scss">
.btn {
  height: 36px;
  padding-left: 4px;

  & .rounded-circle {
    padding: 6px 6px 5px 6px;
  }
}
</style>
