<template>
  <div :class="'status bg-' + color + '-faded text-' + color + ' rounded-lg'">
    <img :src="image" width="28" />
    <span class="font-weight-md flex-wrap align-self-center pr-3">
      <slot></slot>
    </span>
  </div>
</template>

<script>
export default {
  name: 'IconStatusTag',
  props: {
    icon: {
      type: String,
      required: true,
      default: 'apps-tab',
    },
    color: {
      type: String,
      required: true,
      default: 'primary',
    },
  },
  computed: {
    image() {
      return require('~/assets/icons/' + this.icon + '.png')
    },
  },
}
</script>

<style lang="scss" scoped>
.status {
  display: flex;
  height: 3rem;
  padding: 0.65rem 0.7rem 0.6rem 0.7rem;
  margin-bottom: 0.6rem;
  margin-right: 0.6rem;
  text-shadow: none !important;

  & img {
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.2));
    margin-right: 0.75rem;
  }

  & span {
    font-size: 14px;
    line-height: 1em;
  }
}
</style>
