<template>
  <div v-if="showInstallBanner" class="popup w-100">
    <div class="card alert alert-default-light alert-dismissible w-25 mx-auto">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <div class="card-body">
        <div class="d-block mx-auto">
          <a href="#" class="navbar-brand">
            <img src="~/assets/img/logo.png" height="50px" />
            <h2 class="ml-1 secondary align-bottom d-inline-block">
              <i>Obba</i>
            </h2>
          </a>
          <p class="mt-2">{{ description }}</p>
          <a href="#" class="btn btn-default" @click.prevent="install"
            >INSTALIRAJ PREČICU</a
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
let installEvent
export default {
  name: 'InstallPrompt',
  data() {
    return {
      showInstallBanner: false,
      description: process.env.description,
    }
  },
  mounted() {
    this.$nextTick(() => {
      window.addEventListener('beforeinstallprompt', (e) => {
        console.log(e)
        e.preventDefault()
        installEvent = e
        this.showInstallBanner = true
      })
    })
  },
  methods: {
    install() {
      this.showInstallBanner = false
      installEvent.prompt()
      installEvent.userChoice.then(() => {
        installEvent = null
      })
    },
  },
}
</script>

<style scoped>
.popup {
  position: absolute;
  z-index: 1000000;
}
</style>
