<template>
  <div
    id="showMedia"
    ref="showMedia"
    class="modal animated fadeInDown faster"
    tabindex="-1"
    role="dialog"
    aria-labelledby="showMediaTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-light text-default border-0 py-3">
          <div class="d-flex align-items-center justify-content-between w-100">
            <i class="las la-play-circle mr-2"></i>
            <h5 id="showMediaTitle" class="m-0">Video</h5>
            <button
              type="button"
              class="close text-default"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <div class="modal-body bg-light text-default p-0">
          <iframe
            :src="video"
            frameborder="0"
            width="100%"
            height="445px"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Media',
  props: {
    video: {
      type: [String],
      required: true,
    },
  },
}
</script>

<style lang="scss" scoped>
.modal {
  & .modal-dialog {
    width: 880px !important;
    max-width: 880px !important;
  }
}
</style>
