<template>
  <div
    id="openShop"
    ref="openShop"
    class="modal animated fadeInDown faster"
    tabindex="-1"
    role="dialog"
    aria-labelledby="openShopTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <transition name="fadeInDown" appear>
        <div class="modal-content">
          <div class="modal-header bg-light text-default border-0">
            <div
              class="d-flex align-items-center justify-content-between w-100"
            >
              <i class="las la-store-alt mr-2"></i>
              <h5 id="openShopTitle" class="m-0">Otvorite Prodavnicu</h5>
              <a
                href="#"
                role="button"
                class="close text-default"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </a>
            </div>
          </div>
          <div class="modal-body bg-light text-default px-4 pt-4 pb-2">
            <div class="form-group row mb-4">
              <label for="logo" class="col-4 col-form-label">Logo</label>
              <div class="col-8">
                <div class="custom-file">
                  <input
                    id="logo"
                    ref="logo"
                    type="file"
                    class="custom-file-input"
                    @change="handleLogoUpload()"
                  />
                  <label class="custom-file-label" for="logo">
                    Odaberi sliku
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="shopName" class="col-4 col-form-label">
                Naziv prodavnice
              </label>
              <div class="col-8">
                <div class="form-label-group">
                  <input
                    id="shopName"
                    ref="shopName"
                    v-model="shopName"
                    name="shopName"
                    type="text"
                    placeholder="Naziv prodavnice"
                    autocomplete="off"
                    required="required"
                    class="form-control"
                  />
                  <label for="shopName">Naziv prodavnice</label>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="shopUsername" class="col-4 col-form-label">
                Korisničko ime
              </label>
              <div class="col-8">
                <div class="d-inline-flex w-100 align-items-center">
                  <div class="form-label-group w-100">
                    <input
                      id="shopUsername"
                      ref="shopUsername"
                      v-model.trim="shopUsername"
                      type="text"
                      placeholder="Korisničko ime"
                      autocomplete="off"
                      required="required"
                      class="form-control"
                      disabled
                    />
                    <label for="shopUsername">Korisničko ime</label>
                  </div>
                  <span
                    v-if="available"
                    class="spinner-border spinner-border-sm text-default ml-2 mt-n3"
                    role="status"
                    aria-hidden="true"
                  ></span>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="description" class="col-4 col-form-label">
                Opis
              </label>
              <div class="col-8">
                <div class="d-inline-flex w-100 align-items-center">
                  <div class="form-label-group w-100">
                    <textarea
                      id="description"
                      ref="description"
                      v-model="description"
                      placeholder="Opis"
                      autocomplete="off"
                      required="required"
                      class="form-control"
                    />
                    <label for="description">Opis</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer bg-light text-default border-0">
            <a
              role="button"
              href="#"
              class="btn btn-link rounded-pill"
              data-dismiss="modal"
            >
              Otkaži
            </a>
            <a
              href="#"
              role="button"
              class="btn btn-primary rounded-pill"
              :class="{ disabled: status }"
              @click="openShop"
            >
              <span
                v-if="status"
                class="spinner-border spinner-border-sm mr-2"
                role="status"
                aria-hidden="true"
              ></span>
              Započni prodaju
            </a>
          </div>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
export default {
  name: 'OpenShop',
  transition: 'modal',
  data() {
    return {
      shopName: null,
      shopUsername: null,
      logo: false,
      description: null,
      error: false,
      available: false,
      status: false,
    }
  },
  watch: {
    shopName: function (shopName) {
      let re = /[^A-Z0-9]/gi

      shopName = shopName.replace(re, '').toLowerCase()

      if (shopName.length >= 5) {
        this.shopUsername = shopName

        setTimeout(() => {
          this.available = true
          this.checkUsername()
        }, 1500)
      }
    },
  },
  methods: {
    handleLogoUpload() {
      this.logo = this.$refs.logo.files[0]
    },
    async checkUsername() {
      let username = this.$refs.shopUsername
      const res = await this.$axios.$get('shops/' + username.value)

      if (res.status == 0) {
        username.classList.remove('is-invalid')
        username.classList.add('is-valid')
      } else {
        username.classList.remove('is-valid')
        username.classList.add('is-invalid')
      }

      if (username.value.length < 6) {
        username.classList.remove('is-valid')
        username.classList.remove('is-invalid')
        username.classList.add('is-invalid')
      }
      this.available = false
    },
    async openShop() {
      this.status = true

      try {
        let formData = new FormData()
        formData.append('logo', this.logo)
        formData.append('display_name', this.shopName)
        formData.append('description', this.description)
        formData.append('name', this.shopUsername)

        const res = await this.$axios.$post('shop', formData, {
          headers: {
            'Content-Type': 'multipart/form-data',
          },
        })

        if (res.data.status == 'success') {
          this.$store.dispatch('convertToOwner')
          this.status = false
          // eslint-disable-next-line no-undef
          $('#openShop').modal('hide')
          this.$router.push('/shop')
        }
      } catch (e) {
        this.status = false
        this.error = e.response.data.data
      }
    },
  },
}
</script>

<style scoped>
.alert-danger {
  border-radius: 0px !important;
  background: rgba(244, 66, 66, 0.15);
  border: 1px solid #e62600;
  border-left: 0px;
  border-right: 0px;
}
.alert-success {
  border-radius: 0px !important;
  background: rgba(45, 206, 137, 0.15);
  border: 1px solid #2dce89;
  border-left: 0px;
  border-right: 0px;
}
</style>
