<template>
  <span data-toggle="label">
    <input
      :id="'option-' + option"
      v-model="selected"
      type="radio"
      name="options"
      :style="{ display: 'none' }"
      :value="option"
      :checked="checked"
      @click="changeOption"
    />
    <label
      :key="option"
      :for="'option-' + option"
      class="tag-default-light m-1"
      :class="[checked ? 'active' : '']"
    >
      {{ option }}
    </label>
  </span>
</template>

<script>
export default {
  name: 'OptionTag',
  props: {
    options: {
      type: [Number, String, Object, Boolean],
      required: false,
      default: false,
    },
    option: {
      type: [Number, String],
      required: true,
    },
  },
  data() {
    return {
      selected: this.options,
    }
  },
  computed: {
    checked() {
      if (this.options == this.option) {
        return true
      }
      return false
    },
  },
  methods: {
    changeOption(selected) {
      this.$emit('update:options', selected.target.value)
    },
  },
}
</script>
