<template>
  <nav aria-label="Products" class="d-flex mt-3 w-100">
    <ul class="d-inline-flex pagination justify-content-center mb-5 mx-auto">
      <li class="page-item" :class="[currentPage > 0 ? '' : 'disabled']">
        <a
          class="page-link"
          :href="'#' + previous"
          tabindex="-1"
          aria-disabled="true"
          @click="previous"
        >
          <b-icon icon="chevron-left" class="mt-n1"></b-icon>
        </a>
      </li>
      <li v-for="(pages, index) in results" :key="index" class="page-item">
        <a
          v-if="currentPage == index + 1"
          class="page-link active"
          :href="'#' + index"
          @click="currentPage(index)"
          >{{ index + 1 }}</a
        >
        <a v-else class="page-link" :href="'#' + index" @click="page(index)">{{
          index + 1
        }}</a>
      </li>
      <li
        class="page-item"
        :class="[currentPage == totalPages ? 'disabled' : '']"
      >
        <a class="page-link" :href="'#' + next" @click="next">
          <b-icon icon="chevron-right" class="mt-n1"></b-icon>
        </a>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  name: 'Pagination',
  props: {
    results: {
      type: Array,
      required: true,
    },
  },
  computed: {
    currentPage() {
      return this.$parent.$parent.page
    },
    totalPages() {
      return this.$parent.$parent.totalPages
    },
  },
  methods: {
    page(page) {
      this.$emit('page', page)
    },
    previous() {
      let page = this.currentPage - 1
      if (page < 0) {
        this.page(0)
      }
      this.page(page)
    },
    next() {
      this.page(Math.round(this.currentPage) + 1)
    },
  },
}
</script>
