<template>
  <div class="table-responsive">
    <table class="table table-borderless table-shopping-cart">
      <thead class="text-default">
        <tr class="small text-uppercase">
          <th scope="col" width="375" class="text-left">Naziv proizvoda</th>
          <th scope="col" width="175" class="text-right">Veličina</th>
          <th scope="col" width="175" class="text-right">Pojedinačna cena</th>
          <th scope="col" width="125" class="text-center">Količina</th>
          <th scope="col" width="100" class="text-right">Ukupno</th>
          <th scope="col" width="25" class="text-right"></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(product, index) in products" :key="index">
          <td valign="center">
            <figure class="itemside align-items-center">
              <div class="side">
                <div class="picture">
                  <div
                    class="img-sm lazyload"
                    :style="{
                      backgroundImage:
                        'url(' +
                        $options.filters.coverImage(product.gallery[0].path) +
                        ')',
                    }"
                    :alt="product.name"
                  ></div>
                </div>
              </div>
              <figcaption class="info">
                <nuxt-link
                  :to="'product/' + product.name + '-' + product._id"
                  class="title text-dark font-size-sm m-0"
                  prefetch
                >
                  {{ product.name }}
                </nuxt-link>
                <nuxt-link
                  v-if="product.vendor"
                  :to="'shop/' + product.vendor.slug"
                  class="text-muted small"
                >
                  {{ product.vendor.name }}
                </nuxt-link>
              </figcaption>
            </figure>
          </td>
          <td v-if="product.option !== null" valign="center" align="right">
            <span
              v-for="(option, i) in $options.filters.options(
                product._id,
                items
              )"
              :key="i"
              class="badge badge-default-light font-size-sm mr-1"
            >
              {{ option }}
            </span>
          </td>
          <td v-else valign="center" align="right">
            <select class="custom-select">
              <option
                v-for="(option, i) in product.options"
                :key="i"
                :value="option"
              >
                {{ option }}
              </option>
            </select>
          </td>
          <td valign="center" align="right">
            <div class="price-wrap">
              <var class="price"
                >{{ product.price }} {{ product.currency }}</var
              >
            </div>
          </td>
          <td valign="center" align="center">
            {{ product._id | quantity(items) }}
          </td>
          <td valign="center" align="right">
            <var class="price">
              {{ product._id | price(items) }} {{ product.currency }}
            </var>
          </td>
          <td align="right" class="p-0">
            <a
              href="#"
              role="button"
              data-original-title="Ukloni iz korpe"
              class="btn icontext shadow-none"
              data-toggle="tooltip"
              @click.stop.prevent="remove(index)"
            >
              <span class="icon text-red">
                <b-icon icon="trash" font-scale="1.5"></b-icon>
              </span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'ProductsTable',
  filters: {
    coverImage(path) {
      let fullPath = path.split('/')
      let fileName = fullPath[4].split('.')
      let name = fileName[0] + '-256x225.' + fileName[1]
      let resized = path.replace('obba-products', 'obba-products-resized')

      return resized.replace(fullPath[4], name)
    },
    quantity(id, items) {
      let filtered = [...items.filter((item) => item._id === id)]

      let quantity = 0
      filtered.forEach((item) => {
        if (!item.quantity) {
          quantity += 1
        } else {
          quantity += parseInt(item.quantity)
        }
      })

      return quantity
    },
    price(id, items) {
      let filtered = [...items.filter((item) => item._id === id)]
      let quantity = 0

      filtered.forEach((item) => {
        if (!item.quantity) {
          quantity += 1
        } else {
          quantity += parseInt(item.quantity)
        }
      })

      let price = filtered[0].price * quantity
      return price
    },
    options(id, items) {
      let filtered = [...items.filter((item) => item._id === id)]

      let options = []
      filtered.forEach((item) => {
        options.push(item.option)
      })

      if (!_.isEmpty(options)) {
        return options
      }

      return filtered[0].options
    },
  },
  computed: {
    ...mapState({
      products: (state) => _.uniqBy(state.main.cart, '_id'),
      items: (state) => state.main.cart,
    }),
  },
  ready() {
    this.$nextTick(() => {
      $('[data-toggle="tooltip"]').tooltip()
    })
  },
  methods: {
    async remove(product) {
      this.$store.commit('main/removeFromCart', product)
    },
  },
}
</script>

<style lang="scss" scoped>
.img-sm {
  width: 60px;
  height: 60px;
}

.itemside {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;

  & .side {
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
}
.btn.icontext {
  box-shadow: none !important;
}

.table-shopping-cart th,
.table-shopping-cart td {
  padding-left: 5px;
  padding-right: 5px;
}
</style>
