<template>
  <div
    v-if="maxUnits !== false"
    class="d-inline-flex input-group w-auto input-spinner shadow-none"
  >
    <div class="flex input-group-prepend">
      <button
        id="button-minus"
        class="btn btn-light px-2 shadow-none"
        type="button"
        @click="units--"
      >
        <b-icon icon="dash" font-scale="1.75"></b-icon>
      </button>
    </div>
    <input
      v-model="units"
      min="1"
      :max="maxUnits"
      type="number"
      class="flex form-control bg-light text-center fw-lg text-default shadow-none px-0 h-100"
    />
    <div class="flex input-group-append">
      <button
        id="button-plus"
        class="btn btn-light px-2 shadow-none text-default"
        type="button"
        @click="units++"
      >
        <b-icon icon="plus" font-scale="1.75"></b-icon>
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Quantity',
  props: {
    quantity: {
      type: Number,
      required: false,
      default: 1,
    },
    maxUnits: {
      type: [Number, Boolean],
      required: true,
      default: false,
    },
  },
  data() {
    return {
      units: this.quantity,
    }
  },
  watch: {
    units: function () {
      this.units = Math.max(Math.min(this.units, this.maxUnits), 1)
    },
  },
  methods: {
    changeQuantity(quantity) {
      this.$emit('update:quantity', quantity)
    },
  },
}
</script>

<style scoped>
.form-control {
  width: 34px;
  font-size: 16px;
  padding: 0.26rem 0;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
.form-control:focus {
  background: var(--light);
}
</style>
