<template>
  <form
    ref="searchForm"
    action="/search"
    method="GET"
    class="card d-flex position-relative align-items-center search-form shadow-sm"
    role="search"
  >
    <div
      v-click-outside="hideSearchHistory"
      class="input-group ml-auto"
      :class="{ active: showHistory }"
      style="z-index: 50 !important"
    >
      <div class="input-group-prepend">
        <a
          class="btn text-default content-center shadow-none pl-3 pr-2"
          role="button"
          @click.prevent="showSearchHistory"
        >
          <b-icon icon="search" class="h6 mb-0 text-default"></b-icon>
        </a>
      </div>
      <input
        v-model="search"
        aria-label="Pretražite Obbu"
        type="search"
        name="search"
        class="form-control"
        spellcheck="false "
        placeholder="Pretraga"
        @focus="showSearchHistory"
        @keyUp="autoSuggest"
      />
      <div class="input-group-append pl-2">
        <CustomSelect
          role="select"
          aria-label="Kategorije"
          :list="categories"
          :preselect="preselect"
          @selected="selected"
          @click.native="showSearchHistory"
        />
      </div>
    </div>
    <div
      v-if="showHistory"
      class="card bg-white search-history pt-5 pb-0"
      role="list"
    >
      <div v-if="search" class="card-body bg-white p-0 m-0">
        <ul v-if="searchHistory.length > 0" class="mx-0 p-0 mt-0 mb-2">
          <li class="d-flex w-100 px-3 pb-1">
            <a
              role="button"
              href="#"
              aria-labelledby="clearHistory"
              class="text-decoration-none clear-history ml-auto"
              @click="clearSearchHistory"
            >
              <label
                for="clearHistory"
                class="small ml-auto mb-0 mt-auto font-weight-semibold"
                style="cursor: pointer"
              >
                Obriši istoriju pretraživanja
              </label>
            </a>
          </li>
          <li v-if="suggested" class="d-flex w-100">
            <nuxt-link
              :to="suggested"
              aria-label="Pretraži pojam"
              class="search-item bg-blue suggested"
              prefetch
              @click.native="hideSearchHistory"
            >
              <span
                class="text-default align-items-center font-size-sm text-blue"
              >
                <b-icon icon="search" class="mr-2 mt-0 mb-1"></b-icon>
                <label class="mb-0 font-weight-normal text-blue">
                  {{ search }} -
                  <span v-if="category == 'all'"
                    >Pretraži u svim kategorijama</span
                  >
                  <span v-else
                    >Pretraži u kategoriji <b>{{ category.name }}</b></span
                  >
                </label>
              </span>
            </nuxt-link>
          </li>
          <li v-for="(item, i) in searchHistory" :key="i" class="d-flex w-100">
            <nuxt-link
              :to="item | route"
              class="search-item"
              prefetch
              @click.native="hideSearchHistory"
            >
              <span class="text-default align-items-center font-size-sm">
                <b-icon icon="clock" class="mr-2 mt-0 mb-1"></b-icon>
                <label class="mb-0 font-weight-normal">
                  {{ item.search }}
                </label>
              </span>
              <small class="mb-0 mt-auto font-weight-semibold">
                u {{ item.category | categoryName(categories) }}
              </small>
            </nuxt-link>
          </li>
        </ul>
        <div class="d-flex px-3 pb-2">
          <a
            href="https://algolia.com"
            aria-label="Algolia"
            target="_blank"
            class="d-flex text-decoration-none text-default ml-auto align-items-center"
            alt="Search provided by Algolia"
          >
            <img src="~/assets/svg/algolia.svg?inline" height="15px" />
          </a>
        </div>
      </div>
    </div>
    <slot></slot>
  </form>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'SearchForm',
  filters: {
    categoryName(slug, list) {
      let categories = list.filter((item) => item.slug == slug)

      if (!_.isEmpty(categories)) {
        return categories[0].name
      }

      return 'Sve'
    },
    route(item) {
      let route = {
        name: 'search',
        query: {
          category: item.category,
          search: item.search,
        },
      }
      return route
    },
  },
  data() {
    return {
      showHistory: false,
      search: null,
      category: null,
      suggested: false,
    }
  },
  computed: {
    ...mapState({
      searchHistory: (state) => state.main.search.slice(0, 10),
      categories: (state) => state.main.categories,
    }),
    preselect() {
      let search = this.$store.getters['main/getLastSearch']
      if (search !== false) {
        if (search.category !== 'all') {
          return this.$store.getters['main/getBySlug'](search.category)[0]
        }
      }

      return false
    },
  },
  watch: {
    search: function () {
      this.autoSuggest()
      this.showSearchHistory()
    },
  },
  methods: {
    showSearchHistory() {
      let history = this.searchHistory

      if (!this.search || _.isEmpty(history)) {
        this.showHistory = false
      } else {
        this.showHistory = true
      }
    },
    hideSearchHistory() {
      this.showHistory = false
    },
    clearSearchHistory() {
      this.showHistory = false
      this.$store.commit('main/clearSearchHistory')
    },
    selected(item) {
      this.category = item
    },
    autoSuggest() {
      this.showHistory = true
      let search = this.search
      let category = this.category.slug

      if (_.isEmpty(search)) {
        this.suggested = null
      } else {
        let route = {
          name: 'search',
          query: {
            category: category,
            search: search,
          },
        }
        this.suggested = route
      }
    },
  },
}
</script>
