<template>
  <article class="card bg-light mb-5" role="shop">
    <div class="card-header bg-white py-3 px-3 bg-white border-0">
      <div class="d-flex align-items-center w-100">
        <nuxt-link
          :to="'/shop/' + vendor.name"
          class="text-decoration-none text-default"
        >
          <img
            class="icon icon-xs rounded-circle"
            :src="logo"
            height="33px"
            :alt="vendor.display_name"
          />

          <h6 class="d-inline-flex ml-1 mt-1" style="vertical-align: middle">
            {{ vendor.display_name }}
          </h6>

          <b-icon
            v-if="vendor.verified"
            icon="award"
            font-scale="1.25"
            class="valign-middle text-blue ml-1"
          ></b-icon>
        </nuxt-link>

        <Badge
          v-if="vendor.status == 'OPEN'"
          color="blue"
          :light="true"
          alt="Otvoreno"
          class="badge-md ml-auto px-1"
        >
          OTVORENO
        </Badge>

        <Badge
          v-else-if="vendor.status == 'CLOSED'"
          color="warning"
          :light="true"
          alt="Zatvoreno"
          class="badge-md ml-auto"
        >
          ZATVORENO
        </Badge>

        <Badge
          v-else-if="vendor.status == 'BANNED'"
          color="danger"
          :light="true"
          alt="Ugašeno"
          class="badge-md ml-auto"
        >
          UGAŠENO
        </Badge>
      </div>
    </div>

    <div class="card-body bg-white pt-0 px-3" style="border-radius: 0px">
      <!--<button v-if="shop.verified" class="btn btn-default-light mr-2">
          <i class="fad fa-sms mr-2" />
          Pošalji SMS
        </button>-->
      <div class="d-inline-flex align-items-center justify-content-start w-100">
        <div class="dropdown">
          <IconButton
            theme="light"
            color="yellow"
            class="text-primary mr-1 p-2"
            :rounded="true"
            :dropdown="true"
            @click.stop.prevent=""
          >
            <b-icon icon="star" font-scale="1.45"></b-icon>
            <div class="dropdown-menu text-center">
              <i class="las la-star" @click="rate(1)"></i>
              <i class="las la-star" @click="rate(2)"></i>
              <i class="las la-star" @click="rate(3)"></i>
              <i class="las la-star" @click="rate(4)"></i>
              <i class="las la-star" @click="rate(5)"></i>
            </div>
          </IconButton>
        </div>

        <IconBtn text="Pošalji poruku" color="default" @click.stop.prevent="">
          <b-icon icon="chat-right-quote-fill" font-scale="1.25"></b-icon>
        </IconBtn>
      </div>
    </div>

    <div class="p-3 font-md text-left font-md">
      {{ vendor.description | truncate }}
    </div>
  </article>
</template>

<script>
export default {
  filters: {
    truncate: function (string) {
      let sliced = string.slice(0, 300)
      return sliced + '...'
    },
  },
  props: {
    vendor: {
      type: [Object, Array],
      required: true,
    },
  },
  data() {
    return {
      status: false,
    }
  },
  computed: {
    logo({ $config: { baseUrl } }) {
      let path = this.vendor.logo
      return baseUrl + path
    },
  },
  methods: {
    async rate(rate) {
      this.status = true

      try {
        let formData = new FormData()
        formData.append('rate', rate)
        formData.append('_method', 'PATCH')

        const res = await this.$axios.$post(
          'shops/' + this.vendor._id,
          formData,
          {
            headers: {
              'Content-Type': 'multipart/form-data',
            },
          }
        )
        this.status = false
      } catch (e) {
        this.status = false
        this.error = e
      }
    },
  },
}
</script>

<style scoped lang="scss">
.dropdown-menu.show {
  display: flex;

  & i {
    opacity: 0.7;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}
</style>
