<template>
  <aside>
    <div class="d-flex flex-wrap">
      <div class="dropdown mr-2">
        <IconButton theme="light" color="info" :dropdown="true">
          <b-icon icon="star" font-scale="1.5"></b-icon>
          <div class="dropdown-menu text-center">
            <i class="las la-star" @click="rate(1)"></i>
            <i class="las la-star" @click="rate(2)"></i>
            <i class="las la-star" @click="rate(3)"></i>
            <i class="las la-star" @click="rate(4)"></i>
            <i class="las la-star" @click="rate(5)"></i>
          </div>
        </IconButton>
      </div>

      <IconBtn text="Pošalji poruku" color="default" @click.stop.prevent="">
        <b-icon icon="chat-right" font-scale="1.15"></b-icon>
      </IconBtn>
    </div>

    <div class="card mt-4">
      <div class="card-body pt-3 pb-0">
        <h5 class="card-title text-default">Opis</h5>
        <p class="text-muted small">
          {{ $parent.shop.description }}
        </p>
      </div>
    </div>

    <div class="card bg-light mt-3 shadow-none">
      <div class="card-body pb-3">
        <h5 class="card-title text-default mb-4">Ostavite komentar</h5>
        <div class="form-label-group">
          <textarea
            id="comment"
            ref="comment"
            v-model="comment"
            placeholder="Komentar"
            autocomplete="off"
            required="required"
            class="form-control"
          />
          <label for="comment">Komentar</label>
        </div>
        <div class="d-flex w-100 mt-1">
          <a href="#" role="button" class="btn btn-blue ml-auto"> Potvrdi </a>
        </div>
      </div>
    </div>
  </aside>
</template>

<script>
export default {
  name: 'ShopDetails',
  data() {
    return {
      comment: null,
      status: false,
      error: null,
    }
  },
  methods: {
    async rate(rate) {
      this.status = true

      try {
        let formData = new FormData()
        formData.append('rate', rate)
        formData.append('_method', 'PATCH')

        const res = await this.$axios.$post(
          'shops/' + this.$parent.shop._id,
          formData,
          {
            headers: {
              'Content-Type': 'multipart/form-data',
            },
          }
        )

        console.log(res)
        this.status = false
      } catch (e) {
        this.status = false
        this.error = e
      }
    },
  },
}
</script>

<style scoped lang="scss">
.dropdown-menu.show {
  display: flex;

  & i {
    opacity: 0.7;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}
</style>
