<template>
  <section>
    <div class="row row-cols-2 mb-4">
      <div class="col-6">
        <div class="card p-0" role="dashboard-tile">
          <div class="d-flex card-body align-items-end pb-1">
            <nuxt-link
              :to="{ name: 'dashboard', hash: '/#publish' }"
              class="text-primary text-decoration-none stretched-link"
            >
              <b-icon icon="plus-circle" font-scale="1.5"></b-icon>
              <h5 class="card-title mt-1">Dodaj proizvod</h5>
            </nuxt-link>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card p-0" role="dashboard-tile">
          <div class="d-flex card-body align-items-end pb-1">
            <div class="position-absolute text-primary info">
              <div
                v-if="activeOrders > 0"
                class="d-flex justify-content-end align-items-center font-weight-bold mb-1"
              >
                Nove
                <span
                  class="badge badge-sm badge-blue ml-2 font-weight-semibold font-size-md"
                >
                  {{ activeOrders }}
                </span>
                <span class="sr-only">porudžbine</span>
              </div>
              <div
                v-if="orders > 0"
                class="d-flex justify-content-end align-items-center font-weight-bold mb-1"
              >
                Ukupno
                <span
                  class="badge badge-sm badge-primary ml-2 font-weight-semibold font-size-md"
                >
                  {{ orders }}
                </span>
                <span class="sr-only">porudžbina</span>
              </div>
            </div>
            <nuxt-link
              v-if="activeOrders > 0"
              :to="{ name: 'dashboard', hash: '/#newOrders' }"
              class="text-primary text-decoration-none stretched-link"
            >
              <b-icon icon="receipt-cutoff" font-scale="1.5"></b-icon>
              <h5 class="card-title mt-1">Porudžbine</h5>
            </nuxt-link>
            <nuxt-link
              v-else
              :to="{ name: 'dashboard', hash: '/#orders' }"
              class="text-primary text-decoration-none stretched-link"
            >
              <b-icon icon="receipt-cutoff" font-scale="1.5"></b-icon>
              <h5 class="card-title mt-1">Porudžbine</h5>
            </nuxt-link>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-cols-2 mb-4">
      <div class="col-6">
        <div class="card p-0" role="dashboard-tile">
          <div class="d-flex card-body align-items-end pb-1">
            <div class="position-absolute info text-primary">
              <div
                v-if="products > 0"
                class="d-flex justify-content-end align-items-center font-weight-bold mb-1"
              >
                Ukupno
                <span
                  class="badge badge-sm badge-primary ml-2 font-weight-semibold font-size-md"
                >
                  {{ products }}
                </span>
                <span class="sr-only">proizvoda</span>
              </div>
            </div>
            <nuxt-link
              :to="{ name: 'dashboard', hash: '/#products' }"
              class="text-blue text-decoration-none stretched-link"
            >
              <b-icon icon="box-seam" font-scale="1.5"></b-icon>
              <h5 class="card-title mt-1">Proizvodi</h5>
            </nuxt-link>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card p-0" role="dashboard-tile">
          <div class="d-flex card-body align-items-end pb-1">
            <nuxt-link
              :to="{ name: 'dashboard', hash: '/#messages' }"
              class="text-primary text-decoration-none stretched-link"
            >
              <b-icon icon="chat-square-text" font-scale="1.5"></b-icon>
              <h5 class="card-title mt-1">Poruke</h5>
            </nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Shortcuts',
  props: {
    user: {
      type: [Object, Array],
      required: true,
      default: null,
    },
    products: {
      type: Number,
      required: true,
      default: null,
    },
    orders: {
      type: Number,
      required: true,
      default: null,
    },
    activeOrders: {
      type: Number,
      required: true,
      default: null,
    },
  },
}
</script>

<style lang="scss" scoped>
.card {
  max-width: 12rem;
  height: 10rem;
  max-height: 10rem;

  & .card-body {
    background-position: right;
    background-size: cover;
    filter: grayscale(80%);
    background-image: url('~assets/img/shadow-blue.png');
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 100ms;

    & .info {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;

      & .badge {
        font-size: 1.25rem;
      }
    }
  }
}
</style>
