<template>
  <div class="row">
    <div class="col-12 mb-4">
      <div class="card p-0" role="dashboard-tile">
        <div class="card-body blue pb-2">
          <nuxt-link
            :to="{ name: 'dashboard', hash: '/#products' }"
            class="text-default text-decoration-none stretched-link"
          >
            <i class="las la-box"></i>
            <h5 class="card-title">Proizvodi</h5>
          </nuxt-link>
        </div>
      </div>
    </div>

    <div class="col-12 mb-4">
      <div class="card p-0" role="dashboard-tile">
        <div class="card-body blue pb-2">
          <nuxt-link
            :to="{ name: 'dashboard', hash: '/#orders' }"
            class="text-default text-decoration-none stretched-link"
          >
            <i class="las la-receipt"></i>
            <h5 class="card-title">Porudžbine</h5>
          </nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Statistics',
  computed: {
    user() {
      return this.$store.getters['getUser']
    },
  },
}
</script>

<style lang="scss" scoped>
.card {
  height: 13rem;
  max-height: 10rem;

  & .card-body {
    background-position: right;
    background-size: cover;
    filter: grayscale(80%);
    background-image: url('~assets/img/shadow-blue.png');
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) 100ms;

    & .las {
      font-size: 2rem !important;
    }

    & .info {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;

      & .badge {
        font-size: 1.25rem;
      }
    }

    &.blue {
      filter: grayscale(0%);
    }
    &.green {
      filter: grayscale(0%);
      filter: hue-rotate(280deg);
    }
    &.purple {
      filter: grayscale(0%);
      filter: hue-rotate(45deg);
    }
    &.red {
      filter: grayscale(0%);
      filter: hue-rotate(130deg);
    }
  }
}
</style>
