<template functional>
  <div class="card bg-lighter">
    <div class="card-body text-default p-4 mt-1">
      <div class="content-center mt-5 mb-5">
        <slot name="icon"></slot>
        <p class="d-block display-6 ml-3 mb-0">
          {{ props.message }}
        </p>
      </div>

      <div class="d-block">
        <div class="text-center w-50 mx-auto mt-2 px-5">
          <slot></slot>
        </div>
      </div>
    </div>
    <div class="card-footer bg-light border-0">
      <nuxt-link
        :to="{ name: 'index' }"
        class="btn btn-light content-center d-inline-flex text-default rounded-pill"
      >
        <b-icon icon="chevron-left" font-scale="1.5" class="mr-2"></b-icon>
        Nastavi kupovinu
      </nuxt-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'StatusMessage',
  props: {
    message: {
      type: String,
      required: true,
    },
    icon: {
      type: String,
      required: false,
      default: '',
    },
  },
}
</script>
