<template>
  <div class="card shadow-sm">
    <div class="d-flex justify-content-center">
      <div class="badge badge-pill badge-success px-3 py-1 position-absolute">
        Administrator
      </div>
      <div class="card-profile-image position-relative">
        <img :src="user.avatar | avatar" class="rounded-circle" />
      </div>
    </div>

    <div class="card-header text-center border-0 pt-md-4 pb-0 pb-md-4 bg-white">
      <div class="d-flex justify-content-between">
        <a href="#" class="btns btn-info">Connect</a>
        <a href="#" class="btns btn-purple">Message</a>
      </div>
    </div>

    <div class="card-body mt-5 pl-5">
      <h1 class="card-title display-5">
        {{ user.name }}
      </h1>
      <h3 class="card-title font-weight-semibold">
        {{ user.email }}
      </h3>
      <small
        class="text-muted text-capitalize font-weight-semibold float-right mt-3 mb-n2"
        >{{ user.created_at | postedAgo }}</small
      >
    </div>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  filters: {
    postedAgo(created_at) {
      moment.locale('sr')
      return moment(new Date(created_at).valueOf()).fromNow()
    },
    truncate(string, value) {
      const desc = (string || '').substring(0, value)
      return desc.trim() + '…'
    },
    avatar(path) {
      return process.env.dev.storageUrl + path
    },
  },
  props: {
    user: {
      type: Object,
      required: true,
      default: null,
    },
  },
}
</script>

<style scoped lang="scss">
.card {
  margin: auto;
  min-width: 0;
  position: relative;
  opacity: 1;

  & div:hover:first-child .badge {
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    transform: translateY(-3px);
  }

  & .card-header {
    border-radius: 0.5rem 0.5rem 0 0;
  }

  .card-profile-image img {
    cursor: pointer;
    position: absolute;
    left: 50%;
    max-width: 150px;
    transition: all 0.15s ease;
    transform: translate(-50%, -40%);
    border-radius: 0.375rem;
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  }

  .badge {
    margin-top: 4rem;
    z-index: 5;
    cursor: pointer;
  }
}
</style>
