<template>
  <section class="swatch-300 py-5">
    <div class="container container-wider">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <aside class="col-md-3 text-center">
              <h6 class="text-center text-default">Kategorije</h6>
              <nav
                v-for="category in categories"
                :key="category._id"
                class="nav flex-column pt-2"
              >
                <nuxt-link
                  :to="'/category/' + category.slug"
                  class="nav-item text-default"
                >
                  <strong>
                    {{ category.name }}
                  </strong>
                </nuxt-link>
                <nuxt-link
                  v-for="child in category.childs"
                  :key="child._id"
                  class="nav-link text-default"
                  :to="'/category/' + child.slug"
                >
                  {{ child.name }}
                </nuxt-link>
              </nav>
            </aside>

            <div
              id="slider"
              class="col-md-9 col-xl-6 col-lg-6 carousel slide"
              data-ride="carousel"
            >
              <ol class="carousel-indicators">
                <li data-target="#slider" data-slide-to="0" class="active" />
                <li data-target="#slider" data-slide-to="1" />
                <li data-target="#slider" data-slide-to="2" />
              </ol>

              <div
                class="carousel-inner p-0 overflow-hidden rounded"
                style="max-height: 300px"
              >
                <div class="carousel-item active">
                  <figure class="figure">
                    <img
                      class="d-block h-100"
                      width="600px"
                      :src="storageUrl + 'featured/women.png'"
                    />
                  </figure>
                </div>

                <div class="carousel-item">
                  <figure class="figure">
                    <img
                      class="d-block h-100"
                      width="600px"
                      :src="storageUrl + 'featured/men.png'"
                    />
                  </figure>
                </div>

                <div class="carousel-item">
                  <figure class="figure">
                    <img
                      class="d-block h-100"
                      width="600px"
                      :src="storageUrl + 'featured/accessories.png'"
                    />
                  </figure>
                </div>
              </div>

              <a
                class="carousel-control-prev h1"
                href="#slider"
                role="button"
                data-slide="prev"
              >
                <i class="fad fa-chevron-left text-blue" />
                <span class="sr-only">Previous</span>
              </a>
              <a
                class="carousel-control-next h1"
                href="#slider"
                role="button"
                data-slide="next"
              >
                <i class="fad fa-chevron-right text-blue" />
                <span class="sr-only">Next</span>
              </a>
            </div>
            <div class="col-md d-none d-lg-block">
              <aside class="special-home-right">
                <!--<adsbygoogle ad-format="square" ad-slot="5120664894" />-->

                <adsbygoogle
                  v-if="$parent.ads"
                  :ad-style="{
                    width: '250px',
                    height: '300px',
                    display: 'block',
                  }"
                  ad-format="square"
                />
              </aside>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Carousel',
  props: {
    categories: {
      type: [Array, Object, Boolean],
      required: true,
      default: false,
    },
    storageUrl: {
      type: String,
      required: true,
      default: '',
    },
  },
}
</script>

<style scoped>
.card-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  background-size: cover;
  background-position: center center;
}
</style>
