<template functional>
  <footer class="section-footer border-top">
    <section class="container">
      <div class="footer-bottom">
        <div class="flex">
          <div class="row no-gutters">
            <div class="col">
              <img
                src="~/assets/img/logo.png"
                height="30px"
                class="align-self-center"
              />
            </div>
          </div>
        </div>
        <div class="flex">
          <h6 class="title">Informacije</h6>
          <ul class="list-unstyled">
            <li><nuxt-link :to="{ name: 'about' }">O nama</nuxt-link></li>
            <li>
              <nuxt-link :to="{ name: 'privacy' }">Privatnost</nuxt-link>
            </li>
            <li>
              <nuxt-link :to="{ name: 'terms' }">Uslovi korišćenja</nuxt-link>
            </li>
          </ul>
        </div>
        <div class="flex">
          <h6 class="title">Servisi</h6>
          <ul class="list-unstyled">
            <li><a href="#">Usluge</a></li>
            <li><a href="#">Pomoćni centar</a></li>
            <li><a href="#">24/7 podrška</a></li>
          </ul>
        </div>
        <div class="flex">
          <h6 class="title">Za Korisnike</h6>
          <ul class="list-unstyled">
            <li><a href="#"> Prijavljivanje </a></li>
            <li><a href="#"> Registracija </a></li>
            <li><a href="#"> Verifikacija</a></li>
          </ul>
        </div>
      </div>
      <!-- row.// -->
      <!-- footer-top.// -->

      <section class="footer-bottom border-top row">
        <div class="col-md-2">
          <p class="text-muted">© 2020 Obba Group</p>
        </div>
        <div class="col-md-8 text-md-center">
          <span class="px-2">info@obba.online</span>
          <!--<span class="px-2">+879-332-9375</span>
          <span class="px-2">Street name 123, Avanue abc</span>-->
        </div>
        <div class="col-md-2 text-md-right text-muted">
          <i class="fab fa-lg fa-cc-visa" />
          <i class="fab fa-lg fa-cc-paypal" />
          <i class="fab fa-lg fa-cc-mastercard" />
        </div>
      </section>
    </section>
    <!-- //container -->
  </footer>
</template>

<script>
export default {
  name: 'Footer',
}
</script>

<style scoped>
a:hover {
  text-decoration: none !important;
}
</style>
