<template>
  <section class="swatch-300 rounded mt-5 pt-5 pb-3 px-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <figure class="itemside">
            <div class="aside">
              <span class="icon-sm rounded-circle bg-primary">
                <i class="fa fa-money-bill-alt text-white" />
              </span>
            </div>
            <figcaption class="info">
              <h6 class="title">Reasonable prices</h6>
              <p class="text-muted small">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labor
              </p>
            </figcaption>
          </figure>
        </div>
        <div class="col-md-4">
          <figure class="itemside">
            <div class="aside">
              <span class="icon-sm rounded-circle bg-danger">
                <i class="fa fa-comment-dots text-white" />
              </span>
            </div>
            <figcaption class="info">
              <h6 class="title">Customer support 24/7</h6>
              <p class="text-muted small">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labor
              </p>
            </figcaption>
          </figure>
        </div>
        <div class="col-md-4">
          <figure class="itemside">
            <div class="aside">
              <span class="icon-sm rounded-circle bg-success">
                <i class="fa fa-truck text-white" />
              </span>
            </div>
            <figcaption class="info">
              <h6 class="title">Quick delivery</h6>
              <p class="text-muted small">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labor
              </p>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {}
</script>
