<template>
  <ProductGrid :loaded="loading">
    <template #breadcrumbs>
      <div v-if="category" class="swatch-300">
        <nav class="container px-0">
          <ol class="breadcrumb px-0">
            <li class="breadcrumb-item">
              <nuxt-link :to="{ name: 'index' }" class="text-default">
                Početna
              </nuxt-link>
            </li>
            <li v-if="parent" class="breadcrumb-item">
              <nuxt-link :to="'/category/' + parent.slug" class="text-default"
                >{{ parent.name }}
              </nuxt-link>
            </li>
            <li class="breadcrumb-item text-default" aria-current="page">
              <nuxt-link
                :to="'/category/' + category.slug"
                class="text-default"
              >
                <b>{{ category.name }}</b>
              </nuxt-link>
            </li>
          </ol>
        </nav>
      </div>
    </template>

    <template v-if="productStatus == false" #message>
      <StatusMessage message="Artikal nije pronađen.">
        <img
          src="~assets/img/cherry-list-is-empty-1.png"
          width="250"
          class="mx-auto"
        />
        <p class="lead pt-4">
          URL adresa nije validan ili artikal više nije u ponudi.
        </p>
      </StatusMessage>
    </template>

    <template v-else #product>
      <transition name="fadeInUp" appear>
        <ProductCard v-if="product" :product="product" :category="category" />
      </transition>
    </template>

    <template #details>
      <transition name="fadeInUp" appear>
        <ProductDescription v-if="product" :product="product" />
      </transition>
    </template>
    <template #vendor>
      <transition name="fadeInUp" appear>
        <ShopCard v-if="vendor" :vendor="vendor" />
      </transition>
    </template>

    <template #vendorDisplay>
      <div
        v-if="products !== false"
        class="d-flex flex-wrap flex-column justify-content-start w-100 mt-4"
      >
        <div class="flex-fill w-100 text-left">
          <h2 class="ml-2 my-3">Proizvodi od istog prodavača</h2>
        </div>
        <div class="position-relative w-100 text-left">
          <TinySlider v-bind="tinySliderOptions">
            <article
              v-for="(item, index) in products"
              :key="index"
              size="thumbnail"
              class="card mr-4 mt-2 mb-4"
              role="product"
            >
              <div
                class="card-img-top shadow-sm mb-2"
                :alt="item.name"
                :style="item.gallery[0].path | backgroundImage"
              />

              <div class="d-block overflow-hidden">
                <div style="width: 500px">
                  <nuxt-link
                    :to="'/product/' + item.name + '-' + item._id"
                    class="text-dark text-decoration-none stretched-link font-size-sm"
                  >
                    {{ item.name }}
                  </nuxt-link>
                </div>
                <div class="w-100 mt-1 font-size-md">
                  <p class="font-weight-semibold">
                    {{ item.price
                    }}<small class="mr-1 font-weight-semibold">,00</small>
                    {{ item.currency }}
                  </p>
                </div>
              </div>
            </article>
          </TinySlider>
        </div>
      </div>
    </template>
  </ProductGrid>
</template>

<script>
//import { mapMutations } from "vuex"

export default {
  name: 'Product',
  filters: {
    backgroundImage(path) {
      let fullPath = path.split('/')
      let fileName = fullPath[4].split('.')
      let name = fileName[0] + '-200x160.' + fileName[1]
      let resized = path.replace('obba-products', 'obba-products-resized')
      let pathNew = resized.replace(fullPath[4], name)

      if (pathNew.includes('obba.website')) {
        pathNew = path
      } else if (pathNew.includes('obba.test')) {
        //pathNew = path.replace("https://", "http://")
        pathNew = path.replace('obba.test', 'obba.website')
      }

      const style = {
        backgroundImage: 'url(' + path + ')',
      }

      return style
    },
  },
  layout: 'empty',
  data({ $config, $route }) {
    return {
      url: $config.appUrl + $route.fullPath,
      product: false,
      vendor: false,
      productStatus: true,
      products: false,
      coverImage: false,
      loading: true,
      tinySliderOptions: {
        mouseDrag: true,
        items: 5,
        swipeAngle: 45,
        nav: true,
        navPosition: 'bottom',
        rewind: true,
        autoplayButtonOutput: false,
        animateIn: 'animated fadeInLeft',
        animateOut: 'animated fadeOutLeft',
        slideBy: 5,
        autoplay: false,
        controlsText: [
          '<i class="fas fa-chevron-left text-default"></i>',
          '<i class="fas fa-chevron-right text-default"></i>',
        ],
      },
    }
  },
  head() {
    return {
      title: this.product.name + ' - Obba - Obba Shop',
      meta: [
        {
          hid: 'og:image',
          property: 'og:image',
          content: this.coverImage,
        },
      ],
    }
  },
  computed: {
    category() {
      return this.$store.getters['main/getById'](this.product.category_id)[0]
    },
    parent() {
      return this.$store.getters['main/getBySlug'](this.category.parent)[0]
    },
    gallery() {
      let data = []
      const slug = this.$route.params.id.split('-')
      const id = slug[slug.length - 1]
      const images = this.$store.getters['products/getById'](id)[0].gallery

      images.forEach((item, i) => {
        data.push({
          src: item.path,
          description: this.product.name,
          alt: this.product.description,
          thumbnailWidth: '50px',
          i: i,
        })
      })

      return data
    },
  },
  beforeDestroy() {
    this.vendor = false
    this.product = false
    this.products = false
  },
  beforeMount() {
    this.fetch()
  },
  mouted() {
    this.loading = false
  },
  methods: {
    changeCoverImage(id) {
      let path = this.product.gallery[id].path

      this.coverImage = path
    },
    async fetch() {
      try {
        const slug = this.$route.params.id.split('-')
        const id = slug[slug.length - 1]
        const res = await this.$store.dispatch('products/fetchProduct', id)
        const path = res.product.gallery[0].path

        if (res.itemCount > 0) {
          this.products = res.preview
        }

        this.vendor = res.shop
        this.product = res.product
        this.coverImage = path
      } catch (e) {
        //this.$sentry.captureException(e)
        this.productStatus = false
      }
      this.loading = false
    },
  },
}
</script>

<style scoped lang="scss">
.box img {
  max-width: 100%;
}
.img-sm,
.thumb-list img {
  width: 80px;
  height: 80px;
}
.img-xs,
.img-sm,
.img-md,
.img-lg {
  -o-object-fit: cover;
  object-fit: cover;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}
</style>
