<template>
  <ProductsGrid :loaded="loading">
    <template v-if="category" #breadcrumbs>
      <div class="swatch-300">
        <nav class="container px-5">
          <ol class="breadcrumb px-5">
            <li class="breadcrumb-item">
              <nuxt-link :to="{ name: 'index' }" class="text-default">
                Početna
              </nuxt-link>
            </li>
            <li v-if="parent" class="breadcrumb-item">
              <nuxt-link :to="'/category/' + parent.slug" class="text-default"
                >{{ parent.name }}
              </nuxt-link>
            </li>
            <li class="breadcrumb-item text-default" aria-current="page">
              <nuxt-link
                :to="'/category/' + category.slug"
                class="text-default"
              >
                <b>{{ category.name }}</b>
              </nuxt-link>
            </li>
          </ol>
        </nav>
      </div>
    </template>
    <template #sidebar>
      <div class="card-body p-0">
        <Filters
          :options="options"
          :brands="brands"
          :price-range="priceRange"
          @brand="filterBrands"
          @price="filterPrice"
          @option="filterOptions"
        />
      </div>
    </template>
    <template #content>
      <div class="card-header border-left px-3 py-2 bg-light">
        <SearchList :searchable="true" @sorted="sort" @search="search" />
      </div>
      <div class="card-body border-left pt-3 br-0 pl-3 pr-5">
        <div
          v-if="!results"
          class="d-flex align-items-center justify-content-center"
          style="min-height: 50vh"
        >
          <img
            src="~/assets/img/logo.png"
            class="m-auto rotating"
            height="75px"
          />
        </div>
        <div v-else class="d-flex align-items-center mt-0 mb-2">
          <h3 class="card-title text-default">Proizvodi</h3>
          <span class="badge badge-blue-light font-size-lg ml-3 mt-n3">
            {{ filtered.length }}
          </span>
        </div>
        <transition name="fadeInUp" appear>
          <div v-if="results">
            <ProductList v-if="show" :products="results[page]" />
            <div v-else class="d-flex flex-wrap justify-content-between">
              <AdWide
                v-for="product in results[page]"
                :key="product._id"
                size="small"
                :product="product"
              />
            </div>
            <Pagination :results="results" @page="changePage" />
          </div>
        </transition>
      </div>
    </template>
  </ProductsGrid>
</template>

<script>
export default {
  name: 'Category',
  layout: 'empty',
  data() {
    return {
      products: false,
      filtered: false,
      brands: false,
      priceRange: false,
      options: false,
      loading: true,
      searched: null,
      show: true,
      page: 0,
      totalPages: null,
      results: [],
      brandsFilter: [],
      price: null,
      optionsFilter: [],
      sortBy: {},
    }
  },
  computed: {
    category() {
      return this.$store.getters['main/getBySlug'](this.$route.params.slug)[0]
    },
    parent() {
      try {
        return this.$store.getters['main/getBySlug'](this.category.parent)[0]
      } catch (e) {
        return false
      }
    },
    isCurrentPage() {
      let current = this.$route.fullPath.split('#')
      if (this.page == current[1]) {
        return true
      }
      return false
    },
  },
  watch: {
    price: function () {
      this.filter()
    },
    brandsFilter: function () {
      this.filter()
    },
    optionsFilter: function () {
      this.filter()
    },
    filtered: function () {
      const products = this.filtered
      this.paginate(products)
    },
  },
  mounted() {
    this.fetch()
    if (!_.isEmpty(this.category)) {
      this.loading = false
    }

    this.$nextTick(() => {
      let current = this.$route.fullPath.split('#')
      if (!_.isEmpty(current[1]) && current[1] != 0) {
        this.page = current[1]
      }
    })

    this.loading = false
  },
  beforeDestroy() {
    this.products = false
    this.filtered = false
    this.results = false
  },
  methods: {
    search(search) {
      let results = this.products.filter((item) =>
        item.name.toLowerCase().includes(search.toLowerCase())
      )

      this.paginate(results)
    },
    async fetch() {
      try {
        this.loading = true
        const res = await this.$store.dispatch(
          'products/fetchByCategory',
          this.$route.params.slug
        )
        let products = res.products

        this.filtered = products
        this.products = products
        this.totalPages = Math.ceil(products.length / 15) - 1
        this.brands = res.brands
        this.priceRange = res.priceFilter
        this.options = res.options
      } catch (e) {
        console.log(e)
        // LOG ERROR
      }
      this.loading = false
    },
    filterBrands(brands) {
      this.brandsFilter = brands
    },
    filterPrice(price) {
      this.price = price
    },
    filterOptions(options) {
      this.optionsFilter = options
    },
    changePage(page) {
      this.page = page
    },
    paginate(list) {
      let pages = Math.ceil(list.length / 15)

      let results = []
      if (!_.isEmpty(list) && list.length > 15) {
        for (var i = 0; i < pages; i++) {
          results.push(list.slice(i * 15, (i + 1) * 15))
        }

        this.results = results
        return true
      }

      this.results = [list]
      return true
    },
    sort(rules) {
      let rule = rules[0]
      let type = rules[1]
      if (rule !== false && type !== false) {
        this.sortBy = {
          rule: rule,
          type: type,
        }
      } else {
        rule = this.sortBy.rule
        type = this.sortBy.sortType
      }

      let filtered = this.filtered
      let list = _.orderBy(filtered, [rule], [type])

      this.filtered = list
    },
    filter() {
      const products = this.products
      let brand = this.brandsFilter
      let price = this.price
      let options = this.optionsFilter

      let list = products

      if (brand.length > 0) {
        list = _.filter(products, function (item) {
          if (brand.includes(item.brand)) {
            return item
          }
        })
      }

      if (price !== null) {
        list = _.filter(list, function (item) {
          if (item.price >= price) {
            return item
          }
        })
      }

      if (options.length > 0) {
        list = _.filter(list, function (item) {
          return options.some((o) => item.options.includes(o))
        })
      }

      this.filtered = list
      this.sort([false, false])
    },
  },
}
</script>

<style scoped>
.card.expand {
  height: auto !important;
}
aside.filters .card:first-child {
  border-radius: 0.5rem 0.5rem 0rem 0rem !important;
}
aside.filters .card:nth-last-child(2) {
  border-radius: 0rem 0rem 0.5rem 0.5rem !important;
}
</style>
