@import "../../../node_modules/bootstrap/scss/badge";

@each $color, $value in $theme-colors {
    .badge-#{$color} {
        @include  badge-variant($value);
        color: #FFF !important;
        box-shadow: 1px 1px 5px rgba($value, 0.4);
        padding: .25em .5em;

        &:hover {
            @include  badge-variant($value);
        }
    }
}

@each $color, $value in $theme-colors {
    .badge-#{$color}-light {
        @include badge-variant(theme-color-level($color, -10));
        color: $value !important;
        box-shadow: 1px 1px 5px rgba($value, 0.1);
        padding: .25em .5em;
    }
}

@each $color, $value in $theme-colors {
    .tag-#{$color}-light {
        @include badge-variant(theme-color-level($color, -10));
        padding: 0.5rem 0.75rem;
        border-radius: $border-radius;
        @include font-size(.9em);
        font-weight: 600;
        transition: $transform-faster;
        color: $value;
        position: relative;
        border: 2px dashed rgba($value, .45);
        box-shadow: 1px 1px 5px rgba($value, 0.1) !important;
        opacity: .75;
        cursor: pointer;
        
        &.active,
        &:hover {
            opacity: 1;
        }

        &:after {
            content: '';
            position: absolute;
            left: -1px;
            top: -1px;
            right: -1px;
            bottom: -1px;
            border-radius: $border-radius;
            border: 1px solid theme-color-level($color, -10);
        }
    }
}

.dropdown.select {
    & .badge {
        text-align: left;
        cursor: pointer;
        width: auto;
        position: relative;
        font-size: .85rem;
        font-weight: 500;
        color: $default;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;

        & label {
            cursor: pointer;
        }

        & span {
            margin-top: 5px;
            margin-bottom: 0px;
            margin-right: 1.5rem;
            margin-left: 5px;
        }

        &:before {
            cursor: pointer !important;
            display: inline-block;
            content: "";
            background-image: url('data:image/svg+xml;utf-8,<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="%233e4f69" xmlns="http://www.w3.org/2000/svg"> <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/> </svg>');
            background-repeat: no-repeat;
            background-size: 1em 1em;
            position: absolute;
            right: 2px;
            top: 30%;
            width: 20px;
            height: 20px; 
            pointer-events: none;
            z-index: 100;
            margin-top: auto;
            margin-bottom: auto;
            opacity: .8;
        }
    }

    & .dropdown-container {
        width: 175px;
        height: 200px;
        
        & .select-item {
            text-decoration: none;;
        }

        & .select-item label, 
        & .select-item b {
            display: flex;
            width: 100%;
            color: $default;
            border: none;
            padding: 0 .5rem .5rem .85rem;
            margin: 0;
            cursor: pointer;
        }
            
        & .select-item label {
            font-weight: 400;
        }   
    }
}

.badge {
    cursor: default;
    text-transform: uppercase;
    font-size: 100%;
    padding: 0.25rem 0.45rem !important;

    &.badge-sm {
        font-size: 70%;
        padding: 0.25rem 0.45rem !important;
    }
    
    &.badge-md {
        font-size: 85%;
        padding: 0.3rem 0.5rem !important;
    }

    &.badge-lg {
        font-size: 125%;
        padding: 0.3rem 0.5rem !important;
    }
}

.badge-circle {
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0 !important;
    width: 1.35rem;
    height: 1.35rem;
    font-size: 0.8rem;
    font-weight: 600;
}

.badge-floating {
    position: absolute !important;
    padding: 0.3em 0.6em !important;
    right: -4px;
    top: -5px;
}