@import "../../../node_modules/bootstrap/scss/buttons";

// Generate alert modifier classes
@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @include button-variant(theme-color-level($color), #fff);
    border: 0px !important;
    box-shadow: 0 5px 14px rgba($value, 0.2), 0 3px 6px rgba($value, 0.15);

    &:hover {
      box-shadow: none;
    }
  }
}

// Generate alert modifier classes
@each $color, $value in $theme-colors {
  .btn-#{$color}-light {
    @include button-variant(theme-color-level($color, -11), $value);
    color: $value !important;
    height: 40px;
    text-shadow: 1px 1px 5px rgba($value, .25);  
    border: 0px !important;

    &:hover {
      box-shadow: 0 7px 14px rgba($value, 0.1), 0 3px 6px rgba($value, 0.08) !important;
    }
  }
}

.btn {
  padding: 0.3rem 1.3rem;
  height: 40px;
  line-height: 1;
  text-transform: uppercase;
  border-radius: $border-radius-7;
  @include font-size(0.85rem);
  font-weight: 600;
  transition: $transform-faster;
  text-decoration: none !important;
  cursor: pointer !important;

  &:focus,
  &.active,
  &:active {
    outline: none;
    box-shadow: none;
  }

  &.content-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & label {
    cursor: pointer;
    margin-left: 0.5rem;
    margin-top: auto;
    margin-bottom: auto;
  }

  & .icon {
    font-size: 1rem;
    padding: 0.5rem 0.8rem;
    z-index: 2;
    box-shadow: none;

    & i {
      font-size: 1.2rem;
    }
  }

  & i {
    vertical-align: middle;
    font-size: 1.1rem;
  }

  &.nav-item {
    @include font-size(1rem);
    font-weight: 500;

    & small {
      font-size: 75%;
      font-weight: 500;
    }
  }

  &.btn-link {
    box-shadow: none !important;
    color: $info !important;
    background-color: rgba(26, 115, 232, 0.035);

    &:hover {
      background-color: rgba(26, 115, 232, 0.075);
    }

    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: rgba(66, 133, 244, 0.15);
    }
  }
}

.input-group {
  border-radius: $border-radius-5;
  height: 40px;

  & button:first-of-type,
  & .input-group-prepend button:first-of-type,
  & .input-group-prepend select {
    border-radius: $border-radius-5 0 0 $border-radius-5;
  }

  & button:last-of-type,
  & .input-group-append button:last-of-type,
  & .input-group-prepend select {
    border-radius: 0 $border-radius-5 $border-radius-5 0;
  }

  & .btn {
   // height: 40px;
    border-radius: $border-radius;
  }

  & .custom-select,
  & .dropdown {
    height: 40px;
  }

  & .form-control {
    height: 38px;
  }
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.9rem;
  border-radius: 0.2rem;
}
