@import "../../../node_modules/bootstrap/scss/card";

@each $color, $value in $theme-colors {
    .card-#{$color}[role=message] {
        height: 400px !important;
        width: 900px !important;
        color: $value;
        background: rgba($value, .1) !important;
        border: 1px solid $value;
    }
}

.card {
    padding: 0px;
    border: 0px;
    transition: $transform;
    border-radius: $border-radius-7;
    box-shadow: $shadow-op;
    
    & .card-img-top,
    & .card-header {
        border-radius: $border-radius-7 $border-radius-7 0px 0px;
    }

    & .card-body {
        border-radius: $border-radius-7;
    }

    & .card-footer {
        border-radius: 0px 0px $border-radius-7 $border-radius-7;

        & .col-6:first-child .btn{
            border-radius: 0px 0px 0px $border-radius-7;
        }

        & .col-6:last-child .btn{
            border-radius: 0px 0px $border-radius-7 0px;
        }
    }

        & .price {
          font-weight: 500;
          font-size: 0.9rem;
        }
      
        & .price-wrap {
          line-height: 1.6;
        }
      
    &[size="thumbnail"] {
        background: transparent;
        margin-left: 5px;
          max-width: 12.5rem;
          height: 13rem;
          box-shadow: none !important;
          
          & .card-img-top {
              height: 10rem;
              background-size: cover;
              background-position: center;
              max-width: 100%;
              border-radius: $border-radius-7;
          }
        }

    &.filter {
        border-radius: 0;
        background: $body-bg;
        color: $default;
        box-shadow: none;

        &:first-of-type,
        &:first-of-type .card-header {
            border-radius: $border-radius-7 0 0 0 !important;
        }

        &:last-of-type {
            border-radius: 0 0 0 $border-radius-7 !important;
        }

        & .card-header {
            background: $body-bg;
            border-radius: 0.5rem !important;
            border: 0px !important;
        }
    }
}

.card {
    &.address {
        border: 2px solid #FFF;
        min-width: 20rem;
        width: 100%;
        vertical-align: middle;
    }

    &[role=featured-category] {
        max-width: 20rem;
        max-height: 11rem !important;
    }

    &[role=shop] {
        min-width: 25rem;
    }

    
    &.product,
    &[role=dashboard-tile] {
        will-change: transform;
        text-transform: none;
        
        &:hover {
            transform: translateY(-3px);
            box-shadow: $shadow-hv;
        }
    }

    &.product{
        box-shadow: none;

        & .card-subtitle {
            @include font-size(.85em);
            font-weight: 500;
        }

        & .card-title {
            @include font-size(.95em);
            line-height: 1.25em;
            font-weight: 500;
        }

        & .details {
            opacity: 0;
            animation: slideInUp;
            border-radius: .7rem 0px 0.7rem 0px;
        }

        &:hover {
            box-shadow: $shadow-op;

            & .details {
              opacity: 1;  
            }
        }
    }
}

.card-group {
    border-radius: $border-radius-7;

    & .card:first-of-type {
        border-radius: $border-radius-7 0 0 $border-radius-7 !important;
    }

    & .card:last-of-type {
        border-radius: 0 $border-radius-7 $border-radius-7 0 !important;
    }
}

.card[role=holder] {
    cursor: pointer;
    min-height: 5rem;
    height: auto;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    color: $default;
    vertical-align: middle;
    background: rgba($default, .1);
    border: 2px dashed rgba($default, .7);
        
    &:hover {
        color: $default;
        background: rgba($default, .18);
    }
 }


@each $color, $value in $theme-colors {
    [role=holder].card-#{$color} {
        color: $value;
        background: rgba($value, .09);
        border: 2px dashed rgba($value, .6);
        
        &:hover {
            color: $value;
            background: rgba($value, .15);
        }
    }
}