@import "../../../node_modules/bootstrap/scss/dropdown";

nav.dropdown {
    z-index: 1080 !important;

    & .btn {
        height: 40px;
    }
}

.dropdown-menu {
    border-radius: $border-radius-7;
    z-index: 9999;
    border: 0px;
    box-shadow: $shadow-op;
    animation: k .55s cubic-bezier(.23,1,.32,1);
    padding-left: .4rem;
    padding-right: .4rem;

    &.dropdown-lg {
        min-width: 22.5rem;
    }

    &.dropdown-md {
        min-width: 15rem;
    }

    & .dropdown-menu-right {
        left: auto!important;
        right: 0px!important;
    }

    & .dropdown-menu-left {
        right: auto!important;
        left: 0px!important;
    }
        
    & .dropdown-item {
        padding: .5rem 1rem;
        font-size: .9rem;
        transition: $transform-faster;
        border-radius: $border-radius-7;
        
        &:hover {
            transform: none;
            box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
            background: $gray-200;
        }
        
        &>i, &>svg {
            margin-right: 1rem;
            font-size: 1rem;
            vertical-align: -17%;
        }

        &.btn-danger-light:hover {
            @include button-variant(theme-color-level('danger', -11), $red);
            color: $red !important;
        }
        &.btn-blue-light:hover {
            @include button-variant(theme-color-level('blue', -11), $blue);
            color: $blue !important;
        }
    } 

    &.dropdown-grid {
        & .dropdown-item {
            overflow: hidden;
            text-align: center !important;
            justify-content: center;
            border-radius: $border-radius-7;

            &:hover {
                transform: none !important;
                background: rgba($default, .135);
                box-shadow: 0 7px 14px rgba(50,50,93,.05), 0 3px 6px rgba(0,0,0,.04);
            }

            & .las {
                font-size: 1.8rem !important;
            }
        }

        & .col-4 .dropdown-item,
        & .col-6 .dropdown-item {
            min-height: 5rem;
        }
    }
}


.dropdown.select {
    & .btn {
        text-align: left;
        cursor: pointer;
        width: auto;
        position: relative;
        padding: .5rem 1.5rem;
        font-weight: 500;
        color: $default;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;

        &:before {
            display: inline-block;
            content: "";
            background-image: url('data:image/svg+xml;utf-8,<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="%233e4f69" xmlns="http://www.w3.org/2000/svg"> <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/> </svg>');
            background-repeat: no-repeat;
            background-size: 1em 1em;
            position: absolute;
            right: 8px;
            top: 14px;
            width: 20px;
            height: 20px; 
            pointer-events: none;
            z-index: 100;
            margin-top: auto;
            margin-bottom: auto;
            opacity: .8;
        }
    }

    & .dropdown-container {
        width: 175px;
        height: 200px;
        
        & .select-item {
            text-decoration: none;;
        }

        & .select-item label, 
        & .select-item b {
            display: flex;
            width: 100%;
            color: $default;
            border: none;
            padding: 0 .5rem .5rem .85rem;
            margin: 0;
            cursor: pointer;
        }
            
        & .select-item label {
            font-weight: 400;
        }   
    }
}

.dropdown-menu:before {
    background: #fff;
    box-shadow: none;
    content: "";
    display: block;
    height: 16px;
    width: 16px;
    left: 5px;
    position: absolute;
    bottom: 100%;
    transform: rotate(-45deg) translateY(1rem);
    z-index: -5;
    border-radius: .2rem;
    display: none;
}


.dropdown-toggle:after {
    transition: all .3s ease!important;
    display: inline-block;
    margin-left: .5em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.dropdown-menu.show {
    width: fit-content;
    margin-top: 5px;
    bottom: unset!important;
    top: 100%!important;
    animation: j .3s cubic-bezier(.23,1,.32,1);
    transform: none!important;
    transition: height .35s ease;
}
