@import "../../../node_modules/bootstrap/scss/forms";

input {
    &.form-control {
        color: #8898aa;
        height: 42px;
        border-radius: $border-radius;
    }

    &.is-invalid {
        border-style: solid;
        border-width: thin;
        border-color: $red-light;
    }
    &.is-invalid ~ label {
        color: $red-light !important;
    }

    &.is-valid {
        border-style: solid;
        border-width: thin;
        border-color: $teal;
    }
    &.is-valid ~ label {
        color: $teal !important;
    }
}

.custom-control {
    cursor: pointer !important;
    color: $default;
}

.custom-control-label {
    cursor: pointer;
}

.form-control, .custom-select {
    box-shadow: 0 1px 3px rgba(50,50,93,.15), 0 1px 0 rgba(0,0,0,.02);
    color: #8898aa;
    height: 40px;
    border: 0;
    transition: box-shadow .15s ease;

    &:focus, &.focus,
    &:active, &.active {
        box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    }
}

.input-group-text {
    line-height: 1.6;
    border: 0px;
    box-shadow: 0 2px 4px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.custom-file {
    height: 40px;
    & .custom-file-input {
        height: 40px;
    }

    & .custom-file-label {
        height: 40px;
        border: 0;
        color: #8898aa;
        box-shadow: 0 2px 4px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
        
        &::after {
            line-height: 1.8;
            height: 100%;
            height: 40px;
        }
    }
}

.input-group > .form-control:not(:last-child), 
.input-group > .custom-select:not(:last-child) {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
}


.input-group-prepend .badge, 
.input-group-append .badge,
.input-group-prepend .tag, 
.input-group-append .tag,
.input-group-prepend .btn, 
.input-group-append .btn {
    box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
}

.btn-group-sm>.btn, .btn-sm {
    padding: .35rem .5rem;
    line-height: 1.3;
    border-radius: .25rem;
    font-size:  .7rem;

    & i {
        font-size: .95rem;
    }
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;

    & input {
        height: 42px;
    }

    select {
        height: 60px;
    }

    & textarea,
    & input,
    & label,
    & select {
        cursor: text;
        padding: var(--input-padding-y) var(--input-padding-x);
    }

    & select {
        cursor: auto;
    }

    & label {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 50;
        display: block;
        width: 100%;
        margin-bottom: 0;
        /* Override default `<label>` margin */
        line-height: 1.5;
        color: $gray;
        border: 1px solid transparent;
        border-radius: $border-radius-7/2;
        transition: all .1s ease-in-out;
    }
    
    & input::-webkit-input-placeholder,
    & textarea::-webkit-input-placeholder {
        color: transparent;
    }

    & input:-ms-input-placeholder,
    & textarea:-ms-input-placeholder {
        color: transparent;
    }

    & input::-ms-input-placeholder,
    & textarea::-ms-input-placeholder {
        color: transparent;
    }

    & input::-moz-placeholder,
    & textarea::-moz-placeholder {
        color: transparent;
    }

    & input::placeholder,
    & textarea::placeholder {
        color: transparent;
    }

    & input:not(:placeholder-shown),
    & textarea:not(:placeholder-shown) {
        padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * 3.5);
        padding-bottom: calc(var(--input-padding-y) * 2.5);
    }

    & select:not(:placeholder-shown) {
        padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * 2.5);
        padding-bottom: calc(var(--input-padding-y) * 1);
    }

    & input:not(:placeholder-shown)~label,
    & select:not(:placeholder-shown)~label,
    & textarea:not(:placeholder-shown)~label {
        padding-top: calc(var(--input-padding-y) / 3);
        padding-bottom: calc(var(--input-padding-y) / 3);
        @include font-size(.9rem);
        color: #777;
    }
}