@import "../../../node_modules/bootstrap/scss/list-group";

.nav.list-group {
    //background-color: $lighter;
    padding: .7rem 1.4rem;
    //box-shadow: 0 7px 14px rgba(50,50,93,.05), 0 3px 6px rgba(0,0,0,.04);
    max-width: fit-content;
    border-radius: $border-radius-7;

    & span.list-group-item {
        border-radius: $border-radius-7;
        align-items: center;
        background: transparent;
        transition: all .2s ease;
        text-decoration: none;
        border: 0px;
        text-transform: uppercase;
        @include font-size(.85rem);
        font-weight: 600;
    }

    & a.list-group-item {
        border-radius: $border-radius-7;
        align-items: center;
        background: transparent;
        transition: all .2s ease;
        text-decoration: none;
        border: 0px;
        text-transform: uppercase;
        @include font-size(.85rem);
        font-weight: 600;

        & i {
            @include font-size(1.6rem);
        }

        & img {
            transition: $transform-faster;
        }

        &:hover,
        &:active,
        &.active
        {
            z-index: 3;
            box-shadow: 0 7px 14px rgba(50,50,93,.05), 0 3px 6px rgba(0,0,0,.04);
            background: rgba($dark, .125);
        }
    }
}