@import "../../../node_modules/bootstrap/scss/modal";

.modal {
    transition: opacity 0.3s ease;

    & .modal-dialog {
       max-width: 650px;

        & .modal-content {
            box-shadow: 0 7px 14px rgba(27, 33, 117, 0.1), 0 3px 6px rgba(0, 0, 0, .08);
            text-transform: none;
            will-change: transform;
            border: 0px;
            box-shadow: $shadow-op;
            border-radius: $border-radius-7 !important;
            transition: all 0.3s ease;
        }

        & .modal-body {
            border-radius: $border-radius-7 !important;
        }
        
        & .modal-header {
            border-radius: $border-radius-7 $border-radius-7 0px 0px;
        }

        & .modal-footer {
            border-radius: 0px 0px $border-radius-7 $border-radius-7;
        }
    }
}