@import "../../../node_modules/bootstrap/scss/popover";

.popover {
    margin-left: -12.5rem;
    color: $default;
    border: 0;
    border-radius: $border-radius-7;
    box-shadow: $shadow-hv;

    & .arrow {
        left: 225px !important;
        
        &::before,
        &::after {
            border-radius: 1px;
            border-bottom-color: $body-bg;
        }

        &::after {
            border-top-color:  $body-bg;
        }
    }

    & .popover-header {
        background: $default;
        border-radius: $border-radius-7 $border-radius-7 0 0;
        color: #FFF;
        border: 0;
        font-weight: 500;

        &::before {
            border-bottom: 1px solid $default;
        }
    }

    & .popover-body {
        border-radius: 0 0 $border-radius-7 $border-radius-7;
        background: $body-bg;
        color: $default;
        border: 0;
        padding: .25rem .75rem .35rem .75rem;
        font-size: 1em;
    }
}