<template>
  <header
    v-if="!loading"
    aria-label="Obba"
    :class="[sticky ? 'position-sticky sticky-top' : '']"
  >
    <nav
      v-click-outside="hidePopover"
      aria-label="Navigacija"
      role="navigation"
      class="navbar bg-light shadow-op border-bottom py-0"
    >
      <div class="row content-center no-gutters w-100">
        <div class="col-2">
          <nuxt-link
            :to="{ name: 'index' }"
            class="navbar-brand"
            aria-label="Obba"
          >
            <img class="d-inline-flex" src="~/assets/img/logo.png" width="40" />
            <h2 class="d-none d-md-inline-flex secondary align-middle">
              <i>Obba</i>
            </h2>
          </nuxt-link>

          <CategoriesMenu v-if="categoriesExpanded" />
        </div>

        <div class="d-none d-lg-block col-lg-5 col-xl-5 order-3">
          <SearchForm />
        </div>

        <div class="col-10 col-lg-5 col-xl-5 order-2 order-lg-3">
          <div
            class="d-flex flex-nowrap justify-content-end justify-content-lg-between align-items-center w-100 h-100"
          >
            <CartDropdown v-if="cart" :cart="cart" />

            <div
              v-if="logged"
              class="content-center"
              role="navigation"
              aria-label="Kontrola i podešavanje naloga"
            >
              <IconButton
                v-if="!isOwner"
                aria-label="Otvori prodavnicu"
                class="icontext nav-item content-center text-decoration-none px-2"
                data-toggle="modal"
                data-target="#openShop"
                data-container="body"
                data-placement="bottom"
                data-hint="popover"
                title="Otvori prodavnicu"
                data-content="Jednim kliknom registruj svoju web prodavnicu i postani vidljiv na internetu!"
                @click="hidePopover()"
              >
                <img src="~/assets/icons/shop.png" width="30px" />
              </IconButton>

              <template v-else>
                <AddDropdown />
                <VendorDropdown />
                <Notifications v-if="orders" :orders="orders" />
              </template>

              <UserDropdown
                v-if="user"
                :avatar="avatar"
                :first-name="user.name | firstName"
              />
            </div>
            <template v-else>
              <Guest />
            </template>
          </div>
        </div>
      </div>
    </nav>
  </header>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'Navigation',
  filters: {
    firstName(str) {
      if (str != undefined) {
        let name = str.split(' ')
        return name[0]
      }
    },
  },
  props: {
    logged: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  data() {
    return {
      categoriesExpanded: false,
      loading: true,
      icons: 'color',
      // expand: expandIcon,
    }
  },
  computed: {
    user() {
      let data = this.$store.getters['getUser']
      if (data) {
        return data
      }
      return false
    },
    shop() {
      let data = this.$store.getters['shops/getMyShop']
      if (data) {
        return data
      }
      return false
    },
    orders() {
      return this.$store.getters['shops/getNewOrders']
    },
    avatar() {
      if (this.user) {
        return process.env.storageUrl + this.user.avatar
      }
      return process.env.storageUrl + 'users/default.png'
    },
    isOwner() {
      if (this.user.owner > 0) {
        return true
      }
      return false
    },
    ...mapState({
      myShop: (state) => state.shops.myShop,
      categories: (state) => state.main.nav,
      cart: (state) => state.main.cart,
      shopPopover: (state) => state.main.shopPopover,
    }),
    sticky() {
      let page = this.$route.name
      if (page == 'index') {
        return true
      }
      return false
      // return this.$route.params.name
    },
  },
  created() {
    if (this.shopPopover) {
      $(function () {
        $('[data-hint="popover"]').popover('show')
      })
    }
    this.loading = false
  },
  beforeMount() {
    this.hidePopover()
  },
  methods: {
    async logout() {
      await this.$auth.logout().then(() => {
        window.location = window.location.protocol + '/login'
      })
    },
    hidePopover() {
      this.$store.dispatch('main/toggleShopPopover')
      $('[data-hint="popover"]').popover('hide')
    },
  },
}
</script>

<style lang="scss">
.nav-item img {
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.2));
}
</style>
