<template>
  <div v-if="products" class="row row-cols-5">
    <div v-for="product in results" :key="product._id" class="d-flex col">
      <Ad :product="product" />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    products: {
      type: [Array, Boolean],
      required: true,
      default: false,
    },
  },
  data() {
    return {
      currentPage: 1,
      pageCount: null,
      productsPerPage: 15,
    }
  },
  computed: {
    results() {
      let results = null
      let productsPerPage = this.productsPerPage

      if (this.currentPage == 1) {
        results = this.products.slice(0, productsPerPage)
      } else {
        results = this.products.slice(
          this.currentPage * productsPerPage,
          this.currentPage * productsPerPage + productsPerPage
        )
      }
      return results
    },
  },
  mounted() {
    let productsPerPage = this.productsPerPage
    this.pageCount = Math.ceil(this.products.length / productsPerPage)
  },
  methods: {
    /*async pageChangeHandle(value) {
      switch (value) {
        case "next":
          this.currentPage += 1
          break
        case "previous":
          this.currentPage -= 1
          break
        default:
          this.currentPage = value
      }
      const { data } = await axios.get(
        `?country=us&page=${this.currentPage}&pageSize=${this.$options.static.visibleItemsPerPageCount}&category=business&apiKey=065703927c66462286554ada16a686a1`
      )
      this.articles = data.articles
    },*/
  },
}
</script>
