<template>
  <div class="overflow-hidden cs">
    <div class="cnt w-75">
      <nav
        class="d-flex nav list-group px-0 pl-3 pt-3 mw-100"
        aria-label="Kategorije"
      >
        <nuxt-link
          v-if="avatar"
          :aria-label="user.name"
          :to="{ name: 'user' }"
          class="d-flex list-group-item list-group-item-action px-sm-2 py-2 mb-3"
        >
          <img class="icon icon-xs rounded-circle" :src="avatar" width="50px" />
          <span class="d-none d-lg-block ml-3" :aria-label="user.name">
            {{ user.name }}
          </span>
        </nuxt-link>
        <nuxt-link
          v-for="(category, i) in categories"
          :key="i"
          :aria-label="category.name"
          :to="'/category/' + category.slug"
          class="d-flex list-group-item list-group-item-action pl-3 mb-1"
          prefetch
        >
          <!--<b-icon icon="truck" font-scale="1.5"></b-icon>-->
          <span class="d-none d-lg-block">{{ category.name }}</span>
        </nuxt-link>
      </nav>
      <nav class="nav list-group px-0 px-sm-3 py-2" aria-label="Kategorije">
        <span
          class="d-flex list-group-item list-group-item-action px-sm-2 mb-1"
        >
          <img src="~/assets/icons/bookmark.png" height="36px" />
          <span class="d-none d-lg-block ml-2">Omiljeno</span>
        </span>
      </nav>

      <!--<Footer />-->
    </div>
  </div>
</template>

<script>
export default {
  name: 'UserSidebar',
  props: {
    page: {
      type: [String, Boolean],
      required: false,
      default: false,
    },
    categories: {
      type: [Object, Array],
      required: true,
    },
  },
  computed: {
    avatar() {
      let url = process.env.storageUrl
      let user = this.$store.getters['getUser']
      if (!_.isEmpty(user)) {
        return url + user.avatar
      }
      return false
    },
    user() {
      let user = this.$store.getters['getUser']
      if (!_.isEmpty(user)) {
        return user
      }
      return false
    },
  },
}
</script>

<style lang="scss" scoped>
.sticky-top {
  z-index: 50 !important;
}
</style>
