<template>
  <section class="w-75">
    <div class="card bg-lighter">
      <div class="card-header bg-lighter border-0 pb-1">
        <h5>Dodaj proizvod</h5>
      </div>
      <div class="card-body text-default px-4 pb-2">
        <div class="row col-12">
          <p class="text small">
            <b>Osnovne informacije</b>
          </p>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="row px-3">
              <div class="col-6">
                <div class="form-group">
                  <label class="font-size-sm">Naziv</label>
                  <div class="form-label-group">
                    <input
                      id="name"
                      ref="name"
                      v-model="name"
                      type="text"
                      placeholder="Naziv"
                      autocomplete="off"
                      required="required"
                      class="form-control"
                    />
                    <label for="name">Naziv</label>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label class="font-size-sm">Proizvodjač</label>
                  <div class="form-label-group">
                    <input
                      id="brand"
                      ref="brand"
                      v-model="brand"
                      type="text"
                      placeholder="Proizvodjač"
                      autocomplete="off"
                      required="required"
                      class="form-control"
                    />
                    <label for="brand">Proizvodjač</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="category" class="font-size-sm"
                      >Kategorija</label
                    >
                    <select
                      v-model="category"
                      class="form-control"
                      value="Odaberi kategoriju"
                    >
                      <option
                        v-for="(cat, index) in categories"
                        :key="index"
                        :value="cat._id"
                      >
                        {{ cat.name }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="category" class="font-size-sm">Cena</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text border-0">
                          <b>RSD</b>
                        </span>
                      </div>
                      <input
                        id="price"
                        ref="price"
                        v-model="price"
                        type="number"
                        placeholder="1000"
                        autocomplete="off"
                        required="required"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12">
              <label for="gallery" class="font-size-sm">Slike proizvoda</label>
              <Dropzone
                id="gallery"
                ref="el"
                :awss3="awss3"
                :options="dropzoneOptions"
                :destroy-dropzone="true"
                class="alert alert-light-light dropzone"
                @vdropzone-sending-multiple="sendingEvent"
                @vdropzone-s3-upload-error="s3UploadError"
                @vdropzone-s3-upload-success="s3UploadSuccess"
                @vdropzone-queue-complete="addProduct"
              >
                <div class="text-center">
                  <p class="text-default">
                    <img src="~/assets/icons/cloud-upload.png" height="46px" />
                    <br />
                    <small>
                      Kliknite na polje ili prevucite slike preko njega da
                      dodate fotografije proizvoda.
                    </small>
                  </p>
                </div>
              </Dropzone>
            </div>

            <div class="col-12 mt-4 mb-2">
              <div class="custom-control custom-switch">
                <input
                  id="multipleOptions"
                  v-model="multipleOptions"
                  type="checkbox"
                  class="custom-control-input"
                />
                <label class="custom-control-label" for="multipleOptions">
                  Artikal ima više varijanti
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div v-if="multipleOptions" class="card-body bg-lightgray br-0 pb-1">
        <div class="row px-3">
          <div class="col-9">
            <div class="form-group">
              <label for="options" class="font-size-sm"> Varijante </label>
              <input-tag
                id="options"
                ref="options"
                v-model="options"
                name="options"
                autocomplete="off"
                placeholder="XL, L, M"
                required="required"
                class="form-control border-0"
              ></input-tag>
            </div>
          </div>
          <div class="col-3">
            <div class="form-group">
              <label for="totalUnits" class="font-size-sm">
                Ukupna Količina
              </label>
              <input
                id="totalUnits"
                ref="totalUnits"
                v-model="totalUnits"
                type="number"
                name="totalUnits"
                autocomplete="off"
                placeholder="Ukupno"
                required="required"
                class="form-control disabled border-0"
                disabled
              />
            </div>
          </div>

          <div v-if="options.length > 0" class="row col-12 px-3 mb-0 pb-0">
            <div
              v-for="(option, index) in options"
              :key="index"
              class="col-4 mb-1 form-group"
            >
              <label :for="'units-' + option" class="font-size-sm">
                Varijanta: <b>{{ option }}</b>
              </label>
              <div class="form-label-group">
                <input
                  :id="'units-' + option"
                  :ref="'units-' + option"
                  v-model="optionUnits[option]"
                  type="number"
                  placeholder="10"
                  min="1"
                  autocomplete="off"
                  required="required"
                  class="form-control"
                  @input="addOptionUnits(option)"
                />
                <label :for="'units-' + option">Količina</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-else class="card-body text-default px-4 pb-2">
        <div class="col-12">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label for="totalUnits" class="font-size-sm"> Količina </label>
                <input
                  id="totalUnits2"
                  ref="totalUnits2"
                  v-model="totalUnits"
                  type="number"
                  name="totalUnits"
                  autocomplete="off"
                  placeholder="Količina"
                  required="required"
                  class="form-control border-0"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-body text-default px-4 pb-2">
        <div class="col-12">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label for="tags" class="font-size-sm">Tagovi</label>
                <input-tag
                  id="tags"
                  ref="tags"
                  v-model="tags"
                  placeholder="Patike, Obuća"
                  name="tags"
                  class="form-control border-0"
                ></input-tag>
              </div>
            </div>

            <div class="col-12 mt-3">
              <div class="form-group">
                <label for="description" class="font-size-sm">Opis</label>
                <div class="form-label-group">
                  <textarea
                    id="description"
                    ref="description"
                    v-model="description"
                    placeholder="Opis"
                    autocomplete="off"
                    required="required"
                    class="form-control"
                  />
                  <label for="description">Opis</label>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group d-flex justify-content-end mt-3">
            <a
              role="button"
              href="#"
              name="submit"
              class="btn btn-blue rounded-pill"
              :class="{ disabled: status }"
              @click="publish"
            >
              <span
                v-if="status"
                class="spinner-border spinner-border-sm mr-2"
                role="status"
                aria-hidden="true"
              />
              Dodaj proizvod
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Publish',
  components: {
    Dropzone: () => import('nuxt-dropzone'),
  },
  data() {
    return {
      signurl: process.env.apiUrl + 'store',
      awss3: {
        headers: {
          Authorization: this.$store.$auth.$storage._state[
            '_token.password_grant'
          ],
        },
        params: {
          key: '',
        },
        sendFileToServer: false,
      },
      dropzoneOptions: {
        url: process.env.apiUrl + 'store',
        thumbnailWidth: 200,
        addRemoveLinks: true,
        autoProcessQueue: false,
        uploadMultiple: true,
      },
      imageFile: null,
      name: null,
      price: null,
      totalUnits: null,
      multipleOptions: false,
      options: [],
      optionUnits: {},
      brand: null,
      category: null,
      description: null,
      loading: true,
      error: false,
      products: false,
      status: false,
      tags: [],
      paths: [],
    }
  },
  computed: {
    categories() {
      let categories = this.$store.getters['main/getCategories']
      categories = categories.filter(
        (category) => category.parent != null || category.slug == 'aksesoari'
      )
      return [...categories]
    },
    shop() {
      let shop = this.$store.getters['shops/getMyShop']
      return shop
    },
  },
  watch: {
    options: function () {
      let options = this.options
      let units = this.optionUnits

      _.forEach(units, (unit, option) => {
        if (!options.includes(option)) {
          delete this.optionUnits[option]
        }
      })

      _.forEach(options, (option) => {
        if (!this.optionUnits[option]) {
          this.optionUnits[option] = null
        }
      })

      this.calTotalUnits()
    },
  },
  mounted() {
    this.loading = false
    this.$refs.el
    if (this.categories !== false) {
      this.category = this.categories[0]._id
    }
  },
  methods: {
    async sendingEvent(files, xhr, formData) {
      let r
      let name = this.name.split(' ').join('_')
      // eslint-disable-next-line no-undef
      _.forEach(files, function (file) {
        r = Math.random().toString(36).substring(2)
        formData.set('key', name + '-' + r + '-${filename}')
        formData.append('file', file)
      })
    },
    async publish() {
      if (this.signurl) {
        this.$refs.el.setAWSSigningURL(this.signurl)
        this.$refs.el.processQueue()
      }
    },
    s3UploadError(error) {
      this.error = error
    },
    s3UploadSuccess(location) {
      let path = {
        path: decodeURIComponent(location),
      }

      this.paths.push(path)
    },
    async addProduct() {
      try {
        let formData = new FormData()
        formData.append('name', this.name)
        formData.append('category', this.category)
        formData.append('shop', this.shop.info._id)
        formData.append('brand', this.brand)
        formData.append('optionUnits', JSON.stringify(this.optionUnits))
        formData.append('units', this.totalUnits)
        formData.append('price', this.price)
        formData.append('options', this.options)
        formData.append('path', JSON.stringify(this.paths))
        formData.append('tags', this.tags)
        formData.append('description', this.description)

        const res = await this.$axios.$post('product', formData, {
          headers: {
            'Content-Type': 'multipart/form-data',
          },
        })

        if (res.statusCode == 200) {
          this.$router.push('/product/' + this.name + '-' + res.data.$oid)
        }
      } catch (e) {
        this.error = e
      }
    },
    calTotalUnits() {
      let total = 0

      // eslint-disable-next-line no-undef
      _.forEach(this.optionUnits, function (unit) {
        if (unit !== null) {
          total = parseInt(total) + parseInt(unit)
        }
      })

      this.totalUnits = total
    },
    addOptionUnits(option) {
      let self = this.$refs['units-' + option][0]

      if (self.value | (0 == self.value) && self.value > 0) {
        self.classList.remove('is-invalid')
        this.optionUnits[option] = parseInt(self.value)
        this.calTotalUnits()
      } else {
        self.classList.add('is-invalid')
      }
    },
  },
}
</script>
