<template>
  <div class="d-flex pb-4">
    <a
      v-if="$parent.order.status > 0"
      href="#"
      role="button"
      class="btn btn-default-light rounded-pill content-center mr-3 disabled"
    >
      <b-icon icon="box-seam" font-scale="1.5" class="mr-2"></b-icon>
      U pripremi
    </a>
    <a
      v-if="$parent.order.status > 1"
      href="#"
      role="button"
      class="btn btn-default-light rounded-pill content-center mr-3 disabled"
    >
      <b-icon icon="truck" font-scale="1.5"></b-icon>
      Poslato
    </a>
    <a
      v-if="$parent.order.status > 2"
      href="#"
      role="button"
      class="btn btn-success rounded-pill content-center mr-3 text-white"
      @click.stop.prevent="updateOrderStatus(4)"
    >
      <b-icon icon="gift" font-scale="1.5" class="mr-2"></b-icon>
      Dostavljeno
    </a>
    <div v-if="isCanceled" class="alert alert-danger">
      <b-icon icon="slash-circle" font-scale="1.5" class="mr-2"></b-icon>
      Otkazana porudžbina
    </div>
    <a
      v-else
      href="#"
      role="button"
      class="btn rounded-pill content-center ml-auto"
      :class="[canCancel ? 'btn-danger-light disabled' : 'btn-danger']"
      @click.stop.prevent="updateOrderStatus(0)"
    >
      <b-icon icon="slash-circle" font-scale="1.5" class="mr-2"></b-icon>
      Otkaži
    </a>
  </div>
</template>

<script>
export default {
  name: 'UserActions',
  computed: {
    isCanceled() {
      if (this.$parent.order.status === 0) {
        return true
      }
      return false
    },
    onHold() {
      if (this.$parent.order.status === 1) {
        return true
      }
      return false
    },
    isAccepted() {
      if (this.$parent.order.status === 2) {
        return true
      }
      return false
    },
    isSent() {
      if (this.$parent.order.status >= 3) {
        return true
      }
      return false
    },
    isDelivered() {
      if (this.$parent.order.status === 4) {
        return true
      }
      return false
    },
    canCancel() {
      if (this.$parent.order.status > 3) {
        return true
      }
      return false
    },
  },
  methods: {
    async updateOrderStatus(newStatus) {
      const data = {
        _id: this.$parent.order._id,
        status: newStatus,
      }

      const res = await this.$store.dispatch('owner/updateOrderStatus', data)
      this.$parent.order = res
    },
  },
}
</script>
