<template>
  <div v-if="order" class="card p-0">
    <div class="card-header bg-lighter border-0">
      <div class="d-flex justify-content-between">
        <h5 class="d-flex card-title mb-0 align-items-center">
          Porudžbina
          <small class="d-flex ml-4"> #{{ order._id }} </small>
        </h5>
        <small class="ml-4 text-muted d-flex align-items-center">
          <i class="las la-calendar-day mr-1"></i>
          {{ order.created_at }}
        </small>
      </div>
    </div>

    <div class="card-body pt-2 pb-4">
      <UserActions />
      <div class="row row-cols-3">
        <OrderItem
          v-for="(item, index) in order.order"
          :key="index"
          :order="item"
          class="col-md-4"
        />
      </div>

      <div v-if="detailed" class="card-body bg-light w-100 px-4">
        <h5 class="d-flex card-title mb-4 align-items-center">
          Informacije o porudžbini
        </h5>
        <p><i class="font-weight-bold">Adresa</i>: {{ order.address }}</p>
        <p>
          <i class="font-weight-bold">Kontakt telefon</i>: {{ order.phone }}
        </p>
        <p class="font-weight-bold m-0 mt-3"><i>Komentar</i></p>
        {{ order.comment }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: {
      type: [Object, Array],
      required: true,
      default: null,
    },
    detailed: {
      type: Boolean,
      required: false,
      default: true,
    },
  },
  data() {
    return {
      order: false,
    }
  },
  mounted() {
    this.order = this.data
  },
}
</script>
