<template>
  <div class="container-fluid h-100 w-100 p-0">
    <InstallPrompt />
    <Navigation v-if="!loading" :logged="loggedIn" />
    <nuxt />
    <OpenShop v-if="canOpenShop" />
    <!--<Footer v-if="!loading" />-->
  </div>
</template>

<script>
export default {
  name: 'Default',
  data() {
    return {
      canOpenShop: false,
      loading: true,
      ads: false,
      listenersStarted: false,
      permissionGranted: false,
      idToken: '',
    }
  },
  computed: {
    loggedIn() {
      return this.$auth.$state.loggedIn
    },
    user() {
      return this.$store.getters['getUser']
    },
    categories() {
      return this.$store.getters['main/getCategories']
    },
  },
  mounted() {
    this.init()
    /*if (this.loggedIn) {
      this.$echo.channel(`user.${this.user.id}`).on("OrderReceived", (e) => {
        console.log(e)
      })
    }*/
  },
  methods: {
    async init() {
      if (_.isEmpty(this.categories)) {
        await this.$store.dispatch('main/loadCategories')
      }
      if (_.isEmpty(this.user) && this.loggedIn === true) {
        await this.$store.dispatch('fetchUser')
      }
      if (!_.isEmpty(this.user)) {
        if (this.user.owner > 0) {
          this.canOpenShop = false
          await this.$store.dispatch('shops/fetchShop')
        }
        this.canOpenShop = true
      }

      this.loading = false
    },
  },
}
</script>
