<template>
  <div class="container p-5">
    <div class="card d-flex justify-content-center overflow-hidden">
      <img src="~assets/img/fogg-page-not-found-1.png" class="card-img" />

      <div class="card-img-overlay">
        <div
          v-if="error.statusCode === 404"
          class="ml-3 mt-2 w-50 text-align-right"
        >
          <h1 class="card-title">Page Not Found</h1>
          <p class="card-text">
            We can't find the page you're looking for.You can either return to
            the previous page,visit our homepage or contact our support team.
          </p>
          <nuxt-link to="/"> Home page </nuxt-link>
        </div>
        <div v-else class="ml-3 mt-2 w-50 text-align-right">
          <h1 class="card-title">An error occurred</h1>
          <p class="card-text">
            {{ error.message }}
          </p>
          <nuxt-link to="/"> Home page </nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    error: {
      type: Object,
      required: true,
      default: null,
    },
  },
}
</script>

<style scoped>
.card {
  margin: auto;
  max-height: 500px;
  max-width: 900px;
}
</style>
