<template>
  <div>
    <div class="container-fluid home">
      <div class="container container-wider">
        <div class="text-left intro text-default">
          <div
            style="padding-top: 7%; text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2)"
          >
            <h1>Šta je <i id="brand">Obba</i> Shop?</h1>
            <br />
            <p style="font-size: 1.5rem; font-weight: 600">
              <i id="brand">Obba</i> Shop je sve što ti je potrebno da
              samostalno započneš online prodaju.
            </p>
            <br />
            <p>
              Naša ecommerce platforma ti nudi mnoštvo korisnih alata kojima
              možeš da upravljaš<br />
              svojom online prodajom, potreban ti je računar, internet i dobra
              volja.
              <br /><br />
              A što je najvažnije mi smo uvek tu da ti pomognemo,<br />
              jednostavno nas kontaktiraju ukoliko ti je potrebna bilo kakva
              pomoć!
            </p>
            <br /><br />
            <div class="form-row">
              <a
                data-toggle="modal"
                data-target="#showMedia"
                class="btn btn-default text-white d-flex align-items-center px-4"
              >
                <i class="las la-play-circle mr-2"></i>
                POGLEDAJ VIDEO
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container container-wider">
      <div class="heading my-5 text-center">
        <h1 class="text-secondary">FOKUSIRAJTE SE NA PRODAJU</h1>
        <h5 style="font-weight: 600">Mi se brinemo za sve ostalo!</h5>
      </div>
      <br />
      <div class="row mb-5">
        <div class="col-6">
          <img src="../assets/img/start-small.png" class="mr-5" align="left" />
        </div>
        <div
          class="col-6 d-flex flex-column text-left align-items-start justify-content-center pl-5"
        >
          <h2>
            <span class="text-secondary">Započni —</span><br />
            svoj online biznis
          </h2>
          <p class="my-5">
            Odaberi naziv prodavnice, napravi brend I započni prodaju!<br />
            A ako želiš da podigneš svoj biznis na viši nivo,<br />
            iskoristi neke od naših alata za to.
          </p>
          <a href="#" class="text-secondary">
            Alatke za razvijanje biznisa<i
              class="fal fa-long-arrow-right ml-2"
            ></i>
          </a>
        </div>
      </div>
      <div class="row my-5">
        <div
          class="offset-2 col-4 d-flex flex-column text-left align-items-middle justify-content-center pr-5"
        >
          <h2>
            <span class="text-secondary">Reklamiraj —</span><br />
            na društvenim mrežama
          </h2>
          <p class="my-5">
            Obba Shop olakšava reklamiranje proizvoda<br />
            na društvenim mrežama sa jednog<br />
            centralizovanog mesta—Vaše prodavnice!
          </p>
          <a href="#" class="text-secondary">
            Saznajte prednosti Obba platforme<i
              class="fal fa-long-arrow-right ml-2"
            ></i>
          </a>
        </div>
        <div class="col-6">
          <img
            src="../assets/img/sell-on-insta.png"
            class="ml-5"
            align="right"
          />
        </div>
      </div>
    </div>
    <div class="container-fluid bg-default text-white">
      <div class="container container-wider text-center py-5">
        <h2>Pokrenite Vaš biznis već danas!</h2>
        <nuxt-link
          to="/register"
          class="btn btn-light align-items-center text-default mt-3 px-3"
        >
          <i class="fad fa-store mr-3"></i>
          OTVORI PRODAVNICU
        </nuxt-link>
      </div>
    </div>
    <Media video="https://www.youtube.com/embed/M3UpMyApgIA" />
  </div>
</template>

<script>
export default {
  name: 'About',
}
</script>

<style scoped>
#brand {
  font-family: 'Segoe UI', sans-serif;
  font-weight: 700;
}
h1 {
  font-size: 34px;
  font-weight: 600;
}
.home {
  background: #cad1dc;
}
.home img {
  position: relative;
  bottom: 0;
}
.intro {
  background-image: url(../assets/img/obba-online-shop.png);
  min-height: 550px;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 40%;
}
input,
button {
  border-radius: 7px !important;
}
.heading h1 {
  font-weight: 700;
}
</style>
