<template>
  <ReverseSidebarGrid :loaded="loading">
    <template #sidebar>
      <!--<div class="card mb-3">
              <div class="card-body">
                <form>
                  <label>Imaš kupon?</label>
                  <div class="form-label-group w-100">
                    <div class="input-group">
                      <input
                        id="coupon"
                        ref="coupon"
                        v-model="coupon"
                        placeholder="Kupon"
                        autocomplete="off"
                        required="required"
                        class="form-control"
                        pattern="([^\s][A-z0-9À-ž\s]+)"
                      />
                      <label for="coupon">Kupon</label>
                      <span class="input-group-append">
                        <button class="btn btn-primary">
                          Primeni
                        </button>
                      </span>
                    </div>
                  </div>
                </form>
              </div>
            </div>-->

      <div class="card bg-lighter">
        <div class="card-body pb-1">
          <dl class="dlist-align">
            <dt>Ukupna cena:</dt>
            <dd>
              {{ items | totalPrice }}
              RSD
            </dd>
          </dl>
          <hr />
          <div class="text-center mb-3">
            <img src="~/assets/img/payments.png" height="26" />
          </div>
        </div>
      </div>
    </template>
    <template v-if="ordered" #content>
      <Checkout />
    </template>
    <template v-else #content>
      <StatusMessage v-if="products.length < 1" message="Korpa je prazna">
        <template #icon>
          <b-icon icon="cart-x" font-scale="2.5"></b-icon>
        </template>
      </StatusMessage>
      <Preview v-else-if="step == 0" :user="user" @step="changeStep" />
      <CustomerDetails
        v-else-if="step == 1"
        :user="user"
        :default-address="defaultAddress"
        @details="details"
        @step="changeStep"
      />
    </template>

    <AddAddress v-if="user" />
  </ReverseSidebarGrid>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'Cart',
  filters: {
    totalPrice(items) {
      let totalPrice = 0
      Object.keys(items).forEach((i) => {
        totalPrice += items[i].price
      })
      return totalPrice
    },
  },
  layout: 'empty',
  data() {
    return {
      step: 0,
      customerDetails: false,
      loading: true,
      coupon: '',
      ordered: false,
      defaultAddress: false,
    }
  },
  computed: {
    ...mapState({
      products: (state) => _.uniqBy(state.main.cart, '_id'),
      items: (state) => state.main.cart,
    }),
    user() {
      return this.$store.getters['getUser']
    },
  },
  mounted() {
    this.init()
    this.loading = false
  },
  methods: {
    async init() {
      if (this.user) {
        try {
          await this.$store.dispatch('fetchAddress')
          this.defaultAddress = this.$store.getters['getDefaultAddress']
          this.loading = false
        } catch (e) {
          console.log(e)
        }
      }
    },
    details(details) {
      this.step = 2
      this.customerDetails = details
      this.order()
    },
    changeStep(step) {
      this.step = step
    },
    async order() {
      let order = { order: this.items }

      if (this.defaultAddress) {
        order['address'] = this.defaultAddress
        order['user_id'] = this.user.id
      } else if (this.city && this.street && this.number && this.postalCode) {
        order['address'] = {
          city: this.customerDetails.city,
          street: this.customerDetails.street,
          number: this.customerDetails.number,
          postal_code: this.customerDetails.postalCode,
          user_id: this.user.id,
        }
      } else {
        return false
      }

      order['comment'] = this.customerDetails.comment
      order['phone'] = this.customerDetails.phone

      this.ordered = true
      await this.$store.dispatch('main/finishOrder', order)
    },
  },
}
</script>
