<template>
  <SidebarGrid :loaded="loading">
    <template #sidebar>
      <!--<VendorSidebar :page="page" />-->
    </template>

    <template #content>
      <keep-alive>
        <Product v-if="page == 'product'" />
      </keep-alive>
    </template>
  </SidebarGrid>
</template>

<script>
export default {
  layout: 'empty',
  middleware: 'auth',
  data() {
    return {
      page: 'product',
      loading: true,
      error: false,
    }
  },
  computed: {
    user() {
      let data = this.$store.getters['getUser']
      if (data) {
        return data
      }
      return false
    },
  },
  watch: {
    '$route.hash': {
      handler: function (hash) {
        if (!_.isEmpty(hash) && hash != '')
          this.page = hash.replace('/', '').replace('#', '')
      },
      deep: true,
      immediate: true,
    },
  },
  mounted() {
    //  this.init()
    this.loading = false
  },
  methods: {
    async init() {
      try {
        const res = await this.$store.dispatch('shops/fetchShop')
        this.shop = res.data.shop
      } catch (e) {
        this.error = e
      }
    },
  },
}
</script>
