<template>
  <SidebarGrid v-if="shop != false" :loaded="loading">
    <template #sidebar>
      <VendorSidebar :page="page" />
    </template>

    <template #content>
      <Dashboard
        v-if="page == 'dashboard'"
        :user="user"
        :products="shop.products.length"
        :orders="shop.orders.length"
        :active-orders="activeOrders.length"
      />
      <Products v-if="page == 'products'" :products="shop.products" />
      <VendorOrders v-if="page == 'orders'" :orders="shop.orders" />
      <OrderReceipt v-if="page.includes('order-')" :orders="shop.orders" />
      <VendorSettings v-if="page == 'settings'" :shop="shop" />
    </template>
  </SidebarGrid>
</template>

<script>
export default {
  layout: 'empty',
  middleware: 'auth',
  data() {
    return {
      order: false,
      page: 'dashboard',
      shop: false,
      loading: true,
      error: false,
    }
  },
  computed: {
    user() {
      return this.$store.getters['getUser']
    },
  },
  watch: {
    '$route.hash': {
      handler: function (hash) {
        if (!_.isEmpty(hash) && hash != '') {
          this.page = hash.replace('/', '').replace('#', '')
          // this.page = page.split("-")[0] ?? page
        }
      },
      deep: true,
      immediate: true,
    },
  },
  mounted() {
    this.init()
    this.loading = false
  },
  methods: {
    async init() {
      try {
        const res = await this.$store.dispatch('shops/fetchShop')
        this.shop = res.data.shop
      } catch (e) {
        this.error = e
      }
    },
    viewOrder(order) {
      this.page = 'order'
      this.order = order
    },
  },
}
</script>
