<template>
  <section class="container-fluid p-0">
    <div v-if="loading" class="preloader">
      <img src="~/assets/img/logo.png" class="rotating" height="75px" />
    </div>
    <div v-else class="row no-gutters w-100">
      <aside class="d-none d-md-inline-block col-2">
        <Sidebar :categories="categories" />
      </aside>
      <div v-scroll="handleScroll" class="col-12 col-md-7 h-100">
        <div class="d-flex flex-column w-100 pt-4 px-0">
          <h1 class="h5 font-weight-bold text-default mb-2">
            Popularne Kategorije
          </h1>
          <div
            class="d-inline-flex flex-wrap justify-content-center justify-content-md-start mb-5"
          >
            <nuxt-link
              to="category/odeca"
              class="media align-items-center bg-danger-faded rounded-lg py-0 px-3 mr-3 mb-3 text-decoration-none"
              style="width: 19rem; height: 9rem"
            >
              <img src="~/assets/img/img1.png" width="125" alt="Banner" />
              <div class="media-body py-3 pl-4 text-default">
                <h5 class="mb-2">
                  <span class="font-weight-light">Next Gen</span><br />Video
                  <span class="font-weight-light">with</span><br />360 Cam
                </h5>
                <p
                  class="content-center justify-content-start text-danger font-size-sm mb-0"
                >
                  Shop now<b-icon
                    icon="chevron-right"
                    class="font-size-xs ml-1"
                  ></b-icon>
                </p>
              </div>
            </nuxt-link>

            <nuxt-link
              to="/category/obuca"
              class="media align-items-center bg-primary-faded rounded-lg py-0 px-3 mr-3 mb-3 text-decoration-none"
              style="width: 19rem; height: 9rem"
              ><img src="~/assets/img/img2.png" width="125" alt="Banner" />
              <div class="media-body py-4 pl-4 text-default">
                <h5 class="mb-2">
                  <span class="font-weight-light">Top Rated</span
                  ><br />Gadgets<br /><span class="font-weight-light"
                    >are on </span
                  >Sale
                </h5>
                <p
                  class="content-center justify-content-start text-primary font-size-sm mb-0"
                >
                  Shop now<b-icon
                    icon="chevron-right"
                    class="font-size-xs ml-1"
                  ></b-icon>
                </p>
              </div>
            </nuxt-link>

            <nuxt-link
              to="/category/aksesoari"
              class="media align-items-center bg-success-faded rounded-lg py-0 px-3 mr-3 mb-3 text-decoration-none"
              style="width: 19rem; height: 9rem"
            >
              <img src="~/assets/img/img3.png" width="125" alt="Banner" />
              <div class="media-body py-4 pl-4 text-default">
                <h5 class="mb-2">
                  <span class="font-weight-light">Catch Big</span><br />Deals
                  <span class="font-weight-light">on</span><br />Earbuds
                </h5>
                <p
                  class="content-center justify-content-start text-success font-size-sm mb-0"
                >
                  Shop now<b-icon
                    icon="chevron-right"
                    class="font-size-xs ml-1"
                  ></b-icon>
                </p>
              </div>
            </nuxt-link>
          </div>

          <h1 class="h5 font-weight-bold text-default mb-2">Novi Proizvodi</h1>
          <!--<adsbygoogle ad-format="vertical" ad-slot="3149301196" />-->
          <!--<adsbygoogle v-if="$parent.ads" ad-format="horizontal" />-->
          <main
            v-if="products"
            class="row row-cols-1 row-cols-md-2 row-cols-lg-4 pl-0 pr-0 pr-md-5"
            role="feed"
            aria-busy="false"
            aria-label="Proizvodi"
          >
            <div
              v-for="product in products"
              :key="product._id"
              class="d-flex col"
              role="article"
            >
              <Ad
                :product="product"
                size="default"
                class="mx-auto"
                :aria-label="product.name"
              />
            </div>
          </main>
          <div
            v-if="$store.getters['products/isLoading']"
            class="d-flex h1 text-dark has-text-weight-semibold justify-content-center"
          >
            <img
              src="~/assets/img/logo.png"
              class="m-auto rotating"
              height="75px"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Index',
  scrollToTop: true,
  data() {
    return {
      page: 0,
      loading: true,
      storageUrl: process.env.storageUrl,
    }
  },
  computed: {
    products() {
      return this.$store.getters['products/get'].slice(0, 20)
    },
    categories() {
      return this.$store.getters['main/getCategories']
    },
  },
  mounted() {
    this.fetchProducts()
  },
  methods: {
    async fetchProducts() {
      await this.$store.dispatch('products/load')
      this.loading = false
    },
    handleScroll: function () {
      let scrolled = $(window).scrollTop()
      let toBottom = $(window).scrollTop() + $(window).height()
      let toTop = $(window).height() - $(window).scrollTop()

      if ($(window).scrollTop() > 700) {
        this.sticky = true
      } else if (scrolled < 700) {
        this.sticky = false
      }
    },
  },
}
</script>
