<template lang="html">
  <div class="container-fluid d-flex justify-content-center">
    <div class="card bg-light shadow">
      <div class="card-header bg-white border-0">
        <div class="text-center pb-3">
          <nuxt-link :to="{ name: 'index' }" aria-label="Obba">
            <img
              src="~/assets/img/logo.png"
              alt="Logo"
              width="100px"
              class="mb-4"
            />
          </nuxt-link>

          <h1 class="d-inline display-5">
            <span class="ml-4 mr-4 font-weight-lighter">|</span>
            Prijava
          </h1>
        </div>
      </div>

      <Notification v-if="error" :message="error" />

      <div class="card-body pt-5" @keyup.enter="login">
        <div class="form-label-group">
          <input
            id="email"
            v-model="email"
            type="email"
            placeholder="Email"
            autocomplete="off"
            required="required"
            class="form-control"
          />
          <label for="email">Email</label>
        </div>

        <div class="form-label-group">
          <input
            id="password"
            v-model="password"
            type="password"
            placeholder="Lozinka"
            autocomplete="off"
            required="required"
            class="form-control"
          />
          <label for="password">Lozinka</label>
        </div>

        <div class="d-flex justify-content-between mb-5">
          <div class="form-check pl-0">
            <div class="custom-control custom-checkbox">
              <input
                id="remember"
                class="custom-control-input"
                type="checkbox"
              />
              <label for="remember" class="custom-control-label"
                >Zapamti me?</label
              >
            </div>
          </div>

          <nuxt-link
            :to="{ name: 'reset' }"
            class="d-flex"
            aria-label="Zaboravljena lozinka"
          >
            Zaboravljena lozinka?
          </nuxt-link>
        </div>

        <div class="form-row justify-content-center">
          <div class="col-auto">
            <button
              class="btn btn-primary rounded-pill"
              :class="{ disabled: status }"
              aria-label="Prijavi se"
              @click="login"
            >
              <span
                v-show="status"
                class="spinner-border spinner-border-sm mr-2"
                role="status"
                aria-hidden="true"
              />
              Prijavi se
            </button>
          </div>
          <div class="col-auto">
            <nuxt-link
              :to="{ name: 'register' }"
              class="btn btn-default-light rounded-pill text-decoration-none"
              aria-label="Registruj se"
            >
              Registruj se
            </nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Login',
  layout: 'empty',
  middleware: 'guest',
  data() {
    return {
      email: '',
      password: '',
      error: null,
      status: false,
    }
  },
  methods: {
    async login() {
      this.status = true
      try {
        const data = { email: this.email, password: this.password }
        await this.$auth.loginWith('password_grant', { data: data })
        this.$router.push('/')
      } catch (e) {
        this.status = false
        this.error = e.response.statusText
      }
    },
  },
}
</script>

<style scoped>
.container-fluid {
  height: 100vh;
  background: url('~assets/svg/icons-background.svg?inline') center no-repeat;
}
.card {
  margin: auto;
  cursor: initial;
  width: 475px;
}
.card-header {
  padding-top: 3rem;
}
.card-body {
  padding: 0rem 2.5rem 2rem;
}
</style>
