<template lang="html">
  <div class="container-fluid d-flex justify-content-center">
    <div class="card bg-light shadow">
      <div class="card-header bg-white border-0">
        <div class="text-center pb-3">
          <nuxt-link :to="{ name: 'index' }">
            <img
              src="~/assets/img/logo.png"
              alt="Logo"
              width="100px"
              class="mb-4"
            />
          </nuxt-link>

          <h1 class="d-inline display-5">
            <span class="ml-4 mr-4 font-weight-lighter">|</span>
            Registracija
          </h1>
        </div>
      </div>

      <Notification v-if="error" :message="error.message" />

      <div class="card-body pt-4" @keyup.enter="register">
        <div class="form-row mt-4">
          <div class="col">
            <div class="form-label-group">
              <input
                id="fname"
                v-model="fname"
                type="text"
                placeholder="Ime"
                autocomplete="off"
                required="required"
                class="form-control"
                :class="{ 'is-invalid': error.name }"
              />
              <label for="fname">Ime</label>
            </div>
          </div>
          <div class="col">
            <div class="form-label-group">
              <input
                id="lname"
                v-model="lname"
                type="text"
                placeholder="Prezime"
                autocomplete="off"
                required="required"
                class="form-control"
                :class="{ 'is-invalid': error.name }"
              />
              <label for="lname">Prezime</label>
            </div>
          </div>
        </div>

        <div class="form-label-group">
          <input
            id="email"
            v-model="email"
            type="email"
            placeholder="Email"
            autocomplete="off"
            required="required"
            class="form-control"
            :class="{ 'is-invalid': error.email }"
          />
          <label for="email">Email</label>
        </div>

        <div class="d-inline-flex w-100 align-items-center">
          <div class="form-label-group w-100">
            <input
              id="username"
              ref="username"
              v-model="username"
              placeholder="Korisničko ime"
              autocomplete="off"
              required="required"
              class="form-control"
              :class="{ 'is-invalid': error.username }"
              pattern="([^\s][A-z0-9À-ž\s]+)"
            />
            <label for="username">Korisničko ime</label>
          </div>
          <span
            v-show="available"
            class="spinner-border spinner-border-sm text-default ml-2 mt-n3"
            role="status"
            aria-hidden="true"
          />
        </div>

        <div class="form-label-group">
          <input
            id="password"
            v-model="password"
            type="password"
            placeholder="Lozinka"
            autocomplete="off"
            required="required"
            class="form-control"
            :class="{ 'is-invalid': error.password }"
          />
          <label for="password">Lozinka</label>
        </div>

        <div class="form-label-group">
          <input
            id="password_confirmation"
            v-model="password_confirmation"
            type="password"
            placeholder="Lozinka"
            autocomplete="off"
            required="required"
            class="form-control"
            :class="{ 'is-invalid': error.password_confirmation }"
          />
          <label for="password_confirmation">Ponovi lozinku</label>
        </div>

        <div class="d-flex justify-content-between mb-5">
          <div class="form-check pl-0">
            <div class="custom-control custom-checkbox">
              <input
                id="rememberMe"
                v-model="agree"
                class="custom-control-input"
                type="checkbox"
                required
              />
              <label for="rememberMe" class="custom-control-label"
                >Saglasan sam sa uslovima koriscenja Obba.com servisa.</label
              >
            </div>
          </div>
        </div>

        <div class="form-row justify-content-center">
          <div class="col-auto">
            <button
              class="btn btn-primary rounded-pill"
              :class="{ disabled: status }"
              @click="register"
            >
              <span
                v-show="status"
                class="spinner-border spinner-border-sm mr-2"
                role="status"
                aria-hidden="true"
              />
              Registruj se
            </button>
          </div>
          <div class="col-auto">
            <nuxt-link
              :to="{ name: 'login' }"
              class="btn btn-default-light rounded-pill text-decoration-none"
            >
              Prijavi se
            </nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Register',
  auth: 'guest',
  layout: 'empty',
  data() {
    return {
      fname: '',
      lname: '',
      username: '',
      email: '',
      password: '',
      password_confirmation: '',
      agree: false,
      error: false,
      status: false,
      available: false,
    }
  },
  watch: {
    username: function () {
      let re = /[^A-Z0-9]/gi
      let username = this.$refs.username.value
      username = username.replace(re, '')

      this.username = username
      this.available = true

      setTimeout(() => {
        this.checkUsername()
      }, 1000)
    },
  },
  methods: {
    async checkUsername() {
      const res = await this.$axios.$get('user/' + this.username)

      if (res.status == 0) {
        this.$refs.username.classList.remove('is-invalid')
        this.$refs.username.classList.add('is-valid')
      } else {
        this.$refs.username.classList.remove('is-valid')
        this.$refs.username.classList.add('is-invalid')
      }

      if (this.username.length < 5) {
        this.$refs.username.classList.remove('is-valid')
        this.$refs.username.classList.remove('is-invalid')
        this.$refs.username.classList.add('is-invalid')
      }
      this.available = false
    },
    async register() {
      this.status = true
      try {
        const data = {
          name: this.fname + ' ' + this.lname,
          username: this.username,
          email: this.email,
          password: this.password,
          password_confirmation: this.password_confirmation,
          agree: this.agree,
        }

        await this.$axios.$post('/auth/register', data)
        await this.$auth.loginWith('password_grant', { data: data })
        this.$router.push('/')
      } catch (e) {
        this.status = false
        this.error = e.response.data.data
        this.error.message = e.response.statusText
      }
    },
  },
}
</script>

<style scoped>
.container-fluid {
  height: 100vh;
  background: url('~assets/img/icons-background.svg?inline') center no-repeat;
}
.card {
  cursor: initial;
  width: 600px;
  min-height: 550px;
  margin: auto;
}
.card-header {
  padding-top: 3rem;
}

.card-body {
  padding: 0rem 2.5rem 2rem;
}
</style>
