<template lang="html">
  <div class="container-fluid d-flex justify-content-center">
    <div class="card bg-light shadow">
      <div class="card-header bg-white border-0">
        <div class="text-center pb-3">
          <nuxt-link :to="{ name: 'index' }">
            <img
              src="~/assets/img/logo.png"
              alt="Logo"
              width="100px"
              class="mb-4"
            />
          </nuxt-link>

          <h1 class="d-inline display-5">
            <span class="ml-4 mr-4 font-weight-lighter">|</span>
            Resetuj Lozinku
          </h1>
        </div>
      </div>

      <Notification v-if="error" :message="error" />

      <div class="card-body pt-5" @keyup.enter="reset">
        <p>Unesite email adresu da povratite nalog i promenite lozinku.</p>
        <div class="form-label-group">
          <input
            id="email"
            v-model="email"
            type="email"
            placeholder="Email"
            autocomplete="off"
            required="required"
            class="form-control"
          />
          <label for="email">Email</label>
        </div>

        <div class="form-row justify-content-center mt-5">
          <div class="col-auto">
            <button
              class="btn btn-primary"
              :class="{ disabled: status }"
              @click="reset"
            >
              <span
                v-show="status"
                class="spinner-border spinner-border-sm mr-2"
                role="status"
                aria-hidden="true"
              />
              Resetuj lozinku
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Reset',
  layout: 'noNavbar',
  middleware: 'guest',
  data() {
    return {
      email: '',
      error: null,
      status: false,
    }
  },
  methods: {
    async reset() {
      this.status = true
      try {
        const data = { email: this.email }
        await this.$axios.post('/auth/password', data)
      } catch (e) {
        this.status = false
        this.error = 'Nepostojeća email adresa'
      }
    },
  },
}
</script>

<style scoped>
.container-fluid {
  height: 100vh;
  background: url('~assets/img/icons-background.svg') center no-repeat;
}
.card {
  margin: auto;
  cursor: initial;
  width: 500px;
}
.card-header {
  padding-top: 3rem;
}
.card-body {
  padding: 0rem 2.5rem 2rem;
}
</style>
