<template>
  <ProductsGrid :loaded="loading">
    <template v-if="totalResults != null" #sidebar>
      <div class="card-body p-0">
        <filters
          :options="options"
          :brands="brands"
          :price-range="priceRange"
          @brand="filterBrands"
          @price="filterPrice"
          @option="filterOptions"
        ></filters>
      </div>
    </template>
    <template v-if="totalResults == null" #message>
      <StatusMessage message="Nema rezultata za traženi pojam">
        <template #icon>
          <b-icon icon="exclamation-circle" font-scale="2.5"></b-icon>
        </template>
        <p class="card-title">Ponovite pretragu</p>
      </StatusMessage>
    </template>
    <template v-else #content>
      <div class="card-header border-left px-3 py-2 bg-light">
        <SearchList @sorted="sort" @search="search" />
      </div>
      <div class="card-body border-left pt-3 br-0 pl-3 pr-5">
        <div
          v-if="!results"
          class="d-flex align-items-center justify-content-center"
          style="min-height: 50vh"
        >
          <img
            src="~/assets/img/logo.png"
            class="m-auto rotating"
            height="75px"
          />
        </div>
        <div v-else class="d-flex align-items-center mt-0 mb-2">
          <h3 class="card-title text-default">Proizvodi</h3>
          <span class="badge badge-blue-light font-size-lg ml-3 mt-n3">
            {{ totalResults }}
          </span>
        </div>
        <transition name="fadeInUp" appear>
          <div v-if="results">
            <ProductList v-if="show" :products="results[page]" />
            <div v-else class="d-flex flex-wrap justify-content-between">
              <ad-wide
                v-for="product in results[page]"
                :key="product._id"
                size="small"
                :product="product"
              />
            </div>
            <Pagination :results="results" @page="changePage" />
          </div>
        </transition>
      </div>
    </template>
  </ProductsGrid>
</template>

<script>
export default {
  name: 'Search',
  layout: 'empty',
  data() {
    return {
      products: false,
      filtered: false,
      brands: false,
      priceRange: false,
      options: false,
      loading: true,
      searched: null,
      show: true,
      page: 0,
      totalPages: null,
      results: [],
      brandsFilter: [],
      price: null,
      optionsFilter: [],
      totalResults: false,
      sortBy: {},
    }
  },
  computed: {
    search() {
      let search = this.$route.query.search
      if (_.isEmpty(search)) {
        return false
      }
      return search
    },
    category() {
      let category = this.$route.query.category
      if (_.isEmpty(category)) {
        return 'all'
      }
      return category
    },
    isCurrentPage() {
      let current = this.$route.fullPath.split('#')
      if (this.page == current[1]) {
        return true
      }
      return false
    },
  },
  watch: {
    price: function () {
      this.filter()
    },
    brandsFilter: function () {
      this.filter()
    },
    optionsFilter: function () {
      this.filter()
    },
    filtered: function () {
      const products = this.filtered
      this.paginate(products)
    },
  },
  mounted() {
    this.fetch()
    this.saveSearch()

    this.$nextTick(() => {
      let current = this.$route.fullPath.split('#')
      if (!_.isEmpty(current[1]) && current[1] != 0) {
        this.page = current[1]
      }
    })
  },
  beforeDestroy() {
    this.products = false
    this.filtered = false
    this.results = false
  },
  methods: {
    async saveSearch() {
      let search = {
        search: this.$route.query.search,
        category: this.$route.query.category,
      }

      if (!_.isEmpty(search.search))
        this.$store.commit('main/saveSearch', search)
    },
    async fetch() {
      if (_.isEmpty(this.search)) {
        this.totalResults = null
        this.loading = false
      } else
        try {
          const res = await this.$axios.$post(
            'search/' + this.category + '/' + this.search
          )

          let products = []
          if (res.statusCode == 200 && !_.isEmpty(res.data.products)) {
            Object.keys(res.data.products).forEach((i) => {
              products.push(res.data.products[i])
            })

            this.filtered = products
            this.products = products
            this.totalPages = Math.ceil(products.length / 15) - 1
            this.brands = res.data.brands
            this.priceRange = res.data.priceFilter
            this.options = res.data.options
            this.totalResults = res.data.totalResults
          } else {
            this.totalResults = null
          }
        } catch (e) {
          console.log(e)
          // LOG ERROR
        }
      this.loading = false
    },
    filterBrands(brands) {
      this.brandsFilter = brands
    },
    filterPrice(price) {
      this.price = price
    },
    filterOptions(options) {
      this.optionsFilter = options
    },
    paginate(list) {
      let pages = Math.ceil(list.length / 15)

      let results = []
      if (!_.isEmpty(list) && list.length > 15) {
        for (var i = 0; i < pages; i++) {
          results.push(list.slice(i * 15, (i + 1) * 15))
        }

        this.results = results
        return true
      }

      this.results = [list]
      return true
    },
    changePage(page) {
      this.page = page
    },
    sort(rules) {
      let rule = rules[0]
      let type = rules[1]
      if (rule !== false && type !== false) {
        this.sortBy = {
          rule: rule,
          type: type,
        }
      } else {
        rule = this.sortBy.rule
        type = this.sortBy.sortType
      }

      let filtered = this.filtered
      let list = _.orderBy(filtered, [rule], [type])

      this.filtered = list
    },
    filter() {
      const products = this.products
      let brand = this.brandsFilter
      let price = this.price
      let options = this.optionsFilter

      let list = products

      if (brand.length > 0) {
        list = _.filter(products, function (item) {
          if (brand.includes(item.brand)) {
            return item
          }
        })
      }

      if (price !== null) {
        list = _.filter(list, function (item) {
          if (item.price >= price) {
            return item
          }
        })
      }

      if (options.length > 0) {
        list = _.filter(list, function (item) {
          return options.some((o) => item.options.includes(o))
        })
      }

      this.filtered = list
      this.sort([false, false])
    },
  },
}
</script>
