<template>
  <SidebarGrid v-if="user != false" :loaded="loading">
    <template #sidebar>
      <UserSidebar :page="page" />
    </template>

    <template #content>
      <keep-alive>
        <Profile
          v-if="page == 'profile'"
          :key="0"
          :user="user"
          :orders="orders"
        />
        <Orders v-else-if="page == 'orders'" :orders="orders" />
        <Address v-else-if="page == 'address'" />
        <UserSettings v-else />
        <!--<Settings v-else-if="page == 'settings'" :user="user" />-->
      </keep-alive>
    </template>
    <portal-target name="AddAddress"></portal-target>
  </SidebarGrid>
</template>

<script>
export default {
  name: 'MyProfile',
  layout: 'empty',
  middleware: 'auth',
  data() {
    return {
      orders: [],
      page: 'profile',
      status: false,
      loading: true,
    }
  },
  computed: {
    user() {
      return this.$store.getters['getUser']
    },
  },
  watch: {
    '$route.hash': {
      handler: function (hash) {
        // eslint-disable-next-line no-undef
        if (!_.isEmpty(hash) && hash != '')
          this.page = hash.replace('/', '').replace('#', '')
      },
      deep: true,
      immediate: true,
    },
  },
  mounted() {
    this.fetchOrder()
  },
  methods: {
    async fetchOrder() {
      this.loading = true
      const res = await this.$axios.$get('myOrders')
      const orders = res.data.orders

      this.orders = orders
      this.loading = false
    },
  },
}
</script>
