<template>
  <div>
    <ProductDescription :product="product" />
  </div>
</template>

<script>
import moment from 'moment'

export default {
  name: 'ProductDetails',
  filters: {
    postedAgo(timestamp) {
      moment.locale('sr')
      return moment(new Date(timestamp).valueOf()).fromNow()
    },
  },
  props: {
    product: {
      type: [Object, Boolean],
      required: true,
      default: false,
    },
  },
}
</script>
