<template>
  <article class="card">
    <div class="card-header d-flex align-items-center">
      <h5 class="m-0">Opis proizvoda</h5>
      <div class="d-flex flex-grow-1 justify-content-end">
        <small class="label-rating text-primary">
          <i class="fa fa-clipboard-check" />
          {{ product.orders }} Narudžbina
        </small>
      </div>
    </div>

    <p class="d-flex bg-light text-dark p-3 font-size-md text-left">
      {{ product.description }}
    </p>

    <div class="card-body pb-0 pt-1">
      <dl class="row">
        <dt class="col-sm-4">Oglas postavljen</dt>
        <dd class="col-sm-8">
          <label class="badge badge-pill">
            {{ product.created_at | postedAgo }}
          </label>
        </dd>

        <dt class="col-sm-4">Ocena korisnika</dt>
        <dd class="col-sm-8">
          <label class="badge badge-pill">
            {{ product.rating }}
          </label>
        </dd>
      </dl>
    </div>
  </article>
</template>

<script>
import moment from 'moment'

export default {
  name: 'ProductDescription',
  filters: {
    postedAgo(timestamp) {
      moment.locale('sr')
      return moment(new Date(timestamp).valueOf()).fromNow()
    },
  },
  props: {
    product: {
      type: [Object, Boolean],
      required: true,
      default: false,
    },
  },
}
</script>
