<template>
  <div>
    <div
      class="d-flex blockquote w-100 justify-content-center align-items-center text-default"
    >
      <b-icon icon="zoom-in" class="mr-3"></b-icon>
      <small class="mt-n2"> Klikni / Dodirni sliku da je uvećaš. </small>
    </div>
    <div class="gallery-wrap align-items-center justify-content-center">
      <div class="container-zoomer-base-container scroller-at-bottom">
        <a
          :href="coverImage"
          class="d-flex h-100 mt-n4 mx-auto"
          @click.prevent="microLite"
        >
          <img
            class="responsive-image my-auto shadow-sm"
            width="auto"
            :src="coverImage"
            :alt="name"
          />
        </a>
        <span
          class="btn btn-primary-light rounded-circle p-1 position-absolute font-weight-bold"
          style="top: 45%; right: 40%; z-index: 1080"
          data-toggle="popover"
          data-trigger="hover"
          data-container="body"
          title="Cirkoni"
          data-placement="top"
          data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus ornare sem."
        >
          <b-icon icon="plus" font-scale="2" class="font-weight-bold"></b-icon>
        </span>
        <section id="silentbox-gallery">
          <div v-for="(image, i) in gallery" :key="i" class="silentbox-item">
            <img
              :src="image.src | galleryImage"
              :alt="name"
              :title="image.description"
              width="60"
              height="60"
              @click="changeCoverImage(image.i)"
            />
          </div>
        </section>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ProductGallery',
  filters: {
    galleryImage(path) {
      let fullPath = path.split('/')
      let fileName = fullPath[4].split('.')
      let name = fileName[0] + '-60x60.' + fileName[1]
      let resized = path.replace('obba-products', 'obba-products-resized')

      return resized.replace(fullPath[4], name)
    },
  },
  props: {
    gallery: {
      type: Array,
      required: true,
    },
    coverImage: {
      type: String,
      required: true,
    },
    name: {
      type: String,
      required: true,
    },
  },
  created() {
    $(function () {
      $('[data-toggle="popover"]').popover()
    })
  },
  mouted() {
    this.$nextTick(() => {
      let mliteEventHandler = function (e) {
        let mliteOpen = document.getElementById('ml')
        let isEscape = false

        if (mliteOpen) {
          if (e.type == 'wheel') {
            e.preventDefault()
          } else {
            if ('key' in e) {
              isEscape = e.key == 'Escape' || e.key == 'Esc'
            } else {
              isEscape = e.keyCode == 27
            }
            if (isEscape) {
              mliteOpen.className = ' '
              addEventListener('transitionend', function () {
                if (mliteOpen.parentNode) {
                  mliteOpen.parentNode.removeChild(mliteOpen)
                }
              })
            }
          }
        } else {
          window.removeEventListener('keydown', mliteEventHandler)
        }
      }
      $('[data-toggle=popover]').popover()
      window.addEventListener('keydown', mliteEventHandler)
    })
  },
  methods: {
    microLite(i) {
      let childNode = i.path[0]
      let zoomPadding = 50
      let windowWidth = window.innerWidth - zoomPadding * 2
      let windowHeight = window.innerHeight - zoomPadding * 2
      let imgWidth = childNode.width
      let imgHeight = childNode.height
      let imgX = childNode.offsetLeft * 3
      let imgY = parseInt(
        childNode.offsetTop +
          50 -
          (document.documentElement.scrollTop || document.body.scrollTop)
      )
      let scaleX = windowWidth / imgWidth
      let scaleY = windowHeight / imgHeight
      let scaleMax = Math.min(scaleX, scaleY)
      let zoomX
      let zoomY

      if (scaleX <= scaleY) {
        zoomX = zoomPadding
        zoomY = (windowHeight - imgHeight * scaleMax) / 2 + zoomPadding
      } else {
        zoomX = (windowWidth - imgWidth * scaleMax) / 2 + zoomPadding
        zoomY = zoomPadding
      }

      let mlite = document.createElement('div')
      mlite.setAttribute('id', 'ml')
      mlite.setAttribute(
        'onclick',
        'this.className = " "; addEventListener("transitionend", function() { if (this.parentNode) { this.parentNode.removeChild(this); } });'
      )
      mlite.innerHTML =
        '<div class="mlbg"></div><div class="mli"></div><style>.mli{ background:url(' +
        childNode.href +
        ') no-repeat center, url(' +
        childNode.src +
        ') no-repeat center; background-size:contain; width:' +
        childNode.width +
        'px; height:' +
        childNode.height +
        'px; transform: translate3d(' +
        imgX +
        'px, ' +
        imgY +
        'px, 0) scale(1); transform-origin:top left; will-change:transform; transition:transform .25s ease-in-out } .s .mlbg{ opacity:0.8 } .s .mli{ transform: translate3d(' +
        zoomX +
        'px, ' +
        zoomY +
        'px, 0) scale(' +
        scaleMax +
        ')} </style>'
      document.body.appendChild(mlite)

      setTimeout(function () {
        mlite.className = 's'
      }, 20)
    },
    changeCoverImage(id) {
      const image = this.gallery[id].src
      this.$emit('cover', image)
    },
  },
}
</script>
