<template>
  <div class="card-header bg-light border-bottom pt-3 px-3 pb-0">
    <div class="d-block mb-4 ml-1">
      <h1 class="h5 card-title text-default mb-2">
        {{ name }}
      </h1>
      <h2 class="font-md small mb-0 fw-md text-blue">
        <nuxt-link :to="'/category/' + category.slug">
          {{ category.name }}
        </nuxt-link>
      </h2>
    </div>

    <div class="d-flex w-100 justify-content-between my-4 ml-1pr-3">
      <span class="badge badge-lg badge-primary-light fw-sm pb-3">
        {{ price }} {{ currency }}
      </span>
      <span
        v-if="units > 0"
        class="badge badge-md badge-blue h-100 align-self-end fw-sm pb-2 mr-n5"
      >
        Dostupno
      </span>
    </div>
    <div class="d-flex flex-wrap w-100 justify-content-between share mt-2">
      <share-network
        v-for="network in networks"
        :key="network.network"
        :network="network.network"
        :url="url"
        :title="name + ' - Obba'"
        :description="description"
        :quote="description"
        class="flex-fill text-decoration-none text-default fw-sm text-center"
      >
        <fa-icon :icon="network.icon" />
        <span>{{ network.name }}</span>
      </share-network>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ProductHeader',
  props: {
    name: {
      type: String,
      required: true,
    },
    description: {
      type: String,
      required: true,
    },
    category: {
      type: Object,
      required: true,
    },
    price: {
      type: Number,
      required: true,
    },
    currency: {
      type: String,
      required: false,
      default: 'RSD',
    },
    units: {
      type: Number,
      required: true,
    },
  },
  data({ $config, $route }) {
    return {
      url: $config.appUrl + $route.fullPath,
      networks: [
        {
          network: 'facebook',
          name: 'Facebook',
          icon: ['fab', 'facebook-messenger'],
        },
        {
          network: 'viber',
          name: 'Viber',
          icon: ['fab', 'viber'],
        },
        {
          network: 'whatsapp',
          name: 'Whatsapp',
          icon: ['fab', 'whatsapp'],
        },
      ],
    }
  },
}
</script>

<style scoped lang="scss">
.card-header {
  border-radius: 0px var(--br-lg) 0px 0px;
}

.share {
  a {
    padding: 0 0.45rem 0.25rem 0.45rem;
    cursor: pointer;
    border-bottom: 2px solid transparent;
  }
  a:hover {
    border-bottom: 2px solid var(--gray);
  }
}
</style>
