<template>
  <article class="card position-sm-absolute">
    <div class="row no-gutters">
      <aside v-if="product" class="col-7 p-1 overflow-hidden text-center pt-4">
        <ProductGallery
          :name="product.name"
          :gallery="gallery"
          :cover-image="coverImage"
          @cover="changeCoverImage"
        />
      </aside>

      <main class="col-5 border-left">
        <ProductHeader
          v-if="product"
          :name="product.name"
          :description="product.description"
          :category="category"
          :price="product.price"
          :currency="product.currency"
          :units="product.units"
        />
        <div class="card-body py-4 px-4 fw-sm text-default">
          <dl class="row row-cols-1 mx-auto my-auto">
            <dt class="d-inline-flex col-12 align-self-center mb-2">
              Veličina
            </dt>
            <dd class="col-sm-12 mb-4">
              <div class="btn-group-toggle flex-wrap">
                <template v-for="(option, i) in product.options">
                  <OptionTag
                    :key="i"
                    v-model="options"
                    :checked="false"
                    :option="option"
                    :options.sync="options"
                  />
                </template>
              </div>
            </dd>

            <dt class="d-inline-flex align-self-center col-12 mb-2">
              Količina
            </dt>
            <dd class="col-9 mb-4">
              <QuantityInput
                :quantity.sync="quantity"
                :max-units="product.units"
              />
            </dd>

            <dt class="d-inline-flex align-self-center col-12 mb-2">
              Slanje paketa
            </dt>
            <dd class="d-inline-flex flex-wrap col-12">
              <IconStatusTag icon="in-transit" color="purple">
                Post Express
              </IconStatusTag>
              <IconStatusTag icon="in-transit" color="green">
                Cityexpress
              </IconStatusTag>
              <IconStatusTag icon="in-transit" color="default">
                Pošta
              </IconStatusTag>
              <IconStatusTag icon="handle-with-care" color="warning">
                Lično Preuzimanje
              </IconStatusTag>
            </dd>
          </dl>
        </div>
        <div
          class="d-flex card-footer bg-light p-0 position-absolute w-100 border-0"
          style="bottom: 0px; height: 5rem"
        >
          <a
            href="#"
            role="button"
            class="d-inline-flex btn btn-light content-center text-default w-100"
            @click.stop.prevent="addToCart"
          >
            <h5 class="h5 flex-shrink-0 mr-3 fw-md mb-0">Dodaj u korpu</h5>
            <img src="~/assets/icons/add-to-cart.png" width="34px" />
          </a>
        </div>
      </main>
    </div>
  </article>
</template>

<script>
export default {
  name: 'Product',
  props: {
    product: {
      type: [Object, Boolean],
      required: true,
    },
    category: {
      type: [Object, Boolean],
      required: false,
      default: false,
    },
  },
  data() {
    return {
      quantity: 1,
      options: null,
      coverImage: this.product.gallery[0].path,
    }
  },
  computed: {
    gallery() {
      let data = []
      const slug = this.$route.params.id.split('-')
      const id = slug[slug.length - 1]
      const images = this.$store.getters['products/getById'](id)[0].gallery

      images.forEach((item, i) => {
        data.push({
          src: item.path,
          description: this.product.name,
          alt: this.product.description,
          thumbnailWidth: '50px',
          i: i,
        })
      })

      return data
    },
  },
  methods: {
    async addToCart() {
      const product = this.product
      let item = {
        _id: product._id,
        name: product.name,
        price: product.price,
        currency: product.currency,
        options: product.options,
        gallery: product.gallery,
        vendor: {
          _id: product.shop._id,
          name: product.shop.display_name,
        },
        option: this.options,
        quantity: parseInt(this.quantity),
      }

      this.$store.commit('main/addToCart', item)
    },
    changeCoverImage(cover) {
      this.coverImage = cover
    },
  },
}
</script>

<style scoped lang="scss">
.card {
  & .card-footer,
  & .card-footer .btn {
    border-radius: 0px 0px var(--br-lg) 0px;
    height: 100%;
  }
}
</style>
