<template>
  <div class="dropdown" role="dropdown">
    <a
      aria-label="Kreiraj"
      href="#"
      role="button"
      class="icon btn btn-default-lighter content-center rounded-circle nav-item p-2 mr-2"
      data-toggle="dropdown"
    >
      <img
        v-if="$parent.icons == 'color'"
        src="~/assets/icons/plus.png"
        width="27"
      />
      <b-icon v-else icon="plus" font-scale="1.75"></b-icon>
    </a>
    <div
      class="dropdown-menu dropdown-menu-right dropdown-md dropdown-grid p-2"
    >
      <div class="text-default ml-2 my-1">
        <span
          class="font-weight-semibold font-size-lg"
          aria-label="Upravljanje"
        >
          Dodaj
        </span>
      </div>
      <div class="row row-cols-2 no-gutters mb-3">
        <div class="col-6">
          <nuxt-link
            :to="{ name: 'create', hash: '/#product' }"
            aria-label="Kontrolna tabla"
            class="d-flex flex-wrap text-center dropdown-item text-default"
            prefetch
          >
            <div class="w-100 my-1 content-center">
              <img src="~/assets/icons/new-product.png" height="38px" />
            </div>
            <span
              class="my-auto font-weight-semibold font-size-sm"
              role="button"
              tabindex="0"
              >Proizvod</span
            >
          </nuxt-link>
        </div>
        <div class="col-6">
          <nuxt-link
            :to="{ name: 'create', hash: '/#member' }"
            aria-label="Kontrolna tabla"
            class="d-flex flex-wrap text-center dropdown-item text-default"
            prefetch
          >
            <div class="w-100 my-1 content-center">
              <img src="~/assets/icons/team.png" height="38px" />
            </div>
            <span
              class="my-auto font-weight-semibold font-size-sm"
              role="button"
              tabindex="0"
              >Saradnika</span
            >
          </nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AddDropdown',
  data() {
    return {
      state: false,
    }
  },
  computed: {
    user() {
      let data = this.$store.getters['getUser']
      if (data) {
        // eslint-disable-next-line vue/no-side-effects-in-computed-properties
        this.avatar = process.env.baseUrl + data.avatar
        return data
      }
      return false
    },
  },
  methods: {
    handle() {
      this.state = !this.state
    },
  },
}
</script>

<style scoped>
.nav-item {
  height: 55px;
}
</style>
