<template>
  <nuxt-link
    :to="{ name: 'cart' }"
    class="icon btn btn-default-lighter content-center rounded-circle nav-item p-2 ml-2"
    aria-label="Korpa"
    prefetch
  >
    <img
      v-if="$parent.icons == 'color'"
      src="~/assets/icons/cart.png"
      width="27"
    />
    <b-icon v-else icon="basket" font-scale="1.25" class="mx-1"></b-icon>
    <span
      v-if="cart.length > 0"
      class="badge badge-circle badge-floating badge-danger"
    >
      {{ cart.length }}
    </span>
  </nuxt-link>
</template>

<script>
export default {
  name: 'CartDropdown',
  props: {
    cart: {
      type: [Array, Boolean],
      required: false,
      default: false,
    },
  },
}
</script>

<style scoped>
.icontext {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  vertical-align: middle;
}
.icon {
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  box-shadow: none !important;
}
.icon-xs {
  width: 38px;
  height: 38px;
  line-height: 38px !important;
}
.badge-circle {
  box-shadow: none !important;
  border: 3px solid #f4f5f7;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0 !important;
  width: 1.45rem;
  height: 1.45rem;
  font-size: 0.8em;
  font-weight: 600;
}
.badge-floating {
  position: absolute;
  padding: 0.25em 0.5em;
  right: 0;
}
</style>
