<template>
  <div class="dropdown my-auto">
    <a
      href="#"
      role="button"
      class="btn btn-default-light content-center px-2"
      style="border-radius: 1rem"
      data-toggle="dropdown"
      aria-expanded="false"
    >
      <b-icon icon="view-list" font-scale="1.5"></b-icon>
    </a>
    <div class="dropdown-menu dropdown-menu-top animated fadeInRight">
      <a
        href="#"
        role="button"
        class="d-inline-block btn btn-default-light content-center float-right px-2 ml-auto"
        style="border-radius: 1rem"
        aria-expanded="false"
      >
        <b-icon icon="x-circle" font-scale="1.5"></b-icon>
      </a>
      <span v-for="category in categories" :key="category._id">
        <nuxt-link
          :to="'/category/' + category.slug"
          class="dropdown-item text-default"
        >
          <strong>
            {{ category.name }}
          </strong>
        </nuxt-link>
        <nuxt-link
          v-for="child in category.childs"
          :key="child._id"
          class="dropdown-item text-default"
          :to="'/category/' + child.slug"
        >
          {{ child.name }}
        </nuxt-link>
      </span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CategoriesMenu',
}
</script>

<style scoped>
.dropdown-menu {
  position: fixed;
  left: 23px;
  top: 1px !important;
  width: 27rem;
  height: 95vh;
}
.dropdown-menu.show {
  display: block;
}
</style>
