<template>
  <nuxt-link
    v-if="orders.length > 0"
    :to="{ name: 'dashboard', hash: '/#orders' }"
    aria-label="Nove proudžbine"
    class="icon btn btn-default-lighter content-center rounded-circle nav-item p-2"
  >
    <img
      v-if="$parent.icons == 'color'"
      src="~/assets/icons/globe-earth.png"
      width="27"
    />
    <b-icon v-else icon="bell-fill" font-scale="1.25" class="mx-1"></b-icon>
    <span class="badge badge-circle badge-floating badge-danger">
      {{ orders.length }}
    </span>
  </nuxt-link>
</template>

<script>
export default {
  name: 'Notifications',
  props: {
    orders: {
      type: [Array, Boolean],
      required: false,
      default: false,
    },
  },
  data() {
    return {
      categoriesExpanded: false,
      loading: true,
      state: false,
    }
  },
  methods: {},
}
</script>

<style scoped>
.icontext {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  vertical-align: middle;
}
.icon {
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  box-shadow: none !important;
}
.icon-xs {
  width: 30px;
  height: 30px;
  line-height: 30px !important;
}
.badge-circle {
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0 !important;
  font-size: 12px;
  font-weight: 600;
  border: 3px solid #f4f5f7;
}
.badge-floating {
  position: absolute;
  padding: 0.35em 0.5em 0.35em 0.4em;
  right: -2px;
  top: -2px;
}
.nav-item {
  height: 55px;
}
</style>
