<template>
  <div class="dropdown" role="dropdown">
    <a
      role="button"
      aria-label="Upravljanje nalogom"
      href="#"
      class="icon btn btn-default-light content-center rounded-circle nav-item p-2 mx-2"
      data-toggle="dropdown"
    >
      <!--<img v-if="this.$parent.icons == 'color" class="icon icon-xs rounded-circle" height="40px" :src="avatar" />-->
      <img
        v-if="$parent.icons == 'color'"
        src="~/assets/icons/sort-down.png"
        width="16"
        class="mx-1"
        style="filter: grayscale(1) brightness(0.45)"
      />
      <b-icon
        v-else
        icon="caret-down-fill"
        font-scale="1.25"
        class="mx-1"
      ></b-icon>
    </a>
    <div
      class="dropdown-menu dropdown-menu-right dropdown-md dropdown-grid p-2"
    >
      <div class="text-default ml-2 my-1">
        <span class="font-weight-semibold" :aria-label="firstName">
          Ćao,
          {{ firstName }}
        </span>
      </div>
      <div class="row row-cols-2 no-gutters">
        <div class="col-6">
          <nuxt-link
            aria-label="Nalog"
            :to="{ name: 'user', hash: '/#profile' }"
            class="d-flex flex-wrap text-center dropdown-item text-default"
            prefetch
          >
            <div class="w-100 my-1 content-center">
              <b-icon icon="person-circle" font-scale="1.75"></b-icon>
            </div>
            <span
              class="my-auto font-weight-semibold font-weight-sm"
              role="button"
              tabindex="0"
              >Nalog</span
            >
          </nuxt-link>
        </div>
        <div class="col-6">
          <nuxt-link
            :to="{ name: 'user', hash: '/#orders' }"
            aria-label="Porudžbine"
            class="d-flex flex-wrap text-center dropdown-item text-default"
            prefetch
          >
            <div class="w-100 my-1 content-center">
              <b-icon icon="truck" font-scale="1.75"></b-icon>
            </div>
            <span
              class="my-auto font-weight-semibold font-weight-sm"
              role="button"
              tabindex="0"
              >Porudžbine</span
            >
          </nuxt-link>
        </div>
        <div class="col-6">
          <nuxt-link
            aria-label="Adrese"
            :to="{ name: 'user', hash: '/#address' }"
            class="d-flex flex-wrap text-center dropdown-item text-default"
            prefetch
          >
            <div class="w-100 my-1 content-center">
              <b-icon icon="geo-alt" font-scale="1.75"></b-icon>
            </div>
            <span
              class="my-auto font-weight-semibold font-weight-sm"
              role="button"
              tabindex="0"
              >Adrese</span
            >
          </nuxt-link>
        </div>
        <div class="col-6">
          <nuxt-link
            aria-label="Podešavanja"
            :to="{ name: 'user', hash: '/#settings' }"
            class="d-flex flex-wrap text-center dropdown-item text-default"
            prefetch
          >
            <div class="w-100 my-1 content-center">
              <b-icon icon="gear" font-scale="1.75"></b-icon>
            </div>
            <span
              class="my-auto font-weight-semibold font-weight-sm"
              role="button"
              tabindex="0"
              >Podešavanja</span
            >
          </nuxt-link>
        </div>
      </div>
      <div class="row no-gutters mt-2">
        <div class="col-12">
          <a
            aria-label="Odjavi se"
            class="dropdown-item btn-danger-light content-center py-2 text-red"
            role="button"
            href="#"
            @click.prevent="logout"
          >
            <b-icon icon="power" font-scale="1.75"></b-icon>
            <span
              class="my-auto font-weight-semibold"
              role="button"
              tabindex="0"
              >Odjavi se</span
            >
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'UserDropdown',
  filters: {
    firstName(str) {
      if (str != undefined) {
        let name = str.split(' ')
        return name[0]
      }
    },
  },
  props: {
    avatar: {
      type: String,
      required: false,
      default: '/default.png',
    },
    firstName: {
      type: String,
      required: false,
      default: 'Junače',
    },
  },
  data() {
    return {
      categoriesExpanded: false,
      loading: true,
      state: false,
    }
  },
  methods: {
    async logout() {
      await this.$auth.logout().then(() => {
        window.location = window.location.protocol + '/login'
      })
    },
    handle() {
      this.state = !this.state
    },
  },
}
</script>

<style scoped>
.icontext {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  vertical-align: middle;
}
.icon {
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  box-shadow: none !important;
}
.icon-xs {
  width: 20px;
  height: 20px;
  line-height: 20px !important;
}
.nav-item {
  height: 55px;
}
</style>
