<template>
  <div ref="dropdown" class="dropdown" role="dropdown">
    <a
      aria-label="Prečice"
      href="#"
      role="button"
      class="icon btn btn-default-lighter content-center rounded-circle nav-item p-2 mr-2"
      data-toggle="dropdown"
      @click="state = !state"
    >
      <img
        v-if="$parent.icons == 'color'"
        src="~/assets/icons/apps-tab.png"
        width="27"
      />
      <b-icon v-else icon="layers-fill" font-scale="1.25" class="mx-1"></b-icon>
    </a>
    <div
      class="dropdown-menu dropdown-menu-right dropdown-lg dropdown-grid p-2 overflow-hidden"
    >
      <div
        class="text-default font-weight-semibold font-size-lg ml-2 mb-1"
        aria-label="Prečice"
      >
        Prečice
      </div>
      <div class="row row-cols-3 no-gutters">
        <div class="col-4">
          <nuxt-link
            :to="{ name: 'dashboard', hash: '/#dashboard' }"
            aria-label="Kontrolna tabla"
            class="d-flex flex-wrap text-center dropdown-item text-default"
            prefetch
          >
            <div class="w-100 my-1 content-center">
              <img src="~/assets/icons/dashboard.png" width="40px" />
            </div>
            <span
              class="my-auto font-weight-semibold font-size-sm"
              role="button"
              tabindex="0"
              >Kontrolna Tabla</span
            >
          </nuxt-link>
        </div>
        <div class="col-4">
          <nuxt-link
            aria-label="Prodavnica"
            :to="{ name: 'shop' }"
            class="d-flex flex-wrap text-center dropdown-item text-default"
            prefetch
          >
            <div class="w-100 my-1 content-center">
              <img src="~/assets/icons/shop.png" width="40px" />
            </div>
            <span
              class="my-auto font-weight-semibold font-size-sm"
              role="button"
              tabindex="0"
              >Prodavnica</span
            >
          </nuxt-link>
        </div>
        <div class="col-4">
          <nuxt-link
            aria-label="Poruke"
            :to="{ name: 'dashboard', hash: '/#messages' }"
            class="d-flex flex-wrap text-center dropdown-item text-default"
            prefetch
          >
            <div class="w-100 my-1 content-center">
              <img src="~/assets/icons/messages.png" width="40px" />
            </div>
            <span
              class="my-auto font-weight-semibold font-size-sm"
              role="button"
              tabindex="0"
              >Poruke</span
            >
          </nuxt-link>
        </div>

        <div class="col-4">
          <nuxt-link
            aria-label="Porudžbine"
            :to="{ name: 'dashboard', hash: '/#orders' }"
            class="d-flex flex-wrap text-center dropdown-item text-default"
            prefetch
          >
            <div class="w-100 my-1 content-center">
              <img src="~/assets/icons/product-documents.png" width="40px" />
            </div>
            <span
              class="my-auto font-weight-semibold font-size-sm"
              role="button"
              tabindex="0"
              >Porudžbine</span
            >
          </nuxt-link>
        </div>
        <div class="col-4">
          <nuxt-link
            aria-label="Proizvodi"
            :to="{ name: 'dashboard', hash: '/#products' }"
            class="d-flex flex-wrap text-center dropdown-item text-default"
            prefetch
          >
            <div class="w-100 my-1 content-center">
              <img src="~/assets/icons/warehouse.png" width="40px" />
            </div>
            <span
              class="my-auto font-weight-semibold font-size-sm"
              role="button"
              tabindex="0"
              >Proizvodi</span
            >
          </nuxt-link>
        </div>
        <div class="col-4">
          <nuxt-link
            aria-label="Podešavanja"
            :to="{ name: 'dashboard', hash: '/#settings' }"
            class="d-flex flex-wrap text-center dropdown-item text-default"
            prefetch
          >
            <div class="w-100 my-1 content-center">
              <img src="~/assets/icons/settings.png" width="40px" />
            </div>
            <span
              class="my-auto font-weight-semibold font-size-sm"
              role="button"
              tabindex="0"
              >Podešavanja</span
            >
          </nuxt-link>
        </div>
      </div>
      <feature-toggle name="analyitics" :value="true">
        <div class="text-default ml-2 my-1 content-center">
          <span
            class="font-weight-semibold font-size-lg"
            aria-label="Analitika"
          >
            Analitika
          </span>
        </div>
        <div class="row row-cols-3 no-gutters">
          <div class="col-4">
            <nuxt-link
              :to="{ name: 'shop-analytics' }"
              class="d-flex flex-wrap text-center dropdown-item text-default"
              aria-label="Statistika"
            >
              <div class="d-block mb-1 content-center">
                <img src="~/assets/icons/analytics.png" width="40px" />
              </div>
              <span
                class="my-auto font-weight-semibold font-size-sm"
                role="button"
                tabindex="0"
                >Statistika</span
              >
            </nuxt-link>
          </div>
          <div class="col-4">
            <nuxt-link
              :to="{ name: 'shop-advertising' }"
              class="d-flex flex-wrap text-center dropdown-item text-default"
              aria-label="Promocije"
            >
              <div class="d-block mb-1 content-center">
                <img src="~/assets/icons/promotions.png" width="40px" />
              </div>
              <span
                class="my-auto font-weight-semibold font-size-sm"
                role="button"
                tabindex="0"
                >Promocije</span
              >
            </nuxt-link>
          </div>
          <div class="col-4">
            <nuxt-link
              :to="{ name: 'shop-advertising' }"
              class="d-flex flex-wrap text-center dropdown-item text-default"
            >
              <div class="d-block mb-1 content-center">
                <img src="~/assets/icons/trademark.png" width="40px" />
              </div>
              <span
                class="my-auto font-weight-semibold font-size-sm"
                role="button"
                tabindex="0"
                >Moj Brend</span
              >
            </nuxt-link>
          </div>
        </div>
      </feature-toggle>

      <!--<div class="row no-gutters mt-2">
          <div class="col-12">
            <nuxt-link
              aria-label="Dodaj Proizvod"
              :to="{ name: 'dashboard', hash: '/#publish' }"
              class="dropdown-item btn-blue-light content-center py-2 text-blue"
              prefetch
            >
              <b-icon icon="plus-circle" font-scale="1.75"></b-icon>
              <span
                class="my-auto font-weight-semibold font-size-sm"
                role="button"
                tabindex="0"
                >Dodaj Proizvod</span
              >
            </nuxt-link>
          </div>
        </div>-->
    </div>
  </div>
</template>

<script>
export default {
  name: 'VendorDropdown',
  data() {
    return {
      state: false,
    }
  },
  computed: {
    user() {
      let data = this.$store.getters['getUser']
      if (data) {
        // eslint-disable-next-line vue/no-side-effects-in-computed-properties
        this.avatar = process.env.baseUrl + data.avatar
        return data
      }
      return false
    },
  },
  mounted() {
    this.state = this.$refs.dropdown.classList.contains('show')
  },
  methods: {
    handle() {
      this.state = !this.state
    },
  },
}
</script>

<style scoped>
.nav-item {
  height: 55px;
}
</style>
