<template>
  <div class="w-75">
    <div v-if="active" class="input-group shadow-none">
      <div class="input-group-prepend">
        <span class="input-group-text bg-light border-0 shadow-none px-1 py-0">
          <b-icon icon="search" font-scale="1.25"></b-icon>
        </span>
      </div>
      <input
        v-model="search"
        type="text"
        class="form-control search shadow-none bg-light ml-2 pl-1"
        placeholder="Pretražite proizvode u ovoj prodavnici..."
      />
      <!--<div class="input-group-append">
        <button
          type="button"
          class="close btn-light px-2 font-size-sm"
          aria-label="Close"
          @click="clearSearch"
        >
          <i class="las la-times font-size-sm"></i>
        </button>
      </div>-->
    </div>
    <a
      v-else
      href="#"
      role="button"
      class="btn btn-default-light px-2 rounded-circle"
      @click.stop="active = true"
    >
      <b-icon icon="search" font-scale="1.5"></b-icon>
    </a>
  </div>
</template>

<script>
export default {
  name: 'SearchField',
  data() {
    return {
      search: null,
      active: true,
    }
  },
  watch: {
    search: function () {
      let search = this.search
      this.$emit('searched', search)
    },
  },
  methods: {
    clearSearch() {
      this.search = ''
      this.active = false
    },
  },
}
</script>

<style scoped lang="scss">
.input-group {
  border-radius: 0.7rem;

  & .search:focus,
  & .search:active {
    box-shadow: none !important;
  }

  & .input-group-prepend .input-group-text {
    border-radius: 0.7rem 0px 0px 0.7rem;
  }

  & .input-group-append button {
    border-radius: 0px 0.7rem 0.7rem 0px;
  }
}

.close {
  background: #fff !important;
  opacity: 1 !important;

  & i {
    font-size: 18px !important;
    color: rgba(0, 0, 0, 0.5);
  }

  &:hover i {
    color: #000;
  }
}
</style>
