<template>
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-inline-flex align-items-center w-100">
      <template v-if="searchable">
        <SearchField @searched="search" />
      </template>
      <template v-else>
        <h5 class="card-title my-auto">
          <label class="font-weight-light my-auto">Traženi pojam:</label>
          <b class="ml-1">{{ $parent.search }}</b>
        </h5>
      </template>
    </div>
    <SortField @sorted="sort" />
  </div>
</template>

<script>
export default {
  name: 'SearchList',
  props: {
    searchable: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  data() {
    return {
      show: true,
    }
  },
  methods: {
    sort(sort) {
      this.$emit('sorted', sort)
    },
    search(search) {
      this.$emit('search', search)
    },
  },
}
</script>
