<template>
  <div class="d-inline-flex align-items-center">
    <div
      class="dropdown"
      data-toggle="tooltip"
      title="Sortiraj rezultate"
      data-original-title="Sortiraj rezultate"
      aria-labelledby="Sortiraj rezultate"
    >
      <IconButton
        :dropdown="true"
        color="blue"
        class="d-inline-flex rounded-pill px-2 mr-3 py-2"
      >
        <b-icon icon="filter" font-scale="1.5"></b-icon>
        <label class="d-none d-md-inline-block ml-2 mr-1 font-md"
          >Sortiraj</label
        >
        <b-icon icon="caret-down-fill"></b-icon>
      </IconButton>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#" @click="sort('price', 'asc')"
          >Ceni (rastuće)</a
        >
        <a class="dropdown-item" href="#" @click="sort('price', 'desc')"
          >Ceni (opadajuće)</a
        >
        <a class="dropdown-item" href="#" @click="sort('name', 'asc')"
          >Nazivu (A-Z)</a
        >
        <a class="dropdown-item" href="#" @click="sort('name', 'desc')"
          >Nazivu (Z-A)</a
        >
        <a class="dropdown-item" href="#" @click="sort('created_at', 'desc')"
          >Važnosti</a
        >
      </div>
    </div>

    <div class="btn-group rounded-pill">
      <a
        href="#"
        role="button"
        class="btn btn-default-light shadow-none px-3 content-center"
        :class="{ active: $parent.show }"
        data-toggle="tooltip"
        title="Grupa "
        data-original-title="Grupa"
        aria-labelledby="Grupa"
        @click="$parent.show = true"
      >
        <b-icon icon="grid-fill" font-scale="1.5"></b-icon>
      </a>
      <a
        href="#"
        role="button"
        class="btn btn-default-light shadow-none px-3 content-center"
        :class="{ active: !$parent.show }"
        data-toggle="tooltip"
        title="Lista"
        data-original-title="Lista"
        aria-labelledby="Lista"
        @click="$parent.show = false"
      >
        <b-icon icon="collection-fill" font-scale="1.5"></b-icon>
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Sort',
  mounted() {
    this.$nextTick(() => {
      $('[data-toggle="tooltip"]').tooltip()
    })
  },
  methods: {
    sort(rule, type) {
      let sortBy = [rule, type]
      this.$emit('sorted', sortBy)
    },
  },
}
</script>
