<template>
  <section class="container-fluid h-100 w-100 p-0">
    <InstallPrompt />
    <Navigation v-if="!loading" :logged="loggedIn" />
    <div
      v-if="loading"
      class="d-flex align-items-center justify-content-center"
      style="min-height: 65vh"
    >
      <img src="~/assets/img/logo.png" class="rotating" height="75px" />
    </div>
    <div v-else class="container-fluid px-0">
      <slot name="breadcrumbs"></slot>

      <section class="shop-wrapper container-xxl mx-auto mb-5 py-3 px-5">
        <slot name="message"></slot>
        <div class="card bg-light">
          <div class="row no-gutters">
            <aside class="col-12 col-lg-2 order-1 p-0">
              <slot name="sidebar"></slot>
            </aside>
            <main class="col-12 col-lg-10 order-2">
              <slot name="content"></slot>
            </main>
          </div>
        </div>
      </section>
    </div>

    <OpenShop v-if="canOpenShop" />
  </section>
</template>

<script>
export default {
  name: 'ProductsGrid',
  props: {
    loaded: {
      type: Boolean,
      required: true,
      default: true,
    },
  },
  data() {
    return {
      canOpenShop: false,
      loading: true,
      ads: false,
    }
  },
  computed: {
    loggedIn() {
      return this.$auth.$state.loggedIn
    },
    user() {
      return this.$store.getters['getUser']
    },
    categories() {
      return this.$store.getters['main/getCategories']
    },
  },
  mounted() {
    this.init()
  },
  methods: {
    async init() {
      if (_.isEmpty(this.categories)) {
        await this.$store.dispatch('main/loadCategories')
      }
      if (_.isEmpty(this.user) && this.loggedIn === true) {
        await this.$store.dispatch('fetchUser')
      }
      if (!_.isEmpty(this.user)) {
        if (this.user.owner > 0) {
          this.canOpenShop = false
        }
        this.canOpenShop = true
      }
      this.loading = false
    },
  },
}
</script>
