<template>
  <section class="container-fluid h-100 w-100 p-0">
    <InstallPrompt />
    <Navigation v-if="!loading" :logged="loggedIn" />
    <div
      v-if="loading"
      class="d-flex align-items-center justify-content-center"
      style="min-height: 65vh"
    >
      <img src="~/assets/img/logo.png" class="rotating" height="75px" />
    </div>
    <div v-else class="container-fluid p-0">
      <slot name="breadcrumbs"></slot>

      <main class="container container-wider justify-content-center pt-4 pb-5">
        <slot name="message"></slot>
        <slot name="product"></slot>
      </main>

      <section class="swatch-300">
        <div class="container container-wider text-center mx-auto pt-4 pb-5">
          <div class="d-flex row flex-wrap">
            <div class="col-7 mb-3">
              <slot name="details"></slot>
            </div>
            <div class="col-5 mb-3">
              <slot name="vendor"></slot>
            </div>
          </div>

          <slot name="vendorDisplay"></slot>

          <slot name="recommended"></slot>
        </div>
      </section>
    </div>

    <OpenShop v-if="canOpenShop" />
  </section>
</template>

<script>
export default {
  name: 'ProductGrid',
  props: {
    loaded: {
      type: Boolean,
      required: true,
      default: true,
    },
  },
  data() {
    return {
      canOpenShop: false,
      loading: true,
      ads: false,
    }
  },
  computed: {
    loggedIn() {
      return this.$auth.$state.loggedIn
    },
    user() {
      return this.$store.getters['getUser']
    },
    categories() {
      return this.$store.getters['main/getCategories']
    },
  },
  mounted() {
    this.init()
  },
  methods: {
    async init() {
      if (_.isEmpty(this.categories)) {
        await this.$store.dispatch('main/loadCategories')
      }
      if (_.isEmpty(this.user) && this.loggedIn === true) {
        await this.$store.dispatch('fetchUser')
      }
      if (!_.isEmpty(this.user)) {
        if (this.user.owner > 0) {
          this.canOpenShop = false
        }
        this.canOpenShop = true
      }

      this.loading = false
    },
  },
}
</script>
