<template>
  <section class="container-fluid h-100 w-100 p-0">
    <InstallPrompt />
    <Navigation v-if="!loading" :logged="loggedIn" />

    <div class="container container-wide h-100 pt-4">
      <div
        v-if="loading"
        class="d-flex align-items-center justify-content-center"
        style="min-height: 65vh"
      >
        <img src="~/assets/img/logo.png" class="rotating" height="75px" />
      </div>
      <div v-else class="row no-gutters">
        <main class="col-8 col-xl-8 ml-auto mr-5">
          <slot name="content"></slot>
        </main>
        <aside class="col-2 col-md-2 col-xl-2 mr-auto">
          <slot name="sidebar"></slot>
        </aside>
      </div>
    </div>

    <OpenShop v-if="canOpenShop" />
  </section>
</template>

<script>
export default {
  name: 'ReverseSidebarGrid',
  props: {
    loaded: {
      type: Boolean,
      required: true,
      default: true,
    },
  },
  data() {
    return {
      canOpenShop: false,
      loading: true,
      ads: false,
    }
  },
  computed: {
    loggedIn() {
      return this.$auth.$state.loggedIn
    },
    user() {
      return this.$store.getters['getUser']
    },
    categories() {
      return this.$store.getters['main/getCategories']
    },
  },
  mounted() {
    this.init()
  },
  methods: {
    async init() {
      if (_.isEmpty(this.categories)) {
        await this.$store.dispatch('main/loadCategories')
      }
      if (_.isEmpty(this.user) && this.loggedIn === true) {
        await this.$store.dispatch('fetchUser')
      }
      if (!_.isEmpty(this.user)) {
        if (this.user.owner > 0) {
          this.canOpenShop = false
        }
        this.canOpenShop = true
      }

      this.loading = false
    },
  },
}
</script>
