<template functional>
  <div class="card bg-lighter mt-1">
    <div
      class="card-body p-4 d-flex justify-content-center align-items-center mt-1"
    >
      <h1 class="display-5 ml-3">Uspešno naručeno</h1>
    </div>
    <div class="card-footer bg-lighter border-0">
      <nuxt-link
        :to="{ name: 'index' }"
        class="btn btn-default-light rounded-pill"
      >
        <b-icon icon="chevron-left" font-scale="1.5" class="mr-1"></b-icon>
        Vrati se
      </nuxt-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Checkout',
}
</script>
