<template>
  <CardHolder title="Informacije o dostavi">
    <div class="px-3">
      <template v-if="user">
        <div v-if="defaultAddress" class="row">
          <div class="col-12">
            <div class="form-label-group">
              <select
                id="address"
                ref="address"
                v-model="address"
                name="address"
                class="custom-select"
              >
                <option
                  v-for="addresses in user.address"
                  :key="addresses._id"
                  :value="addresses"
                >
                  {{ addresses.city }},
                  {{ addresses.street }}
                  {{ addresses.number }},
                  {{ addresses.postal_code }}
                </option>
              </select>
              <label for="address">Adresa za dostavu</label>
            </div>
          </div>
        </div>

        <div v-else class="col-12">
          <a
            class="card card-blue mb-3"
            data-toggle="modal"
            data-target="#addAddress"
            role="holder"
          >
            <div class="content-center">
              <b-icon icon="plus-circle" font-scale="1.5" class="mr-2"></b-icon>
              Dodaj adresu
            </div>
          </a>
        </div>
      </template>

      <div v-else class="row row-cols-2">
        <div class="col-6">
          <div class="form-label-group w-100">
            <input
              id="city"
              ref="city"
              v-model="city"
              type="text"
              placeholder="Mesto"
              autocomplete="off"
              class="form-control"
              required
            />
            <label for="city">Mesto</label>
          </div>
        </div>

        <div class="col-4">
          <div class="form-label-group w-100">
            <input
              id="postalCode"
              ref="postalCode"
              v-model="postalCode"
              type="text"
              placeholder="Poštanski kod"
              autocomplete="off"
              required="required"
              class="form-control"
            />
            <label for="postalCode">Poštanski kod</label>
          </div>
        </div>

        <div class="col-6">
          <div class="form-label-group w-100">
            <input
              id="street"
              ref="street"
              v-model="street"
              type="text"
              placeholder="Ulica"
              autocomplete="off"
              class="form-control"
              required
            />
            <label for="street">Ulica</label>
          </div>
        </div>

        <div class="col-4">
          <div class="form-label-group w-100">
            <input
              id="number"
              ref="number"
              v-model="number"
              type="number"
              placeholder="Broj"
              autocomplete="off"
              class="form-control"
              required
            />
            <label for="number">Broj</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="form-label-group w-100">
            <input
              id="phone"
              ref="phone"
              v-model="phone"
              type="number"
              placeholder="Kontakt Telefon"
              autocomplete="off"
              class="form-control"
              required
            />
            <label for="phone">Kontakt Telefon</label>
          </div>
        </div>

        <div class="col-12">
          <div class="form-label-group">
            <textarea
              id="comment"
              ref="comment"
              v-model="comment"
              placeholder="Napomena"
              autocomplete="off"
              required="required"
              class="form-control"
              style="height: 100px"
            />
            <label for="comment">Napomena</label>
          </div>
        </div>
      </div>
    </div>
    <template #footer>
      <div class="card-footer bg-lighter border-0 px-4">
        <div class="d-flex justify-content-between w-100">
          <IconButton
            color="default"
            theme="light"
            class="d-inline-flex rounded-pill px-2"
            @click.native="previous"
          >
            <b-icon icon="chevron-left" font-scale="1.5"></b-icon>
            <label class="d-none d-lg-block ml-1">Proizvodi</label>
          </IconButton>
          <IconButton
            color="blue"
            class="d-inline-flex rounded-pill px-2"
            @click.native="order"
          >
            <label class="d-none d-lg-block mr-1">Naruči</label>
            <b-icon icon="chevron-right" font-scale="1.5"></b-icon>
          </IconButton>
        </div>
      </div>
    </template>
  </CardHolder>
</template>

<script>
export default {
  name: 'CustomerDetails',
  props: {
    user: {
      type: [Object, Boolean, Array],
      required: true,
      default: false,
    },
    defaultAddress: {
      type: [Object, Boolean, Array],
      required: false,
      default: false,
    },
  },
  data() {
    return {
      address: null,
      city: null,
      street: null,
      number: null,
      postalCode: null,
      phone: null,
      comment: null,
    }
  },
  methods: {
    previous() {
      this.$emit('step', 0)
    },
    order() {
      let customerDetails = {
        city: this.city,
        street: this.street,
        number: this.number,
        postalCode: this.postalCode,
        phone: this.phone,
        comment: this.comment,
      }
      this.$emit('details', customerDetails)
    },
  },
}
</script>
