<template>
  <CardHolder title="Pregled proizvoda">
    <div class="px-3">
      <ProductsTable />
    </div>
    <template #footer>
      <div class="card-footer bg-lighter border-0 px-4">
        <div class="d-flex justify-content-between w-100">
          <nuxt-link :to="{ name: 'index' }" class="text-decoration-none">
            <IconButton
              color="default"
              theme="light"
              class="d-inline-flex rounded-pill pl-2 pr-3"
            >
              <b-icon icon="chevron-left" font-scale="1.5"></b-icon>
              <label class="d-none d-lg-block ml-1">Nastavi kupovinu</label>
            </IconButton>
          </nuxt-link>
          <IconButton
            color="blue"
            class="d-inline-flex rounded-pill ml-auto px-2"
            @click.native="next"
          >
            <label class="d-none d-lg-block mr-1">Sledeći korak</label>
            <b-icon icon="chevron-right" font-scale="1.5"></b-icon>
          </IconButton>
        </div>
      </div>
    </template>
  </CardHolder>
</template>

<script>
export default {
  name: 'Preview',
  props: {
    user: {
      type: [Object, Boolean, Array],
      required: true,
      default: false,
    },
    defaultAddress: {
      type: [Object, Boolean, Array],
      required: false,
      default: false,
    },
  },
  data() {
    return {
      city: null,
      street: null,
      number: null,
      postalCode: null,
      phone: null,
      comment: null,
    }
  },
  methods: {
    next() {
      this.$emit('step', 1)
    },
  },
}
</script>
